<div class="edit-menu">
    <button class="btn btn-icon btn-close" onclick="TODO.editMenu.buttonPressed('closed');">
        <i class="fas fa-times"></i>
    </button>
    <input class="nameInput edit-item" type="text" [(ngModel)]="dataEdit.name" />
    <label class="primary-slider-label edit-item"
        >Priority: Normal<input type="range" id="prioritySlider" min="0" max="3" [(ngModel)]="dataEdit.priority" />
        High</label
    >
    <br />
    <textarea
        id="notesTextarea"
        class="notesTextarea edit-item"
        placeholder="notes"
        [(ngModel)]="dataEdit.meta.notes"
    ></textarea>
    <div class="add-link-container">
        <input type="url" class="linkInput edit-item" id="linkInput" placeholder="Link" />
        <button class="btn btn-primary" onclick="TODO.editMenu.linkList.add()">add</button>
    </div>
    <div class="link-list" style="margin-top: 10px">
        <ul></ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-delete" style="float: left" onclick="TODO.editMenu.buttonPressed('delete');">
            delete
        </button>
        <button class="btn" style="color: white" onclick="TODO.editMenu.buttonPressed('closed');">cancel</button>
        <button class="btn btn-complete btn-done" onclick="TODO.editMenu.buttonPressed('done');">Done</button>
    </div>
</div>
