.edit-menu {
    margin-top: 30px;
    min-width: min(45vw, 30rem);
}
.edit-item {
    width: calc(100% - var(--modal-padding));
    margin-bottom: 10px;

    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;

    --outline-clr: rgba(128, 128, 128, 0);
    --outline-weight: 1px;
    box-shadow: 0 0 1px var(--outline-weight) var(--outline-clr), var(--box-shadow-s);
    background: var(--global-background);
}
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: var(--box-shadow-s);
}
.nameInput {
    display: block;
}
.nameInput:focus {
    --outline-clr: var(--primary-clr);
}

.priority-label {
    display: inline-flex;
    align-items: center;
}
select {
    font-size: 1rem;
    padding: 5px;
    border-radius: 6px;
    --outline-clr: rgba(128, 128, 128, 0);
    border: none;
}
.notesTextarea {
    width: calc(100% - var(--modal-padding));
    height: 70px;
    resize: vertical;
    max-height: 60vh;

    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--global-color);
}
.notesTextarea:focus {
    --outline-clr: var(--primary-clr);
}
.list-edit :is(.add-link-container, .link-list) {
    display: none;
}
.add-link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkInput {
    width: 105%;
    margin: 0 10px 0 0 !important;
    color: var(--global-color);
}
.linkInput:focus {
    --outline-clr: var(--primary-clr);
}
.link-list {
    box-shadow: var(--box-shadow-s);
    padding: 10px;
    border-radius: 8px;
}
.link-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link-list li {
    display: flex;
    align-items: center;
}
.link-list li a {
    transform: translateY(-2px);
}
.link-list li a:not(:hover) {
    text-decoration: none;
}

.btn-group {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-group button {
    margin-left: 10px;
}
.btn-group button.btn-delete {
    position: absolute;
    left: 0;
    margin-left: 0;
}
.btn-cancel {
    color: var(--global-color);
    background: var(--global-background);
    box-shadow: var(--box-shadow-s);
}