.edit-menu {
    margin-top: 30px
}
.edit-item {
    width: calc(100% - var(--modal-padding));
    margin-bottom: 10px;

    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;

    /* --outline-clr: gray; */
    --outline-clr: rgba(128, 128, 128, 0);
    --outline-weight: 1px;
    box-shadow: 0 0 1px var(--outline-weight) var(--outline-clr), var(--box-shadow-s);
    background: var(--global-background);
}
.edit-menu .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.edit-menu .nameInput {
    display: block;
}
.nameInput:focus {
    --outline-clr: var(--primary-clr);
}

.edit-menu .primary-slider-label {
    display: inline-flex;
    align-items: center;
}
.edit-menu .primary-slider-label {
    padding-top: 0;
    padding-bottom: 0;
}
.edit-menu .primary-slider-label input {
    background: none;
    box-shadow: none;
}
.edit-menu-container.list-edit .primary-slider-label {
    display: none;
}
.notesTextarea {
    width: calc(100% - var(--modal-padding));
    height: 70px;
    resize: vertical;
    max-height: 60vh;

    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--global-color);
}
.notesTextarea:focus {
    --outline-clr: var(--primary-clr);
}
.list-edit :is(.add-link-container, .link-list) {
    display: none;
}
.add-link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkInput {
    width: 105%;
    margin: 0 10px 0 0 !important;
    color: var(--global-color);
}
.linkInput:focus {
    --outline-clr: var(--primary-clr);
}
.link-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.edit-menu .btn-group {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.edit-menu .btn-group button {
    margin-left: 10px;
}
.edit-menu .btn-group button.btn-delete {
    position: absolute;
    left: 0;
    margin-left: 0;
}
