<app-modal id="edit-menu" (onClose)="close('Cancelled')">
    <div class="edit-menu" *ngIf="isOpen">
        <h2>{{ this.type }} details</h2>
        <button class="btn-icon-m clr-neutral close-btn" title="[esc]" (click)="close('Cancelled')">
            <i class="fas fa-times"></i>
        </button>
        <input
            class="nameInput edit-item input"
            type="text"
            placeholder="{{ this.type == 'Task' ? 'Task' : 'List' }} name"
            #nameInputRef
            [disabled]="noEdit"
            [(ngModel)]="data.name"
        />
        <label *ngIf="this.type == 'Task'" class="priority-label edit-item">
            <p>Priority:</p>
            <priority-icon [priority]="data.priority"></priority-icon>
            <select class="input" [(ngModel)]="data.priority" [disabled]="noEdit">
                <option value="3">High</option>
                <option value="2">Medium</option>
                <option value="1">Low</option>
                <option value="0">None</option>
                <option value="-1">Optional</option>
            </select>
        </label>

        <content-editable
            variant="input style"
            class="notesBlock edit-item"
            [class.animate-highlight]="this.hightlight == 'notes'"
            [focusEventSubject]="notesBlockFocusSubject.asObservable()"
            (focusEvents)="!$event && updateOriginalNotes()"
            (contentChanges)="data.meta.notes = $event"
            [contentEditableOptions]="{
                content: originalNotes,
                allowEdit: !noEdit,
                noKeybindings: true,
                placeholder: 'Notes'
            }"
            (keydownEvents)="$event.stopImmediatePropagation(); $event.key == 'Escape' && this.close('Cancelled')"
        >
        </content-editable>

        <div *ngIf="this.type == 'Task' && !noEdit" class="add-link-container">
            <single-input-form
                noFocusNoBorder
                noTopMargin
                type="url"
                placeholder="Link"
                class="linkInput"
                [focusChangeEvents]="linkFormFocusEventSubject.asObservable()"
                (onSubmit)="linkInput = $event; addLink()"
            ></single-input-form>
        </div>
        <div
            #linkList
            *ngIf="this.type == 'Task' && this.data.meta.links.length"
            class="link-list"
            [class.animate-highlight]="this.hightlight == 'links'"
            style="margin-top: 10px"
        >
            <ul *ngIf="this.data.meta.links.length">
                <div class="link-container" *ngFor="let link of this.data.meta.links; let i = index">
                    <hr *ngIf="i" />
                    <li>
                        <a class="break-all" [href]="link" target="_blank">{{ link }}</a>
                        <button
                            *ngIf="!noEdit"
                            class="btn-icon-m clr-danger"
                            (click)="removeLink(i)"
                            style="margin-left: 1rem"
                        >
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </li>
                </div>
            </ul>
        </div>

        <div class="btn-group">
            <button class="btn-m clr-danger" style="float: left" (click)="close('Deleted')">delete</button>
            <button class="btn-m clr-neutral" title="[esc]" (click)="close('Cancelled')">
                {{ noEdit ? "close" : "cancel" }}
            </button>
            <button *ngIf="!noEdit" class="btn-m clr-submit" title="[↵]" (click)="close('OK')">
                Done <loading-spinner *ngIf="isLoading"></loading-spinner>
            </button>
        </div>
    </div>
</app-modal>
