.edit-menu {
    /* margin-top: 30px; */
    min-width: min(45vw, 30rem);
    max-width: 90vw;
}
@media screen and (max-width: 650px) {
    .edit-menu {
        width: 82vw;
    }
}
@media screen and (min-width: 900px) {
    .edit-menu {
        max-width: 70vw;
    }
}
@media screen and (min-width: 1200px) {
    .edit-menu {
        max-width: 60vw;
    }
}
@media screen and (min-width: 1600px) {
    .edit-menu {
        max-width: 50vw;
    }
}

h2 {
    margin-top: 0;
}

.edit-item {
    width: calc(100% - var(--modal-padding));
    margin-bottom: 10px;

    padding: 10px;

    background: var(--global-background);
}
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: var(--box-shadow-s);
}
.nameInput {
    display: block;
}

.priority-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.priority-label > * {
    display: block;
    margin: 0 .7em 0 0;
}
.priority-label priority-icon {
    margin: 0 .5em 0 0;
}
select {
    font-size: 1rem;
    border-radius: 6px;
}
.notesBlock {
    width: 100%;
    max-height: 50vh;

    font-size: 1rem;
    color: var(--global-color);
}
.list-edit :is(.add-link-container, .link-list) {
    display: none;
}
.add-link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkInput {
    width: 105%;
    /* margin: 0 10px 0 0 !important; */
    color: var(--global-color);
}
.link-list {
    box-shadow: var(--box-shadow-s);
    padding: 10px;
    border-radius: 10px;
}
.link-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link-container hr {
    position: relative;
    left: -10px;
    width: calc(100% + 18px);
    border-color: hsla(0, 0%, 50%, 0.5);
    /* opacity: .1; */
}
.link-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-container li a {
    transform: translateY(-2px);
}
.link-container li a:not(:hover) {
    text-decoration: none;
}

.btn-group {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-group button {
    margin-left: 10px;
}
.btn-group button.btn-danger {
    position: absolute;
    left: 0;
    margin-left: 0;
}
/* .btn-neutral {
    --bg-clr-sat: 0%;
    --bg-opacity: .5;
    box-shadow: var(--box-shadow-s);
} */
loading-spinner {
    margin-left: 10px;
}