<app-main-pane>
    <ng-container header>
        <div
            class="header-progress | absolute inset-x-0 bottom-0 flex opacity-90"
            *rxIf="progressBarSegments$; let segments"
        >
            <div
                *rxFor="let segment of segments; trackBy: trackByStatus"
                class="progress-segment | h-[2px]"
                [class.opacity-0]="!segments"
                [ngClass]="segment.colorClass"
                [style.width]="segment.percent + '%'"
            ></div>
        </div>

        <div class="grow">
            <ng-content select="[headerBeforeOptions]"></ng-content>
        </div>

        <div cdkMenuBar class="flex h-full items-center gap-2 pr-2">
            <button cdkMenuItem class="icon-btn" [cdkMenuTriggerFor]="options" #trigger="cdkMenuTriggerFor">
                <app-icon icon="ellipsisVertical"></app-icon>
            </button>

            <ng-template #options>
                <app-drop-down
                    *ngIf="entity$ | async as entity"
                    [items]="(entityOptionsItems$ | async) || []"
                    [rootTrigger]="trigger"
                    [data]="{ id: entity.id, entityType: entity.entityType }"
                ></app-drop-down>
            </ng-template>
        </div>

        <ng-content select="[headerAfterOptions]"></ng-content>
    </ng-container>

    <ng-container main>
        <div #top></div>

        <ng-container
            *ngComponentOutlet="entityViewComponent$ | push; injector: entityViewInjector"
        ></ng-container>
    </ng-container>
</app-main-pane>
