<div class="menu-container">
    <input type="checkbox" id="checkbox" style="display: none" [checked]="isOpen" />
    <label
        role="button"
        class="btn btn-icon btn-{{ color }} size-{{ size }}"
        [class.hover]="isTouchDevice && isOpen"
        (click)="toggleMenu()"
    >
    <span *ngIf="!icon; else elseBlock" [class]="type"></span>
    <ng-template #elseBlock><i [class]="icon"></i></ng-template>
    </label>

    <!-- <div style="display: none;" #checkForNgContent><ng-content></ng-content></div> -->
    <div class="drop-down {{ orientation }} {{ position }}" [class.open]="isOpen && !(noDropDown === true || noDropDown === '')">
        <ng-content></ng-content>
    </div>
</div>
