<div class="inline-flex" *ngIf="entity$ | async as entity" data-test-name="entity-name-container">
    <ng-template #icon>
        <app-icon
            *rxLet="isLoading$; let isLoading; strategy: 'native'"
            class="inline-flex w-6 justify-center text-2xl"
            [icon]="isLoading ? EntityState.LOADING : entity.status || entity.entityType"
            [attr.data-test-is-loading]="isLoading"
        >
        </app-icon>
    </ng-template>

    <div class="mr-2.5 inline-block translate-y-[-0.1875rem]">
        <button
            *ngIf="taskStatusMenuItems$ | async as statusItems; else elseBlock"
            [cdkMenuTriggerFor]="statusMenu"
            class="icon-btn aspect-square p-4"
            [appTooltip]="tooltip"
            [tooltipOptions]="{ avoidPositions: ['right'] }"
        >
            <ng-container *ngTemplateOutlet="icon"></ng-container>
            <ng-template #statusMenu>
                <app-drop-down [items]="statusItems" [data]="{ id: entity.id }"></app-drop-down>
            </ng-template>
        </button>

        <ng-template #elseBlock>
            <div [appTooltip]="tooltip" [tooltipOptions]="{ avoidPositions: ['right'] }">
                <ng-container *ngTemplateOutlet="icon"></ng-container>
            </div>
        </ng-template>

        <ng-template #tooltip>
            <span class="text-tinted-300">Type: </span><span>{{ entity.entityType }}</span>
            <ng-container *ngIf="entity.entityType == EntityType.TASK">
                <span class="text-tinted-300">, Status: </span>
                <span [class]="taskStatusColorMap[entity.status].text">{{
                    taskStatusLabelMap[entity.status]
                }}</span>
            </ng-container>
        </ng-template>
    </div>

    <app-inline-editor
        class="title"
        [textInput]="entity.title || ''"
        [placeholder]="ENTITY_TITLE_DEFAULTS[entity.entityType]"
        [enableDebouncedUpdates]="false"
        (update)="titleUpdates$.next($event)"
        [editorClass]="{ 
            'pr-14': true,
            'line-through focus:no-underline decoration-primary-400 decoration-[4px]': entity.status == TaskStatus.NOT_PLANNED,
        }"
        data-test-name="editable-entity-name"
    ></app-inline-editor>
</div>
