<app-modal id="edit-menu">
    <div class="edit-menu">
        <button class="btn btn-icon btn-close" (click)="close('Cancelled')">
            <i class="fas fa-times"></i>
        </button>
        <input
            class="nameInput edit-item input"
            type="text"
            placeholder="task name"
            #nameInputRef
            [(ngModel)]="dataEdit.name"
        />
        <label *ngIf="this.type == 'Task'" class="priority-label edit-item"
            >Priority: &nbsp;
            <select class="input" [(ngModel)]="dataEdit.priority">
                <option value="0">None</option>
                <option value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
            </select>
        </label>

        <textarea
            id="notesTextarea"
            class="notesTextarea edit-item input"
            placeholder="notes"
            [(ngModel)]="dataEdit.meta.notes"
        ></textarea>

        <div *ngIf="this.type == 'Task'" class="add-link-container">
            <input
                type="url"
                class="linkInput edit-item input"
                id="linkInput"
                placeholder="Link"
                [(ngModel)]="linkInput"
            />
            <button class="btn btn-primary" [disabled]="!this.trimLinkInput() || !linkInput" (click)="addLink()">add</button>
        </div>
        <div *ngIf="this.type == 'Task' && this.dataEdit.meta.links.length" class="link-list" style="margin-top: 10px">
            <ul *ngIf="this.dataEdit.meta.links.length > 0">
                <li *ngFor="let link of this.dataEdit.meta.links; let i = index">
                    <a [href]="link" target="_blank">{{ link }}</a>
                    <button class="btn btn-delete btn-icon" (click)="removeLink(i)" style="margin-left: 1rem">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </li>
            </ul>
        </div>

        <div class="btn-group">
            <button class="btn btn-delete" style="float: left" (click)="close('Deleted')">delete</button>
            <button class="btn btn-cancel" title="Escape" (click)="close('Cancelled')">cancel</button>
            <button class="btn btn-complete btn-done" title="Enter" (click)="close('OK')">Done</button>
        </div>
    </div>
</app-modal>
