<app-centered-layout data-test-name="signup-page">
    <h1>Signup</h1>

    <app-form
        [formOptions]="formOptions"
        submitButton="Signup"
        (formSubmit)="onSubmit($event)"
        [extraErrorMessages]="(errorMap$ | async) || {}"
        [isLoading]="(isLoading$ | async) || false"
        containerClasses="grid gap-3"
        gridAreas="
    'username username email           email'
    'password password confirmPassword confirmPassword'
    'auto     submit   submit          fill'
    "
    ></app-form>

    <p class="text-tinted-400 mt-4 text-center">
        Already have an account? <a routerLink="/auth/login" data-test-name="login-link">Login</a>
    </p>
</app-centered-layout>
