:host {
    display: block;
    padding: 0 !important;
    border-radius: var(--border-rad-xl);
}
.position-placeholder {
    position: relative;
}
.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    font-size: .93em;
    padding: 15px;
    --margin: 2px;
    margin-left: var(--margin);
    color: var(--tinted-neutral-400);
    // opacity: .45;
}
.placeholder.hide {
    opacity: 0;
}
.placeholder.full-border {
    margin-top: var(--margin);
}
.placeholder.input-style {
    padding: 10px;
    --margin: 1px;
}
.contentBlock {
    box-sizing: border-box;
    min-height: 25px;
    max-height: 200px;
    width: 100%;
    font-size: .93em;

    overflow-y: scroll;

    color: var(--global-color);
    border-radius: var(--b-radius);
    --b-radius: var(--border-rad-m);
    padding: 10px;
    
    background: none;
    box-shadow: none;
}
.contentBlock:not(:focus) {
    --outline-clr: var(--tinted-gray-600);
}
.contentBlock:not(.input-style) {
    --b-radius: var(--border-rad-xl);
    border-width: 2px;
    padding: 15px;
}
.contentBlock:not(.full-border, .input-style) {
    border-radius: 0 0 var(--b-radius) var(--b-radius);
    border-top: none !important;
}

::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--tinted-gray-400);
}