@import '~@angular/cdk/overlay-prebuilt.css';
@import '~../../../node_modules/@ngneat/hot-toast/src/styles/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Needed for toast */
:root {
    --submit-400: theme(colors.submit.400);

    --tinted-100: theme(colors.tinted.100);
    --tinted-400: theme(colors.tinted.400);
    --tinted-800: theme(colors.tinted.800);
    --tinted-900: theme(colors.tinted.900);

    --danger-400: theme(colors.danger.400);

    --primary-400: theme(colors.primary.400);
    --secondary-400: theme(colors.secondary.400);
}

body {
    @apply bg-tinted-900 text-tinted-100;
}

::selection {
    @apply bg-primary-200 text-primary-800;
}
* {
    scrollbar-color: theme('colors.tinted.700') transparent;
    scrollbar-width: thin;
}
@supports not (scrollbar-color: auto) {
    ::-webkit-scrollbar {
        width: 0.4rem;
        height: 0.4rem;
    }
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-tinted-700 hover:bg-tinted-600 rounded-full;
    }
}

[disabled] {
    @apply cursor-not-allowed;
}
:where(button:not(.outline-none, .no-outline, .menu-item, .icon-btn)):focus-visible {
    @apply outline-primary-400;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////// TYPOGRAPHY ///////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
ul:not([data-type='taskList']),
ol {
    @apply pl-6;
}

ul > li {
    @apply list-disc;
}

ol > li {
    @apply list-decimal;
}

hr {
    @apply border-tinted-600;
}

p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0.6em 0 0.45em;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

pre {
    @apply text-submit-400 select-text whitespace-pre-wrap;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////// COMPONENTS ///////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
@layer components {
    a:not([class*='button'], .skip-default-a-styles),
    .link {
        @apply text-primary-400 hover:text-primary-300 hover:underline;
    }

    .button-m {
        @apply bg-tinted-800 text-tinted-300 hover:bg-tinted-700 hover:text-tinted-100 rounded-md px-2 py-0.5 transition-colors;
    }
    /* @TODO: This should be button-lg */
    .button {
        @apply bg-tinted-500 text-tinted-100 hover:bg-tinted-600 rounded-lg px-5 py-2 font-semibold transition-colors;
    }

    .button-naked {
        @apply hover:bg-tinted-700 rounded-lg px-2 py-1 transition-colors duration-75;
    }
    .button-naked i {
        @apply mr-1 w-4 text-center text-sm;
    }

    .button-icon-naked {
        /* @TODO: This would need to be adjusted when touch device specific styles/behaviour are added */
        @apply py-0 duration-75;
    }
    .button-icon-naked i {
        @apply hover:bg-tinted-700 m-0 inline-block aspect-square rounded px-2.5 py-0.5 text-base transition-colors;
    }
    .icon-btn {
        @apply hover:bg-tinted-600 inline-flex h-7 min-w-[1.75rem] items-center justify-center rounded-lg px-1 outline-none transition-colors duration-75;
    }

    .button--submit {
        @apply bg-submit-400 text-tinted-900 hover:bg-submit-600;
    }
    .button--danger {
        @apply bg-danger-400 hover:bg-danger-600;
    }

    .input {
        @apply bg-tinted-700 ring-primary-400 rounded-lg px-3 py-2 outline-none focus:ring-2;
    }
    .input::placeholder {
        @apply text-tinted-300;
    }

    .keybinding,
    kbd {
        @apply border-tinted-600/70 bg-tinted-700 text-tinted-300 inline-block h-6 min-w-[1.5rem] rounded-md border px-0.5 py-[0.0625rem] text-center text-[0.8125rem] font-semibold;
    }

    .show-placeholder::before {
        content: attr(data-placeholder);
        color: var(--placeholder-color, theme('colors.tinted.400'));
    }

    :is(.input, .button)[disabled] {
        @apply brightness-75;
    }

    .dropdown-menu {
        min-width: 180px;
        max-width: 280px;
        @apply border-tinted-700 bg-tinted-800 glass mx-2 flex flex-col gap-0.5 rounded-xl border bg-opacity-80 p-1.5 shadow-lg;
    }

    .menu-item {
        @apply button-naked text-left outline-none duration-[20ms];
    }

    .dropdown-menu .menu-item {
        @apply pl-2.5;
    }
    .dropdown-menu .menu-item:is(.menu-item--default, :not([class*='menu-item--'])) {
        @apply hover:bg-tinted-600;
    }
    .menu-item:is(.menu-item--default, :not([class*='menu-item--'])) {
        @apply hover:bg-tinted-700;
    }

    .menu-item.menu-item--danger {
        @apply text-danger-400 hover:bg-danger-400 hover:text-danger-900;
    }

    .menu-item.menu-item--submit {
        @apply text-submit-500 hover:bg-submit-400 hover:text-submit-900;
    }
}

/* Cannot be in the @layer because there is no actual reference for this class name in the source code */
.cdk-overlay-backdrop {
    @apply bg-tinted-900/50 backdrop-blur-md;
}

@layer utilities {
    .bg-dotted {
        background-image: radial-gradient(theme('colors.tinted.800') 8%, transparent 8%);
        background-position: 0.7rem 0.6rem;
        background-size: 27px 27px;
    }
    .fade-in-out-y {
        image-rendering: pixelated;
        mask-image: linear-gradient(transparent, 200px, white, calc(100% - 200px), transparent);
    }
    .fade-in-out-x {
        image-rendering: pixelated;
        mask-image: linear-gradient(to right, transparent, 10%, white, 90%, transparent);
    }

    .height-screen {
        height: 100vh;
        height: -webkit-fill-available;
        height: 100dvh;
    }
    .min-height-screen {
        min-height: 100vh;
        min-height: -webkit-fill-available;
        min-height: 100dvh;
    }

    .highlight {
        @apply bg-secondary-400 text-tinted-900 rounded-[0.25em];
    }
}
