<div class="pointer-events-none absolute inset-y-0 -top-12 right-0 h-full">
    <app-toolbar
        class="pointer-events-auto sticky top-2 z-10 block w-fit max-w-[70vw] overflow-x-auto"
        [hide]="!(isActive$ | async)"
    >
        <app-tt-editor-toolbar
            [ttEditor]="descriptionTtEditor"
            [layout]="toolbarLayout$ | push"
        ></app-tt-editor-toolbar>
    </app-toolbar>
</div>

<app-tt-editor
    #descriptionTtEditor
    [bind]="bindConfig$ | push"
    (isActive)="isActive$.next($event)"
    (updateOnBlur)="updateInput$.next($event)"
    (blur)="blurInput$.next($event)"
    data-test-name="description-editor"
></app-tt-editor>
