:root {
    --: #1cde02;
    --theme_color: #1976d2;
    --background_color: #fafafa;

    /* --primary-clr-hue: 44; */
    --primary-clr-hue: 53;
    --primary-clr: hsl(var(--primary-clr-hue), 100%, 50%);
    --secondary-clr-hue: 270;
    --secondary-clr: hsl(var(--secondary-clr-hue), 100%, 60%);

    --danger-clr-hue: 345;
    --danger-clr: hsl(var(--danger-clr-hue), 100%, 50%);

    /* --submit-clr-hue: 113; */
    --submit-clr-hue: 150;
    --submit-clr: hsl(var(--submit-clr-hue), 100%, 47%);

    --btn-icon-size: 2rem;

    /* --bg-clr-hue: 234; */
    --bg-clr-hue: 270;

    --primary-font: futura, helvetica, arial, sans-serif;
    --modal-padding: 20px;
    --breakpoint-m: 650px;
}

:root.light {
    --global-background: hsl(var(--bg-clr-hue), 5%, 91%);
    /* --global-item-bg: hsl(var(--bg-clr-hue), 10%, 88%); */
    --global-item-bg: var(--global-background);
    --global-item-bg-alt: hsl(var(--bg-clr-hue), 5%, 85%);
    --global-item-bg-highlight: hsl(var(--bg-clr-hue), 5%, 98%);

    --global-color: hsl(var(--bg-clr-hue), 14%, 14%);

    /* --primary-clr-hue: 180; */
    --primary-clr-hue: 43;
    --primary-clr: hsl(var(--primary-clr-hue), 100%, 48%);

    --submit-clr: hsl(var(--submit-clr-hue), 100%, 42%);

    --box-shadow-s: 0 0 10px rgba(0, 0, 0, 0.466);
    --box-shadow-m: 0 0 10px rgba(0, 0, 0, 0.418), 0 0 20px rgba(0, 0, 0, 0.425);
    --box-shadow-l: 0 0 150px rgba(0, 0, 0, 0.473), 0 0 30px rgba(0, 0, 0, 0.418);
}
:root.dark {
    --global-background: hsl(var(--bg-clr-hue), 13%, 14%);
    --global-item-bg: hsl(var(--bg-clr-hue), 15%, 16%);
    --global-item-bg-alt: hsl(var(--bg-clr-hue), 15%, 20%);
    --global-item-bg-highlight: hsl(var(--bg-clr-hue), 20%, 30%);

    --global-color: white;

    --box-shadow-s: 0 0 10px rgba(0, 0, 0, 0.61);
    --box-shadow-m: 0 0 10px rgba(0, 0, 0, 0.603), 0 0 20px rgba(0, 0, 0, 0.61);
    --box-shadow-l: 0 0 20px rgba(0, 0, 0, 0.514), 0 0 40px rgba(0, 0, 0, 0.514);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start; /* TODO: make this user decidable */

    margin: 0;
    padding: 0;

    font-family: var(--primary-font);
    color: var(--global-color);

    background: var(--global-background);

    transition: 500ms;
}

* {
    font-family: var(--primary-font);
}
::selection {
    background: var(--primary-clr);
    color: rgb(27, 27, 27);
}
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
::-webkit-scrollbar-track {
    background: var(--global-background);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-clr);
}
[disabled] {
    background: var(--global-background) !important;
    color: var(--global-color) !important;
    cursor: not-allowed !important;
}
.disabled {
    /* filter: opacity(0);
    opacity: 0;
    pointer-events: none;
    cursor: not-allowed !important; */
    display: none !important;
}

.dimm-1 {
    filter: opacity(0.6) brightness(0.9);
}
.dimm-2 {
    filter: opacity(0.5) brightness(0.75);
}

.toggle-icons:not(:hover) > i:last-of-type {
    display: none;
}
.toggle-icons:hover > i:first-of-type {
    display: none;
}

a {
    color: var(--primary-clr);
}
button {
    cursor: pointer;
}
input,
.btn {
    font-size: 16px;
    padding: 7.5px;
    border: 0;
    border-radius: 10px;
    color: var(--global-background);

    --shadow: var(--box-shadow-s);
    box-shadow: var(--shadow);
}
.input {
    background: var(--global-background);
    color: var(--global-color);

    outline: none;
    border: var(--outline-weight) solid var(--outline-clr);
    --outline-clr: gray;
    --outline-weight: 1px;
    box-shadow: var(--box-shadow-s);
    transition: 180ms;
}
.input:focus {
    --outline-clr: var(--primary-clr);
}
.btn {
    --color: var(--clr);
    padding: 7.5px 15px;
    font-weight: 800;
    cursor: pointer;
    background: var(--color);

    transition: transform 150ms, background 200ms, color 180ms, filter 150ms;
}
body:not(.touchDevice) .btn:hover:not([disabled], .modal-btn),
body.touchDevice .btn.hover:not([disabled], .modal-btn) {
    transform: scale(1.09);
    filter: opacity(1) brightness(1) !important;
    background: var(--clr);
    --color: var(--global-background);
}

.modal-btn {
    padding: 3px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    font-weight: 650;
    --color: var(--global-color);
    color: var(--color);

    /* prettier-ignore */
    background: hsl(
        var(--color-hue, var(--secondary-clr-hue)) 
        var(--bg-clr-sat, 100%) 
        var(--bg-clr-lightness, 50%) 
        / var(--bg-opacity, .5));
    --bg-opacity: 1;

    transition: color 110ms, background 115ms;
}
.modal-btn:is(:hover, :focus) {
    --bg-clr-lightness: 35%;
}

.btn-icon {
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    padding: 7px;
    border: none;
    color: var(--color);
    background: var(--global-background);
    box-shadow: var(--shadow), 0 0 0 1px hsl(var(--color-hue) 100% 50% / 0.6);
}
.btn-primary {
    --color-hue: var(--primary-clr-hue);
    --clr: var(--primary-clr);
}
.btn-secondary, .secondary-clr {
    --color-hue: var(--secondary-clr-hue);
    --clr: var(--secondary-clr);
    --color: var(--secondary-clr);
}
.btn-edit {
    --color-hue: var(--primary-clr-hue);
    --clr: var(--primary-clr);
}

.btn-delete,
.btn-danger,
.danger-clr {
    --color-hue: var(--danger-clr-hue) !important;
    --clr: var(--danger-clr) !important;
    --color: var(--danger-clr);
}
.modal-btn.btn-delete,
.modal-btn.btn-danger {
    color: white;
}

.btn-complete,
.btn-submit,
.submit-clr {
    --color-hue: var(--submit-clr-hue);
    --clr: var(--submit-clr);
    --color: var(--submit-clr);
}
.modal-btn.btn-submit {
    color: black;
}
.btn-neutral {
    background: hsl(0 0% var(--bg-clr-lightness, 50%) / 0.5);
    color: var(--global-color);
    box-shadow: var(--box-shadow-s);
}

.badge {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    height: 23px;
    min-width: 23px;
    width: max-content;
    padding: 0 5px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    /* font-weight: 700; */
    border-radius: 10px;
    color: var(--text-clr, var(--global-background));
    
    background: var(--color);
}
.badge-outline {
    border: 1px solid var(--color);
    color: var(--color);
    background: var(--global-background);
}
.dark .text-shadow {
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.623);
}


/*/////////////////////////////// animations ///////////////////////////////*/
.spin {
    animation: spin 0.5s infinite linear;
}
@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}

.animate-highlight {
    animation: highlight 1000ms 350ms;
}
@keyframes highlight {
    50% {
        background: var(--global-item-bg-highlight);
    }
}