<span>
    <i *ngIf="this.priority == -1" class="fas fa-question submit-clr"></i>
    <i *ngIf="this.priority == 0" class="far fa-exclamation dimm-2"></i>
    <i
        *ngFor="let _ of this.priorityArr; let i = index"
        class="fas fa-exclamation danger-clr"
        [style]="i ? 'margin-left:5px;' : ''"
    ></i>

    <i *ngIf="showDropDown" class="fas fa-caret-down caret dimm-2" ></i>
</span>

<select
    #select
    *ngIf="showDropDown"
    [value]="priority"
    class="drop-down"
    onchange="this.blur()"
    (change)="updatePriorityFromWithin(select.value)"
    [disabled]="noEdit"
>
    <option value="3">High</option>
    <option value="2">Medium</option>
    <option value="1">Low</option>
    <option value="0">None</option>
    <option value="-1">Optional</option>
</select>
