.task:not(.touchDevice) .first-row-detailIcons {
    margin-right: 130px;
}
.detail-icons-wrapper {
    font-size: 1.1rem;
    margin: 0 10px 0 0;
    padding-left: 2px;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transform-origin: left;
    transition: background 80ms, box-shadow 80ms;
    isolation: isolate;
}
.task:not(.completed, .completed-transition) .first-row-detailIcons .detail-icons-wrapper {
    background: var(--background);
    box-shadow: -7px  0 5px  -5px  var(--background), 
                -10px 0 7px  -7px  var(--background), 
                -12px 0 10px -10px var(--background), 
                -15px 0 15px -15px var(--background);
}
.detail-icon {
    display: block;
    width: max-content;
    color: hsl(var(--primary-clr-hue), 100%, 55%);
    cursor: pointer;
    transition: color 180ms, filter 180ms, opacity 130ms;
}
.detail-icon:not(:first-child) {
    margin: 0 0 0 5px;
}
.task:not(.touchDevice) .detail-icon:hover {
    color: var(--primary-clr);
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.task:not(:hover, .touchDevice) .notes-icon.reveal,
.task.completed .notes-icon.reveal  {
    opacity: 0;
}
.task.touchDevice .notes-icon.reveal {
    opacity: 0.3;
}
.notes-icon {
    position: relative;
    top: 2px;
}
.detail-icon:is(.reveal, .grayscale):not(:hover) {
    filter: grayscale(1);
}