/* .pop-out-collapsed {
    box-sizing: border-box;
    margin: 0 1rem;
    height: 13px;
    padding: 0;
    border-color: transparent;

    border-radius: 0 0 14px 14px;
    box-shadow: var(--box-shadow-s);
    cursor: pointer;
    transition: border-color 180ms;
}
.pop-out-collapsed:hover {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(--primary-clr);
} */
.pop-out-container {
    margin: 0 1rem;
}
.notesBlock {
    box-sizing: border-box;
    min-height: 50px;
    max-height: 200px;
    width: 100%;
    font-size: .93em;

    overflow-y: scroll;
    word-break: break-all;

    color: var(--global-color);
    border-top: none !important;
    border-width: 2px;
    border-radius: 0 0 14px 14px;
    padding: 15px;

    background: none;
    /* box-shadow: var(--box-shadow-s); */
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.61); */
    box-shadow: none;
}
.notesBlock:not(:focus) {
    --outline-clr: var(--tinted-gray-600);
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--tinted-gray-400);
}

.position-pop-out-actions {
    position: relative;
    transition: opacity 180ms;
}
.task-wrapper:not(:hover, .isNotesBlockFocused, .touchDevice) .position-pop-out-actions {
    opacity: 0;
}
.pop-out-actions-container {
    position: absolute;
    bottom: 15px;
    right: 17.5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.pop-out-action {
    margin: 0 0 0 10px;
    font-size: 1.2rem;

    color: var(--color, var(--global-color));
    border: none;
    padding: 0;

    background: none;
    /* prettier-ignore */
    text-shadow: 0 0 2px var(--global-background), 
                 0 0 5px var(--global-background), 
                 0 0 8px var(--global-background),
                 0 0 10px var(--global-background), 
                 0 0 12px var(--global-background), 
                 0 0 15px var(--global-background);
    transition: color 130ms, filter 130ms;
}
.pop-out-action:hover {
    color: var(--color, var(--primary-clr));
}

.pop-out-action:not(.no-filter):hover {
    filter: opacity(0.6);
}