:host {
    display: block;
    --bg: var(--global-item-bg);
    --alt-bg: var(--global-item-bg-alt);
    /* background: var(--global-item-bg-highlight); */
    border-radius: 14px;
}
.task-wrapper {
    display: flex;
    flex-direction: column-reverse;
}
.task {
    box-sizing: border-box;
    border-radius: 14px;
    list-style: none;

    --background: var(--bg);
    background: var(--background);
    box-shadow: var(--box-shadow-s), 0 0 0px 0px var(--primary-clr);
    transition: filter 150ms, background 80ms, box-shadow 200ms;
}
.task.highlight-border {
    --border-clr: var(--primary-clr);
    box-shadow: var(--box-shadow-s), 0 0 0px 2px var(--border-clr);
}
.alt-bg {
    --background: var(--alt-bg);
}
.task:not(.touchDevice):hover {
    --background: var(--global-item-bg-highlight) !important;
}
.task.completed {
    filter: opacity(0.45) brightness(0.8);
}
.task.completed:hover {
    filter: opacity(1);
}

.outer-wrapper {
    display: flex;
    align-items: center;
}
.inner-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    padding: 10px;
    border-radius: 14px;

    isolation: isolate;
    overflow: hidden;
}

.btn-complete {
    position: relative;
    margin-right: 10px;

    --shadow: 0 0 0px 0px hsla(var(--color-hue), 97%, 58%, 0.3);
    --shadow-transition: box-shadow 300ms ease-in;
    box-shadow: var(--shadow);
    transition: var(--shadow-transition), transform 200ms, color 200ms, background 200ms;
}
.task.completed-transition .btn-complete,
.task.completed .btn-complete:hover {
    --shadow: 0 0 50px 100vw hsla(var(--color-hue), 97%, 58%, 0.2);
    --shadow-transition: box-shadow 400ms ease-out;
    /* text-shadow: var(--box-shadow-s), 0 0 10px hsla(var(--color-hue), 97%, 58%, 0.3); */
}
.task:is(.completed-transition, .completed):not(.touchDevice) .btn-complete:not(:hover),
.task.touchDevice:is(.completed-transition, .completed) .btn-complete {
    background: hsla(var(--color-hue), 97%, 58%, 0.2);
}
/* .task:not(.completed, .completed-transition) .btn-complete:not(:hover),
.task.touchDevice:not(.completed, .completed-transition) .btn-complete {
    color: gray;
} */

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

p .taskName {
    position: relative;
    margin-right: 0.2rem;
}
p .taskName::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;

    background: var(--submit-clr);
    box-shadow: var(--box-shadow-m);
    transition: width 320ms, box-shadow 220ms;
}
.task:is(.completed, .completed-transition) p .taskName::before {
    width: 100%;
    box-shadow: var(--box-shadow-s);
}

.second-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

p.subtask-list-toggle {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

menu-toggle-btn {
    float: right;
    margin: 10px;
}
.position-task-action-btns {
    position: relative;
    height: 100%;
}
.btn-group {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    margin: 0;
    /* padding: 7px; */
    width: max-content;

    float: right;
    display: flex;

    transition: background 120ms;
}
/* .btn-group:hover {
    background: var(--global-background);
} */
.btn-group .btn + .btn {
    margin-left: 10px;
}
.btn-group .btn:not(:hover) {
    text-shadow: var(--box-shadow-m);
}
.task:not(:hover) .btn-group .btn {
    transform: scale(0.5);
    filter: opacity(0);

    --delay: calc(50ms * var(--btn-index-reverse));
}
.btn-group .btn:not(:hover) {
    --delay: calc(80ms * var(--btn-index));
    transition: background 200ms, transform 200ms var(--delay), filter 150ms /* 80ms */var(--delay);
}
