
.position-task-progress {
    position: relative;
}
.task-progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18px;
    isolation: isolate;

    border-radius: 9px;
    pointer-events: none;
    overflow: hidden;
}
.task-progress {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: calc(100% - 0px);
    height: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: opacity 280ms, height 180ms;
}
.task:not(:hover) .task-progress {
    opacity: 0.4;
    height: 1.5px;
}
.task-progress > * {
    height: 100%;
    box-shadow: 0 0 2px var(--color), 0 0 5px var(--color), 0 0 7px var(--color), 0 0 10px var(--color);
    background: var(--color);
}
.task:hover .task-progress > * {
    box-shadow: 0 0 5px var(--color), 0 0 10px var(--color);
}
