<h2>Forms</h2>
<app-form
    [formOptions]="formOptions"
    submitButton="Signup"
    (formSubmit)="onSubmit($event)"
    [extraErrorMessages]="{}"
    [isLoading]="isLoading"
></app-form>

<div class="spacer | my-4"></div>
<h2>Single Inputs</h2>
<app-input
    name="Full name"
    [control]="fullnameControl"
    [errorMessages]="{ required: '$name must not be empty!' }"
></app-input>

<div class="spacer | my-4"></div>
<h2>Tasks</h2>

<div class="flex w-full flex-col gap-2">
    <task *ngFor="let task of tasks" [data]="task"></task>
</div>
