<ng-container *rxIf="taskEntity$; let entity; strategy: 'native'">
    <h1 class="heading | mt-4">
        <app-editable-entity-title [entity]="entity"></app-editable-entity-title>
    </h1>

    <div class="button-group | flex w-full flex-wrap-reverse items-center justify-between gap-4" cdkMenuBar>
        <div class="flex flex-wrap gap-2">
            <button
                *rxIf="!(isDescriptionOpen$ | push)"
                class="add-description-button | button-naked"
                appTooltip="Add a description to this task"
                (click)="openDescription()"
                cdkMenuItem
                data-test-name="add-description"
            >
                <app-icon icon="description"></app-icon>
                Add description
            </button>

            <button
                class="create-subtask-button | button-naked"
                (click)="createSubtask()"
                cdkMenuItem
                appTooltip="Create a new subtask"
                data-test-name="create-subtask"
            >
                <app-icon icon="fas fa-plus"></app-icon>
                New subtask
            </button>
        </div>

        <ng-container *rxIf="!(hasSidepanel$ | push)">
            <div *rxIf="task$; let task" class="flex flex-wrap gap-2">
                <button
                    class="priority-button | button-naked text-tinted-100"
                    data-test-name="task-priority"
                    cdkMenuItem
                    [cdkMenuTriggerFor]="priorityMenu"
                    appTooltip="Priority"
                    #priorityBtnTooltip="appTooltip"
                    (cdkMenuClosed)="priorityBtnTooltip.scheduleHideTooltip()"
                >
                    <app-icon [icon]="task.priority"></app-icon>
                    <span>{{ taskPriorityLabelMap[task.priority] }}</span>
                    <app-icon icon="caretDown"></app-icon>
                    <ng-template #priorityMenu>
                        <app-drop-down [items]="priorityMenuItems" [data]="task"></app-drop-down>
                    </ng-template>
                </button>
                <button
                    class="status-button | button-naked"
                    data-test-name="task-status"
                    cdkMenuItem
                    [cdkMenuTriggerFor]="statusMenu"
                    [ngClass]="
                        prominentStatusButton ? getStatusButtonColorClasses(task.status) : 'text-tinted-100'
                    "
                    appTooltip="Status"
                    debug="true"
                    #statusBtnTooltip="appTooltip"
                    (cdkMenuClosed)="statusBtnTooltip.scheduleHideTooltip()"
                >
                    <app-icon [icon]="task.status"></app-icon>
                    <span>{{ taskStatusLabelMap[task.status] }}</span>
                    <app-icon icon="caretDown" class="[&_i]:mr-0"></app-icon>
                    <ng-template #statusMenu>
                        <app-drop-down [items]="statusMenuItems" [data]="task"></app-drop-down>
                    </ng-template>
                </button>
            </div>
        </ng-container>
    </div>
</ng-container>

<div [hidden]="!(isDescriptionOpen$ | push)">
    <div class="spacer | h-5"></div>
    <p class="text-tinted-400 mb-1 text-lg font-semibold">Description</p>
    <!-- @TODO: Editor updates are not received when inside an ngIf bound to an observable -->
    <app-entity-description
        #descriptionEditor
        [context]="descriptionContext$ | async"
        (update)="updateDescription($event)"
        (blur)="descriptionBlurInput$.next($event)"
    ></app-entity-description>
</div>

<ng-container *ngIf="task$ | async as task">
    <ng-container
        *appSidepanelPortal="
            let isInSidepanel;
            allowTeleport: allowSidepanel;
            isTeleportedCallback: hasSidepanel$
        "
    >
        <ng-container *rxIf="isInSidepanel">
            <div class="spacer | h-5"></div>
            <p class="text-tinted-400 mb-1 text-lg font-semibold">Status</p>
            <button
                class="status-button | button-naked"
                data-test-name="task-status"
                [cdkMenuTriggerFor]="statusMenu"
                [ngClass]="
                    prominentStatusButton ? getStatusButtonColorClasses(task.status) : 'text-tinted-100'
                "
            >
                <app-icon [icon]="task.status"></app-icon>
                <span>{{ taskStatusLabelMap[task.status] }}</span>
                <app-icon icon="caretDown" class="[&_i]:mr-0"></app-icon>
                <ng-template #statusMenu>
                    <app-drop-down [items]="statusMenuItems" [data]="task"></app-drop-down>
                </ng-template>
            </button>
            <div class="spacer | h-8"></div>
            <p class="text-tinted-400 mb-1 text-lg font-semibold">Priority</p>
            <button
                class="priority-button | button-naked text-tinted-100"
                data-test-name="task-priority"
                [cdkMenuTriggerFor]="priorityMenu"
            >
                <app-icon [icon]="task.priority"></app-icon>
                <span>{{ taskPriorityLabelMap[task.priority] }}</span>
                <app-icon icon="caretDown"></app-icon>
                <ng-template #priorityMenu>
                    <app-drop-down [items]="priorityMenuItems" [data]="task"></app-drop-down>
                </ng-template>
            </button>
        </ng-container>

        <div class="spacer | h-8"></div>

        <app-activity [entity]="task"></app-activity>
    </ng-container>

    <ng-container *ngIf="task.children && task.children.length">
        <div class="spacer | h-8"></div>

        <p class="text-tinted-400 mb-1 text-lg font-semibold">Subtasks</p>
        <app-page-progress-bar [taskTree]="task.children"></app-page-progress-bar>
        <div class="options | mb-2 mt-1.5 flex flex-wrap items-center gap-2">
            <button
                class="create-subtask-button | button-naked"
                (click)="createSubtask()"
                appTooltip="Create a new subtask"
                data-test-name="create-subtask"
            >
                <app-icon icon="fas fa-plus"></app-icon>
                New subtask
            </button>

            <app-view-settings [viewSettingsStore]="viewSettingsStore"></app-view-settings>
        </div>

        <app-task-tree
            [tasks]="task.children"
            [viewSettingsStore]="viewSettingsStore"
            [expandedStore]="expandedStore"
            [descriptionExpandedStore]="descriptionExpandedStore"
            [parentId]="task.id"
        ></app-task-tree>
    </ng-container>
</ng-container>
