<ng-container *rxIf="taskEntity$; let entity; strategy: 'native'">
    <h1 class="heading | mt-4">
        <app-editable-entity-title [entity]="entity"></app-editable-entity-title>
    </h1>

    <app-entity-description
        #descriptionEditor
        *rxIf="isDescriptionOpen$"
        [context]="descriptionContext$ | push : 'native'"
        (update)="updateDescription($event)"
        (blur)="descriptionBlurInput$.next($event)"
    ></app-entity-description>

    <div class="button-group | mt-5 flex w-fit items-center gap-2" cdkMenuBar>
        <button
            *rxIf="!(isDescriptionOpen$ | push)"
            class="button-naked text-tinted-200 hover:text-tinted-100"
            appTooltip="Add a description to this task"
            (click)="openDescription()"
            cdkMenuItem
            data-test-name="add-description"
        >
            <app-icon icon="description" class="mr-1"></app-icon>
            Add description
        </button>
    </div>
</ng-container>

<ng-container *ngIf="task$ | async as task">
    <app-page-progress-bar [taskTree]="task.children || []"></app-page-progress-bar>

    <div class="options | mb-3 mt-2 flex gap-2">
        <button
            class="button-naked text-tinted-200 hover:text-tinted-100"
            (click)="createSubtask()"
            appTooltip="Create a new subtask"
            data-test-name="create-subtask"
        >
            <app-icon icon="fas fa-plus" class="mr-1"></app-icon>
            New subtask
        </button>
    </div>

    <app-task-tree
        *ngIf="task.children && task.children.length; else noTasks"
        [tasks]="task.children"
    ></app-task-tree>

    <ng-template #noTasks>
        <p class="text-tinted-400 text-center">No subtasks yet...</p>
    </ng-template>
</ng-container>
