@use "../abstracts/mixins.scss" as *;

a {
    color: var(--secondary-400);
    text-decoration-color: var(--tinted-neutral-300);
    
    @include hover() {
        text-decoration-color: var(--secondary-400);
    }
}
