<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div [class]="containerClasses" [style.grid-template-areas]="gridAreas">
        <app-input
            *ngFor="let input of inputs"
            [name]="input.name"
            [type]="input.type"
            [parentControl]="formGroup"
            [controlName]="input.key"
            [control]="input.control"
            [errorMessages]="input.errorMessages"
            [extraErrorMessages]="extraErrorMessages?.[input.key]"
            [style.grid-area]="input.key"
        ></app-input>
        <button
            *ngIf="submitButton"
            [disabled]="isLoading"
            type="submit"
            class="button button--submit mt-6 w-full"
            [style.grid-area]="'submit'"
            data-test-name="submit-button"
        >
            <loading-spinner *ngIf="isLoading" class="mr-1"></loading-spinner> {{ submitButton }}
        </button>
    </div>
</form>
