<li
    id="task-{{ this.data.id }}"
    class="task"
    [class.touchDevice]="util.isTouchDevice()"
    [class.completed]="this.data.isCompleted"
>
    <div class="position-time-completed">
        <span *ngIf="this.data.isCompleted" class="time-completed">
            {{ this.util.formatDate(this.data.timeCompleted) }}
        </span>
    </div>
    <div class="wrapper outer-wrapper">
        <div class="wrapper inner-wrapper">
            <button
                class="btn btn-icon btn-complete"
                title="{{ this.data.isCompleted ? 'un' : '' }}mark task as completed"
                (click)="toggleCompleted()"
            >
                <i *ngIf="this.data.isCompleted" class="fas fa-check-circle"></i>
                <i *ngIf="!this.data.isCompleted" class="far fa-circle"></i>
            </button>
            <div class="text-container">
                <p>
                    <span class="taskName">
                        <span style="color: var(--danger-clr)">
                            {{ this.util.multiplyString("! ", this.data.priority || 0) }}
                        </span>
                        {{ this.data.name }}
                    </span>
                    <a
                        *ngFor="let link of this.data.meta.links"
                        class="external-link"
                        [href]="link"
                        [title]="link"
                        target="_blank"
                        ><i class="fas fa-external-link"></i
                    ></a>
                </p>
                <p
                    *ngIf="this.data.subTasks.length != 0"
                    class="subtask-list-toggle"
                    [class.open]="!this.data.collapseSubtaskList"
                    (click)="toggleSubtaskList()"
                >
                    <i class="fas fa-chevron-down dimm"></i>
                    <span *ngIf="countOpenTasks(this.data.subTasks) != 0">
                        <span style="color: var(--danger-clr)"> {{ countOpenTasks(this.data.subTasks) }} open </span>
                        <span class="dimm"> / </span>
                    </span>
                    <span class="dimm">{{ this.data.subTasks.length }} {{ this.data.subTasks.length == 1 ? "subtask" : "subtasks" }}</span>
                </p>
            </div>
        </div>
        <ng-template #taskActionBtns>
            <button
                title="add sub task"
                class="btn btn-icon btn-add-subTask"
                [class.disabled]="this.data.isCompleted"
                (click)="addSubTask(); toggleTaskActionBtns(false)"
                style="--btn-index: 2; --btn-index-reverse: 0"
            >
                <i class="fas fa-plus"></i></button
            ><button
                title="edit task"
                class="btn btn-icon btn-edit"
                [class.disabled]="this.data.isCompleted"
                (click)="editTask(); toggleTaskActionBtns(false)"
                style="--btn-index: 1; --btn-index-reverse: 1"
            >
                <i class="fas fa-pencil-alt"></i></button
            ><button
                title="delete task"
                class="btn btn-icon btn-delete"
                (click)="deleteTask(this.data.id); toggleTaskActionBtns(false)"
                style="--btn-index: 0; --btn-index-reverse: 2"
            >
                <i class="far fa-trash-alt"></i>
            </button>
        </ng-template>
        <div *ngIf="!isTouchDevice" class="position-task-action-btns">
            <div class="btn-group">
                <template [ngTemplateOutlet]="taskActionBtns"></template>
            </div>
        </div>
        <menu-toggle-btn
            *ngIf="isTouchDevice"
            [isOpen]="touchDevice_showBtns"
            (onMenuToggle)="toggleTaskActionBtns($event)"
        >
            <template [ngTemplateOutlet]="taskActionBtns"></template>
        </menu-toggle-btn>
    </div>
</li>

<ul
    *ngIf="this.data.subTasks.length != 0"
    class="subtask-list subtask-list-{{ this.data.id }}"
    [class.hide]="this.data.collapseSubtaskList"
>
    <task *ngFor="let task of this.uncompletedTasks" [data]="task" [showCompleted]="showCompleted"></task>
    <quick-add-task
        *ngIf="this.data.subTasks.length != 0 && !this.data.collapseSubtaskList && !data.isCompleted"
        (onAddTask)="this.dispatchNewSubtaskAction($event)"
    ></quick-add-task>
    <div *ngIf="showCompleted">
        <task *ngFor="let task of this.completedTasks" [data]="task" [showCompleted]="showCompleted"></task>
    </div>
</ul>
