.container {
    margin-top: 10px;
    /* background: hsla(241, 30%, 39%, 0.788); */
    border-radius: 10px;
    box-shadow: var(--box-shadow-s);

    display: flex;
}

input {
    box-sizing: border-box;
    width: 100%;
    margin-right: 10px;

    /* padding: 6px; */
    border-radius: 10px;
    color: var(--global-color);
    
    background: none;
    box-shadow: none;
}
input:not(:focus) {
    border: 1px solid var(--global-background);
}

button {
    height: unset;
    width: unset;
    
    border-radius: 10px;
    font-size: 15px;
    /* padding: 6px 15px; */
    
    box-shadow: 0 0 0 1px hsl(var(--color-hue) 100% 50% / 0.6);
    transform: unset !important;
}
input:not(:focus) ~ button {
    filter: opacity(0) !important;
    /* pointer-events: none; */
}