<app-modal id="custom-dialog">
    <div class="dialog {{ this.props.type }}">
        <div class="dialogText">
            <h3>{{ this.props.title }}</h3>
            <p *ngIf="this.props.text">{{ this.props.text }}</p>
        </div>

        <div class="dialogInput">
            <input
                *ngIf="this.props.type == 'prompt'"
                class="input promptInput"
                type="text"
                #localInputRef
                [(ngModel)]="this.promptInput"
            />
            <div class="btn-group">
                <button *ngFor="let btnText of this.props.buttons; let i = index" [class.btn-delete]="btnText[0] == '!'" (click)="closeDialog(i)">
                    {{ btnText.replace("!", "") }}
                </button>
            </div>
        </div>
    </div>
</app-modal>
