<menu-toggle-btn
    position="right"
    [fa-icon]="themeService.themeState.theme == 'dark' ? 'fas fa-moon' : 'fas fa-sun'"
    colorClass="clr-tinted-neutral"
    dropdownOffset="25px"
>
    <button class="btn-m btn-alt {{ activeTheme.theme == 'dark' ? 'clr-primary' : 'clr-tinted-neutral' }}" (click)="setTheme('dark')"><i class="fas fa-moon"></i>&nbsp;dark</button>
    <button class="btn-m btn-alt {{ activeTheme.theme == 'light' ? 'clr-primary' : 'clr-tinted-neutral' }}" (click)="setTheme('light')"><i class="fas fa-sun"></i>&nbsp;light</button>
    <span
        ><i class="fas fa-adjust"></i>&nbsp;auto
        <toggle-switch
            [isOn]="themeService.themeState.updateOnSystemThemeChange"
            (onToggle)="toggleUpdateThemeOnEvent()"
        ></toggle-switch
    ></span>
</menu-toggle-btn>
