<div class="format-controls-container | flex flex-wrap items-center gap-1" cdkMenuBar>
    <ng-container *ngFor="let group of formattingControls$ | async; let isLast = last; trackBy: controlGroupTrackBy">
        <ng-container *ngFor="let control of group.controls; trackBy: controlTrackBy">
            <button
                *ngIf="!control.dropdown"
                cdkMenuItem
                class="format-controls-item | icon-btn"
                [class.isActive]="control.isActive?.(editor)"
                [appTooltip]="tooltip"
                [tooltipOptions]="{ avoidPositions: ['left', 'right'] }"
                (click)="control.action && execEditorChain(control.action)"
                [attr.data-test-name]="'formatting-btn-' + control.testName"
            >
                <app-icon [icon]="getIcon(control)"></app-icon>
            </button>

            <button
                *ngIf="control.dropdown"
                cdkMenuItem
                class="format-control-item | icon-btn"
                [class.isActive]="control.isActive?.(editor)"
                [appTooltip]="tooltip"
                [tooltipOptions]="{ avoidPositions: ['left', 'right'] }"
                [cdkMenuTriggerFor]="dropdown"
                (click)="control.action && execEditorChain(control.action, false)"
                #trigger="cdkMenuTriggerFor"
                [attr.data-test-name]="'formatting-btn-' + control.testName"
            >
                <app-icon [icon]="getIcon(control)"></app-icon>
                <app-icon icon="caret-down" class="ml-1"></app-icon>

                <ng-template #dropdown>
                    <app-drop-down
                        *ngIf="control.dropdown"
                        [items]="control.dropdown.items"
                        [rootTrigger]="trigger"
                        [data]="{ editor, chain: getChain.bind(this), data: control.dropdown.data }"
                    ></app-drop-down>
                </ng-template>
            </button>

            <ng-template #tooltip>
                <span> {{ getTitle(control) }} </span>
                <app-key-combo *ngIf="control.displayKeybinding" [combo]="control.displayKeybinding"></app-key-combo>
            </ng-template>
        </ng-container>

        <div *ngIf="!isLast" class="toolbar-separator | h-5 w-px bg-tinted-600"></div>
    </ng-container>
</div>
