<div class="container" [class.open]="isOpen" [class.margin]="spacing" [class.touchDevice]="isTouchDevice">
    <span
        class="{{ colorClass }} {{ dimm != 'none' ? dimm : '' }}"
        (click)="this.isOpen = !this.isOpen; onToggle.emit(this.isOpen)"
    >
        <i class="fas fa-chevron-down" [class.dimm-1]="dimm == 'none'"></i>
        <span *ngIf="toggleText" [class.dimm-1]="toggleText == 'dimm'"> {{ isOpen ? "hide" : "show" }} </span>
        <ng-content></ng-content>
    </span>
</div>
