@use "../../../../sass/abstracts/mixins.scss" as *;

.container {
    user-select: none;

    display: flex;
}
.container.margin {
    margin-top: 10px;
    padding: 5px;
}
// .container.dimm {
//     filter: opacity(0.6) brightness(0.9);
// }
span {
    color: var(--color-400);
    cursor: pointer;
    transition: color 120ms, filter 120ms;

    @include hover() {
        color: var(--color-300);
        filter: unset;
        // color: red;
    }
}
// .container:not(.touchDevice) span:hover,
// .container.touchDevice span:active {
    // filter: unset;
//     color: var(--color-300);
// }
/* span:hover {
    text-decoration: underline;
} */

i {
    transition: transform 180ms;
}
.container:not(.open) i {
    transform: rotate(-90deg);
}
