<li
    *rxIf="task$; let task; strategy: 'native'"
    class="task | relative flex w-full max-w-full list-none flex-col rounded-xl border border-tinted-700 border-opacity-75 bg-tinted-800 py-2 px-1 pb-1 shadow shadow-tinted-900 transition-colors duration-75"
    [ngClass]="{
        completed: task.status == TaskStatus.COMPLETED,
        isActive: inlineEditor.isFocused || isDescriptionActive$ | push,
        titleHasFocus: inlineEditor.isFocused,
        isSelected,
        descriptionIsActive: isDescriptionActive$ | push
    }"
    [cdkContextMenuTriggerFor]="menu"
    (cdkContextMenuOpened)="isSelected = true"
    (cdkContextMenuClosed)="isSelected = false"
>
    <div class="mb-1 box-border flex items-center justify-between gap-2 px-2">
        <div class="max-w-[calc(100%-1.7rem)]">
            <div class="first-row | flex items-center">
                <button
                    class="status-btn | icon-btn | -ml-1 mr-2.5 text-lg"
                    [appTooltip]="statusTooltip"
                    [tooltipOptions]="{ avoidPositions: ['right'] }"
                    [cdkMenuTriggerFor]="statusMenu"
                    (cdkMenuOpened)="isSelected = true"
                    (cdkMenuClosed)="isSelected = false"
                    data-test-name="task-status-button"
                >
                    <ng-template #statusTooltip>
                        <span class="text-tinted-300 decoration-[3px]">Status: </span>
                        <span [class]="statusColorMap[task.status]">{{ task.status.replace('_', ' ') }}</span>
                    </ng-template>

                    <app-icon [icon]="loading || task.status"></app-icon>
                </button>
                <ng-template #statusMenu>
                    <app-drop-down
                        *ngIf="statusMenuItems$ | push as items"
                        [items]="items"
                        [data]="{ id: task.id }"
                    ></app-drop-down>
                </ng-template>

                <app-inline-editor
                    #inlineEditor
                    [textInput]="task.title"
                    [placeholder]="PLACEHOLDER"
                    [placeholderColor]="placeholderColorMap[task.status]"
                    [highlight]="searchTerm$ | push"
                    [editorClass]="{
                        'line-through': task.status == TaskStatus.NOT_PLANNED,
                        'decoration-danger-400': task.status == TaskStatus.NOT_PLANNED,
                        'decoration-[3px]': task.status == TaskStatus.NOT_PLANNED,
                        'pr-12': true
                    }"
                    [enableDebouncedUpdates]="false"
                    (update)="titleChange.emit($event || '')"
                    [readonly]="readonly"
                    data-test-name="task-title"
                ></app-inline-editor>
            </div>

            <div
                class="second-row | ml-0.5 flex flex-wrap gap-4"
                [class.mt-1]="(nodeData$ | async)?.hasChildren || task.description || (isDescriptionExpanded$ | async)"
            >
                <ng-container *ngIf="nodeData$ | async as nodeData">
                    <ng-container *ngIf="nodeData.hasChildren">
                        <button
                            class="subtask-toggle | inline-flex gap-1 [&_.count]:transition-all [&_.count]:hover:text-tinted-300 [&_:has(.checklist-counter.counter-complete)_.count]:!text-submit-400"
                            (click)="expansionChange.emit(!nodeData.isExpanded)"
                            data-test-name="subtask-toggle"
                        >
                            <app-icon
                                icon="chevronRight"
                                class="mr-1 inline-block transition-transform"
                                [class.rotate-90]="nodeData.isExpanded"
                            ></app-icon>
                            <!-- @TODO: Pluralisation needs to account for nested subtasks too -->
                            Subtask{{ task.children?.length == 1 ? '' : 's' }}

                            <app-elem-container
                                [elem]="getTaskCounterWidget()"
                                class="ml-1 text-md text-tinted-400"
                            ></app-elem-container>
                        </button>
                    </ng-container>

                    <ng-container *ngIf="task.description || (isDescriptionExpanded$ | async)">
                        <button
                            class="description-toggle | inline-flex gap-1 [&_.count]:transition-all [&_.count]:hover:text-tinted-300 [&_:has(.checklist-counter.counter-complete)_.count]:!text-submit-400"
                            (click)="toggleDescription()"
                            data-test-name="description-toggle"
                        >
                            <app-icon
                                icon="chevronRight"
                                class="mr-1 inline-block transition-transform"
                                [class.rotate-90]="isDescriptionExpanded$ | async"
                            ></app-icon>
                            <!-- <app-icon icon="description" class="mx-1"></app-icon> -->
                            Description

                            <app-elem-container
                                [elem]="getChecklistCounterWidget()"
                                class="ml-1 text-md text-tinted-400"
                            ></app-elem-container>
                        </button>
                        <!-- <button class="expand-description">
                            <app-icon icon="expand"></app-icon>
                        </button> -->
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="relative -mr-1 max-w-max">
            <div class="icon-group | flex max-w-max flex-wrap items-center justify-end gap-3 transition-transform">
                <app-icon
                    *ngIf="isOverdue"
                    class="overdue-icon | animate-ping"
                    icon="fas fa-exclamation-triangle text-danger-400"
                    data-test-name="overdue-icon"
                ></app-icon>

                <ng-container
                    *ngIf="
                        task.status != TaskStatus.COMPLETED &&
                        task.status != TaskStatus.NOT_PLANNED &&
                        task.priority != TaskPriority.NONE
                    "
                >
                    <ng-container *ngTemplateOutlet="priorityButton"></ng-container>
                </ng-container>
            </div>
            <button
                class="| icon-btn | absolute top-[50%] right-0 translate-y-[-50%] text-tinted-200 transition-opacity"
                [cdkMenuTriggerFor]="menu"
                (cdkMenuOpened)="isSelected = true"
                (cdkMenuClosed)="isSelected = false"
                #trigger="cdkMenuTriggerFor"
                data-test-name="task-menu-button"
            >
                <double-ellipsis-icon></double-ellipsis-icon>
            </button>

            <ng-template #menu>
                <app-drop-down
                    *ngIf="menuItems$ | push as items"
                    [items]="items"
                    [rootTrigger]="trigger"
                    [data]="{ id: task.id, entityType: EntityType.TASK }"
                ></app-drop-down>
            </ng-template>
        </div>
    </div>

    <ng-template #priorityButton>
        <button
            class="priority-button | icon-btn keep-editor-focus"
            [appTooltip]="priorityTooltip"
            [tooltipOptions]="{ avoidPositions: ['left'] }"
            [cdkMenuTriggerFor]="priorityMenu"
            (cdkMenuOpened)="isSelected = true"
            (cdkMenuClosed)="isSelected = false"
            data-test-name="task-priority-button"
        >
            <app-icon [icon]="task.priority"></app-icon>
        </button>
    </ng-template>
    <ng-template #priorityTooltip>
        <span class="text-tinted-300">Priority: </span>
        <span>{{ task.priority }}</span>
    </ng-template>
    <ng-template #priorityMenu>
        <app-drop-down
            *ngIf="priorityMenuItems$ | push as items"
            [items]="items"
            [data]="{ id: task.id }"
        ></app-drop-down>
    </ng-template>

    <ng-container
        *rxLet="{ isExpanded: isDescriptionExpanded$ | push, isActive: isDescriptionActive$ | push }; let props"
    >
        <!-- isExpanded: {{ props.isExpanded }}; isActive: {{ props.isActive }} -->
        <!-- <div [class.relative]="descriptionEditor.isActive$ | push"> -->
        <!-- <div *ngIf="descriptionEditor?.bindEditor(task$, task.id) as bound" [class.relative]="false"> -->
        <div *ngIf="props.isExpanded || props.isActive" [class.relative]="false">
            <div class="pointer-events-none absolute inset-x-0 bottom-[calc(100%-.5rem)] z-20 flex justify-center px-4">
                <!-- <app-toolbar [hide]="!inlineEditor.isActive && !(descriptionEditor.isActive$ | push)"> -->
                <app-toolbar [hide]="!props.isActive" cdkMenuBar class="max-w-[70vw] overflow-x-auto">
                    <!-- <ng-container *ngTemplateOutlet="priorityButton"></ng-container>
                    <div class="toolbar-separator" role="separator"></div> -->

                    <app-tt-editor-toolbar
                        [ttEditor]="descriptionEditor"
                        [layout]="toolbarLayout$ | push"
                        openAsPageRoute="/home/{{ task.id }}"
                        class="pointer-events-auto w-max"
                    ></app-tt-editor-toolbar>
                </app-toolbar>
            </div>
            <app-tt-editor
                #descriptionEditor
                class="description | mt-1 max-h-72 overflow-y-auto rounded-lg bg-tinted-900 py-1.5 px-2.5 ring-2 ring-transparent transition-colors duration-75 child-focus-ring"
                [ngClass]="{
                    'isActive !ring-primary-400': props.isActive,
                    'hover:ring-tinted-600': true,
                    '[.task.completed:not(.isActive)_&]:hover:ring-submit-700': true
                }"
                [editable]="!readonly"
                [searchTerm]="searchTerm$ | push"
                [bind]="(bindConfig$ | push)!"
                (isActive)="isDescriptionActive$.next($event)"
                (blur)="descriptionBlur$.next()"
                (update)="descriptionUpdates$.next($event.html)"
                (updateOnBlur)="this.descriptionUpdateOnBlur$.next($event.html)"
                data-test-name="task-description"
            ></app-tt-editor>
        </div>
    </ng-container>
</li>
