<li
    *ngIf="task$ | async as task"
    class="task | flex w-full max-w-full list-none flex-col rounded-xl border border-tinted-700 border-opacity-75 bg-tinted-800 py-2 px-1 pb-1 shadow shadow-tinted-900 transition-colors duration-75"
    [ngClass]="{
        'completed border-submit-700 border-opacity-60 bg-submit-800 text-submit-200':
            task.status == TaskStatus.COMPLETED,
        titleHasFocus: inlineEditor.isFocused,
        isHovered,
        descriptionHasFocus: descriptionFocusable.isFocused
    }"
    [cdkContextMenuTriggerFor]="menu"
    (cdkContextMenuOpened)="isHovered = true"
    (cdkContextMenuClosed)="isHovered = false"
>
    <div class="mb-1 box-border flex items-center justify-between gap-2 px-2">
        <div class="max-w-[calc(100%-1.7rem)]">
            <div class="first-row | flex items-center">
                <button
                    class="status-btn | icon-btn | -ml-1 mr-2.5 text-lg"
                    [appTooltip]="statusTooltip"
                    [tooltipOptions]="{ avoidPositions: ['right'] }"
                    [cdkMenuTriggerFor]="statusMenu"
                    (cdkMenuOpened)="isHovered = true"
                    (cdkMenuClosed)="isHovered = false"
                    data-test-name="task-status-button"
                >
                    <ng-template #statusTooltip>
                        <span class="text-tinted-300 decoration-[3px]">Status: </span>
                        <span [class]="statusColorMap[task.status]">{{ task.status.replace('_', ' ') }}</span>
                    </ng-template>

                    <app-icon [icon]="loading || task.status"></app-icon>
                </button>
                <ng-template #statusMenu>
                    <app-drop-down
                        *rxIf="statusMenuItems$; let items"
                        [items]="items"
                        [data]="{ id: task.id }"
                    ></app-drop-down>
                </ng-template>

                <app-inline-editor
                    #inlineEditor
                    [textInput]="task.title"
                    [placeholder]="PLACEHOLDER"
                    [placeholderColor]="placeholderColorMap[task.status]"
                    [highlight]="highlightQuery$ | push"
                    [editorClass]="{
                        'line-through': task.status == TaskStatus.NOT_PLANNED,
                        'decoration-danger-400': task.status == TaskStatus.NOT_PLANNED,
                        'decoration-[3px]': task.status == TaskStatus.NOT_PLANNED,
                        'pr-12': true
                    }"
                    [enableDebouncedUpdates]="false"
                    (update)="titleChange.emit($event || '')"
                    [readonly]="readonly"
                    data-test-name="task-title"
                ></app-inline-editor>
            </div>

            <div
                class="second-row | ml-0.5 flex flex-wrap gap-2"
                [class.mt-1]="(nodeData$ | async)?.hasChildren || task.description || (isDescriptionExpanded$ | async)"
            >
                <ng-container *ngIf="nodeData$ | async as nodeData">
                    <ng-container *ngIf="nodeData.hasChildren">
                        <button
                            class="subtask-toggle"
                            (click)="expansionChange.emit(!nodeData.isExpanded)"
                            data-test-name="subtask-toggle"
                        >
                            <app-icon
                                icon="chevronRight"
                                class="mr-1 inline-block transition-transform"
                                [class.rotate-90]="nodeData.isExpanded"
                            ></app-icon>
                            {{ task.childrenCount }} Subtask{{ task.childrenCount == 1 ? '' : 's' }}
                        </button>

                        <div *ngIf="task.description || (isDescriptionExpanded$ | async)" class="separator"></div>
                    </ng-container>

                    <ng-container *ngIf="task.description || (isDescriptionExpanded$ | async)">
                        <button class="description-toggle" (click)="toggleDescription()">
                            <app-icon
                                icon="chevronRight"
                                class="mr-1 inline-block transition-transform"
                                [class.rotate-90]="isDescriptionExpanded$ | async"
                            ></app-icon>
                            <!-- <app-icon icon="description" class="mx-1"></app-icon> -->
                            Description
                        </button>
                        <!-- <button class="expand-description">
                            <app-icon icon="expand"></app-icon>
                        </button> -->
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="relative -mr-1 max-w-max">
            <div class="icon-group | flex max-w-max flex-wrap items-center justify-end gap-3 transition-transform">
                <app-icon
                    *ngIf="isOverdue"
                    class="overdue-icon | animate-ping"
                    icon="fas fa-exclamation-triangle text-danger-400"
                    data-test-name="overdue-icon"
                ></app-icon>
                <div
                    class="priority-button | icon-btn"
                    *ngIf="
                        task.status != TaskStatus.COMPLETED &&
                        task.status != TaskStatus.NOT_PLANNED &&
                        task.priority != TaskPriority.NONE
                    "
                    [appTooltip]="priorityTooltip"
                    [tooltipOptions]="{ avoidPositions: ['left'] }"
                    [cdkMenuTriggerFor]="priorityMenu"
                    (cdkMenuOpened)="isHovered = true"
                    (cdkMenuClosed)="isHovered = false"
                    data-test-name="task-priority-button"
                >
                    <ng-template #priorityTooltip>
                        <span class="text-tinted-300">Priority: </span>
                        <span>{{ task.priority }}</span>
                    </ng-template>
                    <app-icon [icon]="task.priority"></app-icon>
                </div>
                <ng-template #priorityMenu>
                    <app-drop-down
                        *rxIf="priorityMenuItems$; let items"
                        [items]="items"
                        [data]="{ id: task.id }"
                    ></app-drop-down>
                </ng-template>
            </div>
            <button
                class="| icon-btn | absolute top-[50%] right-0 translate-y-[-50%] text-tinted-200 transition-opacity"
                [cdkMenuTriggerFor]="menu"
                (cdkMenuOpened)="isHovered = true"
                (cdkMenuClosed)="isHovered = false"
                #trigger="cdkMenuTriggerFor"
                data-test-name="task-menu-button"
            >
                <double-ellipsis-icon></double-ellipsis-icon>
            </button>

            <ng-template #menu>
                <app-drop-down
                    *rxIf="menuItems$; let items"
                    [items]="items"
                    [rootTrigger]="trigger"
                    [data]="{ id: task.id, entityType: EntityType.TASK }"
                ></app-drop-down>
            </ng-template>
        </div>
    </div>

    <div class="relative">
        <!-- This will become relevant when the rich text editor is implemented -->
        <div
            *ngIf="false"
            class="description-toolbar | absolute left-1/2 bottom-full flex -translate-x-1/2 -translate-y-2 items-center gap-1 rounded-lg border border-tinted-600 bg-tinted-700 p-1 shadow-lg shadow-tinted-900"
            [class.hidden]="!descriptionFocusable.isFocused"
        >
            <!-- <button class="button-m | bg-tinted-700 hover:bg-tinted-600" (click)="resetDescription()">Cancel</button> -->

            <!-- <div class="separator"></div> -->
            <!-- <button class="expand-description | icon-btn">
                <app-icon icon="expand"></app-icon>
            </button> -->

            <!-- <div class="separator"></div> -->
            <button class="button-m | bg-tinted-700 hover:bg-tinted-600">
                <app-icon icon="expand" class="mr-1"></app-icon>
                Open
            </button>
        </div>
        <div
            #description
            (blur)="descriptionBlurEvents$.next($event)"
            (focus)="highlightQuery$.next(null)"
            focusable
            #descriptionFocusable="focusable"
            [class.hidden]="!(isDescriptionExpanded$ | async) && !descriptionFocusable.isFocused"
            class="description | mt-1 max-h-72 overflow-y-auto break-words rounded-lg bg-tinted-900 py-1.5 px-2.5 pb-6 text-tinted-300 outline-none ring-1 ring-tinted-700 transition-all duration-75 focus:ring-2 focus:ring-primary-400"
            [class]="{
                'not-hover:ring-submit-700': task.status == TaskStatus.COMPLETED,
                'not-hover:ring-opacity-50': task.status == TaskStatus.COMPLETED
            }"
            [contentEditable]="!readonly"
            data-test-name="task-description"
            [innerHTML]="task.description | highlight : (highlightQuery$ | push)"
        ></div>
    </div>
</li>
