<div class="flex w-full" data-test-name="app-container">
    <aside
        class="sidebar | sidebar--mobile | relative flex h-screen flex-col border-tinted-700 bg-tinted-800 md:w-56 md:min-w-[10rem] md:max-w-[25rem] md:border-r md:text-md"
        [class.hide]="!isMenuOpen"
        [hidden]="!isMenuOpen"
        data-test-name="sidebar"
    >
        <div
            #resizeHandle
            class="resize-handle | group absolute -right-1 h-full w-2 cursor-col-resize"
            data-test-name="resize-handle"
        >
            <div
                class="relative left-[50%] h-full w-0.5 -translate-x-[50%] transition-colors delay-75 group-hover:bg-tinted-400"
            ></div>
        </div>

        <header
            class="sidebar-header | border-b border-transparent transition-colors"
            [class.!border-tinted-700]="isSidebarScrolled"
            data-test-name="sidebar-header"
        >
            <div class="flex">
                <user-menu class="block w-full"></user-menu>
                <button class="py-2 px-4 md:hidden" (click)="isMenuOpen = !isMenuOpen" data-test-name="menu-toggle-2">
                    <app-icon *ngIf="!isMenuOpen" iconClass="far fa-bars"></app-icon>
                    <app-icon *ngIf="isMenuOpen" iconClass="fas fa-times"></app-icon>
                </button>
            </div>

            <ng-content select="[sidebarHeader]"></ng-content>
        </header>

        <div class="sidebar-content | overflow-y-scroll overscroll-contain py-2 px-3" data-test-name="sidebar-content">
            <div #sidebarScrollSpy></div>
            <ng-content select="[sidebarContent]"></ng-content>
        </div>
    </aside>

    <div class="main-pane | flex h-screen grow flex-col" data-test-name="main-pane">
        <header
            class="main-header | main-header--mobile | relative flex border-b border-tinted-700 border-transparent transition-all"
            [class.!border-tinted-700]="isMainScrolled"
            [class.hide]="isMenuOpen"
            data-test-name="main-header"
        >
            <ng-content select="[header]"></ng-content>

            <button class="py-2 px-4 md:hidden" (click)="isMenuOpen = !isMenuOpen" data-test-name="menu-toggle-1">
                <app-icon *ngIf="!isMenuOpen" iconClass="far fa-bars"></app-icon>
                <app-icon *ngIf="isMenuOpen" iconClass="fas fa-times"></app-icon>
            </button>
        </header>
        <main class="flex max-h-full flex-col items-center overflow-y-scroll overscroll-contain px-4 pt-2 pb-56">
            <div
                class="content"
                [class]="{ 'w-[min(100%,55rem)]': prose, 'w-full': !prose }"
                data-test-name="main-content"
            >
                <div #mainScrollSpy></div>

                <ng-content></ng-content>
            </div>
        </main>
    </div>
</div>
