@use "sass:map";

$hues: (
    primary: 270,
    secondary: 53,
    danger: 345,
    submit: 150,
);

// $color-shades: (
//     100: hsl(map.get($hues, primary), 100%, 80%),
//     200: hsl(map.get($hues, primary), 100%, 70%),
//     300: hsl(map.get($hues, primary), 100%, 60%),
//     400: hsl(map.get($hues, primary), 100%, 50%),
//     500: hsl(map.get($hues, primary), 100%, 40%),
//     600: hsl(map.get($hues, primary), 100%, 30%),
//     700: hsl(map.get($hues, primary), 100%, 25%),
//     800: hsl(map.get($hues, primary), 100%, 14%),
//     900: hsl(map.get($hues, primary), 100%, 4%),
// );

$colors-default: (
    primary: (
        //
        //
        300: hsl(map.get($hues, primary) 100% 60%),
        400: hsl(map.get($hues, primary) 100% 53%),
        //
        //
        700: hsl(map.get($hues, primary) 100% 40% / 0.45),
        //
        //
    ),
    secondary: (
        //
        //
        300: hsl(map.get($hues, secondary) 100% 70%),
        400: hsl(map.get($hues, secondary) 100% 60%),
        //
        //
        700: hsl(map.get($hues, secondary) 100% 35% / 0.45),
        //
        //
    ),
    danger: (
        //
        //
        300: hsl(map.get($hues, danger) 100% 60%),
        400: hsl(map.get($hues, danger) 100% 55%),
        //
        //
        700: hsl(map.get($hues, danger) 100% 35% / 0.45),
        //
        //
    ),
    submit: (
        //
        //
        300: hsl(map.get($hues, submit) 100% 65%),
        400: hsl(map.get($hues, submit) 100% 60%),
        //
        600: hsl(map.get($hues, submit) 100% 40%),
        700: hsl(map.get($hues, submit) 100% 35% / 0.45),
        //
        //
    ),
    tinted-neutral: (
        //
        //
        200: hsl(map.get($hues, primary) 15% 70%),
        300: hsl(map.get($hues, primary) 15% 60%),
        400: hsl(map.get($hues, primary) 15% 50%),
        //
        600: hsl(map.get($hues, primary) 15% 45%),
        700: hsl(map.get($hues, primary) 15% 38% / 0.4),
        800: hsl(map.get($hues, primary) 15% 23%),
        900: hsl(map.get($hues, primary) 15% 13%),
    ),
    neutral: (
        100: white,
        //
        300: hsl(0 0% 70%),
        400: hsl(0 0% 60%),
        //
        600: hsl(0 0% 40%),
        700: hsl(0 0% 30%),
        800: hsl(0 0% 15%),
        900: black
    ),
);

$theme-overwrites: (
    dark: (
        background: (
            main: hsl(var(--primary-hue), 13%, 14%),
            item: hsl(var(--primary-hue), 15%, 16%),
            item-alt: hsl(var(--primary-hue), 15%, 20%),
            highlight: hsl(var(--primary-hue), 15%, 27%),
            highlight-alt: hsl(var(--primary-hue), 25%, 35%),
        ),
        text-color: (
            800: hsl(var(--primary-hue), 15%, 84%),
            900: white,
        ),
    ),
    light: (
        primary: (
            300: hsl(map.get($hues, primary), 100%, 58%),
            400: hsl(map.get($hues, primary), 100%, 53%),
        ),
        secondary: (
            400: hsl(map.get($hues, secondary), 100%, 48%),
        ),
        submit: (
            400: hsl(map.get($hues, submit), 100%, 42%),
        ),
        tinted-neutral: (
            200: hsl(map.get($hues, primary) 15% 80%),
            300: hsl(map.get($hues, primary) 15% 72%),
            400: hsl(map.get($hues, primary) 15% 67%),
            700: hsl(map.get($hues, primary) 15% 34% / 0.55),
        ),
        background: (
            main: hsl(var(--primary-hue), 5%, 98%),
            item: var(--global-background),
            item-alt: hsl(var(--primary-hue), 5%, 94%),
            highlight: hsl(var(--primary-hue), 60%, 95%),
            highlight-alt: hsl(var(--primary-hue), 75%, 95%),
        ),
        text-color: (
            800: hsl(var(--primary-hue), 10%, 24%), 
            900: hsl(var(--primary-hue), 14%, 14%),
        ),
    ),
);
