:root {
    --box-shadow-s: 0 0 5px rgba(0, 0, 0, 0.5);
    --box-shadow-m: 0 0 7px rgba(0, 0, 0, 0.511);
    --box-shadow-l: 0 0 10px rgba(0, 0, 0, 0.603), 0 0 20px rgba(0, 0, 0, 0.61);
    --box-shadow-xl: 0 0 20px rgba(0, 0, 0, 0.514), 0 0 40px rgba(0, 0, 0, 0.514);
}