<app-sidebar-layout data-test-name="workspace-page">
    <!-- SIDEBAR HEADER -->
    <ng-container sidebarHeader>
        <div class="flex flex-col items-start gap-1 px-2 pb-2 pt-0.5 text-tinted-300" cdkMenu>
            <button
                cdkMenuItem
                class="menu-item | w-full text-left"
                appTooltip="Search for tasks and lists"
                [tooltipOptions]="{ preferredPosition: 'right' }"
            >
                <app-icon iconClass="fas fa-search"></app-icon> Search
            </button>
            <button
                cdkMenuItem
                class="menu-item | w-full text-left"
                appTooltip="Import one or more lists"
                [tooltipOptions]="{ preferredPosition: 'right' }"
            >
                <app-icon iconClass="fas fa-file-import"></app-icon> Import
            </button>
            <button
                cdkMenuItem
                class="menu-item | w-full text-left"
                appTooltip="Deleted content stays here for 30 days"
                [tooltipOptions]="{ preferredPosition: 'right' }"
            >
                <app-icon iconClass="fas fa-trash"></app-icon> Garbage
            </button>
            <button
                cdkMenuItem
                class="menu-item | w-full text-left"
                routerLink="/settings"
                appTooltip="The app settings"
                [tooltipOptions]="{ preferredPosition: 'right' }"
                data-test-name="settings-link"
            >
                <app-icon iconClass="fas fa-cog"></app-icon> Settings
            </button>
        </div>
    </ng-container>

    <!-- SIDEBAR CONTENT -->
    <ng-container sidebarContent>
        <p class="flex items-center justify-between px-3 text-sm text-tinted-400">
            Tasklists
            <button
                class="rounded px-1.5 py-0.5 transition-colors duration-75 hover:bg-tinted-700"
                appTooltip="Create new list"
                (click)="createNewList()"
            >
                <app-icon iconClass="fas fa-plus"></app-icon>
            </button>
        </p>

        <div class="pt-10 text-center" *ngIf="isTreeLoading$ | async; else tree">
            <loading-spinner class="text-xl"></loading-spinner>
        </div>

        <ng-template #tree>
            <p *ngIf="(entityPreviewsTransformed$ | async)?.length == 0" class="text-center text-tinted-400">
                No lists so far...
            </p>

            <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-container | flex flex-col px-2">
                <cdk-tree-node *cdkTreeNodeDef="let node" [class.hidden]="!shouldRender(node)">
                    <button
                        class="tree-node"
                        [class.nested]="node.path.length > 0"
                        [appTooltip]="label"
                        [tooltipOptions]="{ preferredPosition: 'right' }"
                        routerLink="/home/{{ node.id }}"
                        routerLinkActive="active"
                        #nodeTooltip="appTooltip"
                        [cdkContextMenuTriggerFor]="nodeDropDown"
                    >
                        <div class="indent-line" *ngFor="let line of range(node.path.length)">&nbsp;</div>

                        <div class="content">
                            <button
                                *ngIf="node.expandable; else noToggleIcon"
                                class="node-toggle"
                                cdkTreeNodeToggle
                                [attr.aria-label]="'Toggle ' + node.name"
                                (click)="node.isExpanded = !node.isExpanded"
                            >
                                <app-icon
                                    iconClass="fas fa-chevron-right"
                                    class="block transition-transform"
                                    [class.rotate-90]="node.isExpanded"
                                ></app-icon>
                            </button>
                            <ng-template #noToggleIcon>
                                <div class="node-toggle no-toggle-icon">
                                    <app-icon
                                        iconClass="fas fa-genderless translate-y-0.5 translate-x-[0.5px]"
                                        class="pr-px"
                                    ></app-icon>
                                </div>
                            </ng-template>

                            <ng-template #label>
                                <!-- @TODO: remove hardcoded value EntityType.TASKLIST -->
                                <app-entity-page-label
                                    [title]="node.name"
                                    [pageIcon]="node.entityType || EntityType.TASKLIST"
                                ></app-entity-page-label>
                            </ng-template>
                            <ng-container *ngTemplateOutlet="label"></ng-container>
                        </div>

                        <div class="btn-group">
                            <button class="" (click)="createNewList(node.id); $event.stopPropagation()">
                                <app-icon iconClass="far fa-plus"></app-icon>
                            </button>
                            <button
                                (click)="$event.stopPropagation(); nodeTooltip.hideTooltip()"
                                [cdkMenuTriggerFor]="nodeDropDown"
                            >
                                <double-ellipsis-icon></double-ellipsis-icon>
                            </button>
                        </div>
                        <ng-template #nodeDropDown>
                            <app-drop-down [items]="nodeMenuItems" [data]="node.id"></app-drop-down>
                        </ng-template>
                    </button>
                </cdk-tree-node>
            </cdk-tree>
        </ng-template>

        <div class="spacer | mt-24"></div>
    </ng-container>

    <!-- MAIN CONTENT -->
    <router-outlet></router-outlet>
</app-sidebar-layout>
