.tree-node {
    @apply flex 
        w-full
        items-center
        justify-start
        rounded
        text-tinted-300
        transition-colors
        duration-75
        hover:bg-tinted-700
        hover:text-tinted-100;

    line-height: 1.7;
}
.tree-node.nested {
    @apply pl-2.5;
}

.indent-line {
    @apply ml-3.5
        inline-block
        h-full
        border-l
        border-tinted-700;
}
.indent-line:first-child {
    @apply ml-1;
}

.content {
    @apply flex
        grow
        gap-1
        truncate
        pr-1;
}

.node-toggle {
    @apply aspect-square
        rounded
        pl-2.5
        pr-1.5
        text-sm
        text-tinted-600
        transition-colors
        hover:text-tinted-400;
}

.tree-node:not(:hover, :active, :focus-visible, :focus-within) .btn-group {
    @apply hidden animate-none;
}
.btn-group {
    @apply flex gap-0.5;
    animation: reveal 75ms forwards;
}
@keyframes reveal {
    100% {
        @apply opacity-100;
    }
}
.btn-group button {
    @apply rounded px-1.5 transition-colors hover:bg-tinted-600 duration-75;
}
