<div class="flex h-full grow flex-col overflow-x-auto" data-test-name="main-pane">
    <header
        class="main-header | main-header--mobile | border-tinted-700 relative flex border-b border-transparent transition-all"
        [class.!border-tinted-700]="isScrolled"
        data-test-name="main-header"
    >
        <!-- [class.hide]="isMenuOpen" -->
        <ng-content select="[header]"></ng-content>
    </header>
    <main class="flex grow flex-col overflow-x-auto overflow-y-scroll overscroll-contain">
        <div class="relative flex max-w-full grow flex-col items-center overflow-x-auto px-4 pb-56">
            <!-- eslint-disable tailwindcss/no-contradicting-classname -->
            <div
                class="background | bg-dotted fade-in-out-y absolute inset-x-0 top-0 z-[-1] h-full min-h-[calc(100dvh-50px)] min-h-[calc(100vh-50px)]"
            ></div>

            <div
                class="content max-w-full"
                [class]="{ 'w-[min(100%,55rem)]': prose, 'w-full': !prose }"
                data-test-name="main-content"
            >
                <div class="top-scroll-spy" (intersectionChange)="setTopSpyIntersecting($event)"></div>
                <ng-content select="[main]"></ng-content>
                <div class="bottom-scroll-spy" (intersectionChange)="setBottomSpyIntersecting($event)"></div>
            </div>
        </div>
    </main>
</div>

<!-- 
    <main
        class="bg-dotted flex grow flex-col items-center overflow-x-auto overflow-y-scroll overscroll-contain px-4 pt-2 pb-56"
    >
        <div class="content" [class]="{ 'w-[min(100%,55rem)]': prose, 'w-full': !prose }" data-test-name="main-content">
            <div class="top-scroll-spy" (intersectionChange)="setTopSpyIntersecting($event)"></div>

            <ng-content select="[main]"></ng-content>

            <div class="bottom-scroll-spy" (intersectionChange)="setBottomSpyIntersecting($event)"></div>
        </div>
    </main>
 -->
