<app-centered-layout data-test-name="landing-page">
    <h1>Rockket</h1>
    <p>
        Alright this is the Landing page. Yes its rediculously empty, but I don't care for now, so why don't you just
        <a routerLink="/auth/login" data-test-name="login-link">Login</a> /
        <a routerLink="/auth/signup" data-test-name="signup-link">Signup</a>?
    </p>
    <p>Or go directly to the <a routerLink="/home">workspace</a>.</p>
    <p>
        If you're curious to find out more about rockket, go check out the
        <a href="https://github.com/dein-ding/todo-app#readme" target="_blank">README.md</a>.
    </p>
</app-centered-layout>
