:root {
    scroll-padding-top: 150px;
    scroll-behavior: smooth;
}
.main-heading {
    opacity: 0;
    animation: appear 1.5s ease forwards;
}
.subline {
    opacity: 0;
    animation: appear 2s 1s ease forwards;
}
.anouncement {
    opacity: 0;
    --from-y: -40px;
    animation: appear 2s 1.5s ease forwards;
}
.get-started {
    opacity: 0;
    --from-y: -40px;
    animation: appear 2s 2s ease forwards;
}
.learn-more {
    opacity: 0;
    --from-y: -40px;
    animation: appear 2s 2.3s ease forwards;
}

@keyframes appear {
    0% {
        transform: translateY(var(--from-y, 40px));
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

section:not(.hero):not(:first) {
    @apply mt-20;
}

.progress-container:is(:hover, .glow) .progress {
    box-shadow: 0 0 10px theme('colors.submit.400');
    transition: box-shadow 100ms, width 800ms ease-in-out;
}
.progress {
    transition: box-shadow 450ms, width 800ms ease-in-out;
}
.progress-container.glow span {
    @apply text-submit-400;
}
.progress-container:is(:hover, .glow) .progress-number {
    @apply text-submit-400;
}