.task {
    position: relative;
    height: max(1.9rem, max-content);

    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    --opacity: 1;

    --alt-bg: hsla(var(--bg-clr-hue), 15%, 50%, 0.212);
    background: hsla(var(--bg-clr-hue), 15%, 19%, 0.24);
    box-shadow: var(--box-shadow-s);
    transition: filter 180ms, opacity 180ms;
}
.task:not(.task-list > .task:first-child) {
    margin-top: 10px;
}
/* when task is completed */
.task.completed {
    --opacity: 0.25;
    --brightness: 0.8;
    filter: opacity(var(--opacity)) brightness(var(--brightness));
}
.task:hover {
    filter: opacity(calc(var(--opacity) + 0.4)) brightness(1.2);
}
.task p .taskName {
    position: relative;
}
.task p .taskName::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;

    /* background: var(--global-color); */
    background: var(--complete-clr);
    box-shadow: var(--box-shadow-s);
    transition: 220ms
}
.task.completed p .taskName::before {
    width: 100%;
    box-shadow: var(--box-shadow-s);
}
.subtask-list {
    border-left: 1px solid rgba(128, 128, 128, 0.466);
    transition: padding 100ms 80ms ease;
}
.subtask-list.hide {
    padding: 0;
    height: 0;
    overflow: hidden;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.task p {
    margin-block: 0;
    /* overflow: hidden; */
}
.task .external-link {
    color: hsl(var(--primary-clr-hue), 100%, 55%);
}
.task .dropdown-toggle {
    font-size: 0.9rem;
    opacity: 0.55;
    cursor: pointer;
}
.task .dropdown-toggle i {
    transition: transform 180ms;
}
.task .dropdown-toggle:not(.open) i {
    transform: rotate(-90deg);
}
.task .btn {
    transition: box-shadow 400ms, transform 200ms, filter 150ms, color 200ms;
}
/* .task .btn:not(:hover) {
    transform-origin: right;
} */
.task .btn:hover:not(.task.completed .btn-complete, [disabled]) {
    box-shadow: var(--box-shadow-m), 0 0 50px 700px hsla(var(--color-hue), 97%, 58%, 0.3);
}
.task .btn-complete {
    margin-right: 10px;
}
.task .btn-complete:hover ~ :is(.btn-delete, .btn-edit):not(.task.completed .btn) {
    filter: /* opacity(0.5) */ grayscale(1);
}
.task:not(.completed) .btn-complete:not(:hover) {
    color: gray;
}
.task .btn-group {
    position: absolute;
    right: 12px;
    margin: 0;
    padding: 0;
    width: max-content;
}
.task .btn-group .btn { margin: 0 5px; }
.task .btn:not(.task:hover .btn, .btn-complete) {
    transform: scale(0.5);
    filter: opacity(0);

    --delay: calc(50ms * var(--btn-index-reverse));
}
.task .btn:not(.btn-complete) {
    --delay: calc(80ms * var(--btn-index));
    transition: box-shadow 400ms, transform 200ms var(--delay), filter 150ms var(--delay);
}