:host {
    display: inline-block;
}
.toggleSwitch {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;
}

.switch {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 35px;
    height: 21px;

    /* outline: 1px solid red; */
    
    --main-clr: var(--secondary-clr);
    --alt-clr: var(--global-background);
    margin-left: 10px;
    
    /* transform: translateY(2px); */
    box-shadow: 0 0 0 2px var(--main-clr), 0 0 8px black;
    border-radius: 34px;
    transition: 0.4s;
    cursor: pointer;
}
.slider {
    /* position: absolute;
    inset: 0; */

    --bg-clr: var(--alt-clr);
    background: var(--bg-clr);
}
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;

    background: var(--main-clr);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch.is-on /* .slider */ {
    background: var(--main-clr);
}

.switch.is-on .slider:before {
    transform: translateX(13px);
    background: var(--bg-clr);
}

