<div class="container">
    <!-- [class]="isMobileMenuOpen ? 'open' : ''" -->
    <!-- [ngClass]="{'open': isMobileMenuOpen}" -->
    <menu-toggle-btn
        noDropDown
        type="hamburger"
        size="l"
        color="secondary"
        [class.open]="isMobileMenuOpen"
        [isOpen]="isMobileMenuOpen"
        (onMenuToggle)="setMobileMenuOpen($event)"
    ></menu-toggle-btn>
    <div class="side-container">
        <app-side-menu></app-side-menu>
        <sidebar
            [data]="this.data"
            (onSetActiveList)="setActiveList($event)"
            (onCreateList)="createList()"
            (onExportData)="db.exportJson()"
            (onImportData)="db.importJson($event)"
        ></sidebar>
    </div>
    <main>
        <h1 class="list-name">
            {{ this.activeTaskList ? this.activeTaskList.name : "no list selected" }}
            <button
                *ngIf="this.activeTaskList"
                class="btn btn-primary btn-icon"
                style="transform: translateY(-5px)"
                (click)="editList()"
            >
                <!-- <i class="fas fa-pencil-alt"></i> -->
                <i class="fas fa-ellipsis-v"></i>
            </button>
        </h1>
        <!-- <section class="new-task-form"> -->
        <!-- <input
                type="text"
                placeholder="What shall it be?"
                id="nameInput"
                class="nameInput input"
                #nameInputRef
                (keydown.Enter)="addTask()"
                (keydown.Escape)="clearTaskNameInput(nameInputRef)"
                [(ngModel)]="this.taskNameInput"
            />
            <button class="btn modal-btn btn-submit" [disabled]="!this.taskNameInput" (click)="addTask()">add</button> -->
        <single-input-form
            noFocusNoBorder
            placeholder="What shall it be?"
            class="new-task-form"
            (onSubmit)="addTask($event)"
            [focusChangeEvents]="this.focusChangeEventsSubject.asObservable()"
        ></single-input-form>
        <!-- </section> -->
        <section class="task-list">
            <h5 *ngIf="!this.activeTaskList || this.activeTaskList.list.length == 0" style="text-align: center">
                No tasks yet...
            </h5>
            <ul *ngIf="this.activeTaskList">
                <task
                    *ngFor="let task of this.uncompletedTasks; let i = index"
                    [data]="task"
                    [taskPosition]="i"
                    [showCompleted]="showCompletedMaster"
                ></task>
                <single-input-form
                    *ngIf="countOpenTasks(activeTaskList.list)"
                    (onSubmit)="dispatchCreateTask($event)"
                ></single-input-form>
                <show-completed
                    *ngIf="completedTasks.length"
                    [isOpen]="showCompleted"
                    (onToggle)="showCompleted = $event"
                    [tasks]="completedTasks.length"
                ></show-completed>
                <div *ngIf="showCompleted">
                    <task
                        *ngFor="let task of this.completedTasks; let i = index"
                        [data]="task"
                        [taskPosition]="i + this.uncompletedTasks.length"
                        [showCompleted]="showCompletedMaster"
                    ></task>
                </div>
            </ul>
        </section>
    </main>
</div>

<edit-menu></edit-menu>
<custom-dialog></custom-dialog>
