.container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    max-width: min(1500px, 100vw);

    padding: 20px 0 0;
}
.side-container {
    box-sizing: border-box;
    height: 100%;
    /* width: 17rem; */
    max-width: min(40%, 20rem);
    --padding-inline: 20px;
    
    display: flex;
    flex-direction: column;
    
    padding: 10px 0 var(--padding-inline) var(--padding-inline);
}
::-webkit-scrollbar {
    width: 3px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background: var(--global-background);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-clr);
}

main {
    width: 100%;
    isolation: isolate;
}

menu-toggle-btn {
    z-index: 20;
    position: fixed;
    top: 20px;
    right: 20px;
}

@media screen and (min-width: 650px) {
    menu-toggle-btn {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .container {
        width: 100vw;
    }
}
@media screen and (min-width: 1000px) {
    .container {
        width: 80vw;
    }
}
@media screen and (min-width: 1700px) {
    .container {
        width: 70vw;
    }
}
@media screen and (max-width: 650px) {
    
    menu-toggle-btn.open ~ .side-container {
        background: var(--global-background);
        --bg-trans-delay: 70ms;
        transform: translateY(-20px);
    }
    menu-toggle-btn:not(.open) ~ .side-container {
        transform: translateX(-100vw);
    }
    .side-container {
        position: fixed;
        z-index: 10;
        width: calc(100vw - 3px);
        max-width: unset;
        height: 100vh;
        padding: 20px;
        /* outline: 1px solid rgb(255, 0, 234); */

        overflow: scroll;

        /* box-sizing: border-box; */

        --bg-trans: 180ms;
        --bg-trans-delay: 0ms;
        transition: transform 180ms ease-in-out, background var(--bg-trans) var(--bg-trans-delay);
    }

    main {
        width: 100%;
    }
}
main {
    padding: 20px;
    padding-top: 0;
}

.list-name {
    margin: 0;
}
.new-task-form {
    margin: 20px 0;
}
.nameInput {
    width: calc(100% - 65px);
    box-sizing: border-box;
}
.btn-add {
    float: right;
}

.task-list ul {
    padding: 0;
    margin: 0;
}