menu-toggle-btn {
    z-index: 11;
    float: right;
    margin: 10px;
}
.action-btns-mobile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; */
}
.action-btn-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    margin-right: 5px;
}
.action-btn-col + .action-btn-col {
    border-left: 1px solid var(--tinted-gray-600);
    padding-left: 5px;
    margin-right: 0px;
}
.priority-list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.priority-list > * {
    display: block;
    margin: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: background 100ms;
}
.priority-list > * + * {
    border-bottom: 1px solid var(--tinted-gray-600);
    /* padding-bottom: 5px;
    margin-bottom: 0px; */
}
.active-priority {
    /* background: var(--global-item-bg-alt); */
    background: hsl(var(--secondary-clr-hue) 40% 50% / 0.5);
}
.priority-list > *:hover {
    background: var(--global-item-bg-highlight);
}

.position-task-action-btns {
    position: relative;
    height: 100%;
}
.btn-group {
    isolation: isolate;
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    margin: 0;
    padding: 10px;
    width: max-content;

    float: right;
    display: flex;

    transition: background 80ms, box-shadow 80ms;
}
/* .task:hover:not(.is-focused, .completed, .completed-transition) .btn-group {
    background: var(--background);
    box-shadow: -7px  0 5px  -5px  var(--background), 
                -10px 0 7px  -7px  var(--background), 
                -12px 0 10px -10px var(--background), 
                -15px 0 15px -15px var(--background);
} */
.btn-group > * {
    margin: 0;
}
.btn-group > * + * {
    margin-left: 10px;
}
/* .btn-group .btn:not(:hover) {
    text-shadow: var(--box-shadow-m);
} */
.task.is-focused .btn-group {
    pointer-events: none;
}
.task:is(:not(:hover), .is-focused) .btn-group > * {
    transform: scale(0.5);
    filter: opacity(0);
    pointer-events: none;

    --delay: calc(50ms * var(--btn-index-reverse));
}
.btn-group > *:not(:hover) {
    --delay: calc(80ms * var(--btn-index));
    transition: background 200ms, transform 200ms var(--delay), filter 150ms /* 80ms */ var(--delay);
}