<div class="menu-container">
    <input type="checkbox" id="checkbox" style="display: none" [checked]="isOpen" />
    <label role="button" class="btn btn-icon btn-{{ color }} size-{{ size }}" (click)="toggleMenu()">
        <span [class]="type"></span>
    </label>

    <!-- <div style="display: none;" #checkForNgContent><ng-content></ng-content></div> -->
    <div class="drop-down {{ orientation }}" [class.open]="isOpen && !(noDropDown === true || noDropDown === '')">
        <ng-content></ng-content>
    </div>
</div>
