<ng-container *rxIf="listEntity$; let entity; strategy: 'native'">
    <h1 class="heading | mt-4">
        <app-editable-entity-title [entity]="entity"></app-editable-entity-title>
    </h1>

    <!-- <div class="created-at | test-sm text-tinted-400" *ngIf="detail$ | async as detail">
        <span class="text-tinted-500">Created at</span> {{ detail?.createdAt | date }},
        {{ detail?.createdAt | date : 'shortTime' }}
    </div> -->

    <app-entity-description
        #descriptionEditor
        *rxIf="isDescriptionOpen$"
        [context]="descriptionContext$ | push : 'native'"
        (update)="updateDescription($event)"
        (blur)="descriptionBlurInput$.next($event)"
    ></app-entity-description>
</ng-container>

<ng-container *rxLet="children$; let children">
    <div class="button-group | mt-5 flex w-fit items-center gap-2" cdkMenuBar>
        <button
            *rxIf="!(isDescriptionOpen$ | push)"
            class="button-naked text-tinted-200 hover:text-tinted-100"
            appTooltip="Add a description to this list"
            (click)="openDescription()"
            cdkMenuItem
            data-test-name="add-description"
        >
            <app-icon icon="description" class="mr-1"></app-icon>
            Add description
        </button>

        <button
            *rxIf="!children || !children.length"
            class="button-naked text-tinted-200 hover:text-tinted-100"
            appTooltip="Create a new list inside this one"
            (click)="createSublist()"
            cdkMenuItem
            data-test-name="create-children"
        >
            <app-icon icon="fas fa-plus" class="mr-1"></app-icon>
            New sublist
        </button>
    </div>

    <ng-container *rxIf="children && children.length">
        <div class="spacer | h-5"></div>

        <p class="mb-2 text-lg font-semibold">Sublists</p>
        <button
            class="button-naked text-tinted-200 hover:text-tinted-100 mb-2"
            appTooltip="Create a new list inside this one"
            (click)="createSublist()"
            data-test-name="create-children"
        >
            <app-icon icon="fas fa-plus" class="mr-1"></app-icon>
            New sublist
        </button>

        <div
            class="children | mt-3 grid items-start gap-1"
            cdkMenuBar
            data-test-name="entity-children"
            style="grid-template-columns: repeat(auto-fill, minmax(min(13rem, 100%), 1fr))"
        >
            <button
                class="child | button-m text-tinted-200 max-w-full truncate bg-transparent text-left duration-[20ms]"
                *ngFor="let child of children"
                routerLink="/home/{{ child.id }}"
                cdkMenuItem
                [cdkContextMenuTriggerFor]="options"
                #trigger="cdkContextMenuTriggerFor"
                data-test-name="entity-child"
            >
                <app-entity-page-label
                    [pageTitle]="child.title"
                    [pageIcon]="child.entityType"
                ></app-entity-page-label>
                <ng-template #options>
                    <!-- @TODO: Using the options$ here is wrong, since the children might be of a different entityType than the parent. -->
                    <app-drop-down
                        [items]="(options$ | async) || []"
                        [rootTrigger]="trigger"
                        [data]="{ id: child.id, entityType: child.entityType }"
                    ></app-drop-down>
                </ng-template>
            </button>
        </div>
        <div class="spacer | h-8"></div>
    </ng-container>
</ng-container>

<ng-container *ngIf="tasks$ | async as tasks; else loadingTasks">
    <app-page-progress-bar [taskTree]="tasks"></app-page-progress-bar>

    <div class="options | mb-3 mt-2 flex gap-2">
        <button
            class="button-naked text-tinted-200 hover:text-tinted-100"
            (click)="createTask()"
            appTooltip="Create a new task"
            data-test-name="create-task"
        >
            <app-icon icon="fas fa-plus" class="mr-1"></app-icon>
            New task
        </button>
    </div>

    <ng-container *ngIf="tasks.length; else noTasks">
        <app-task-tree [tasks]="tasks"></app-task-tree>
        <!-- <pre class="select-text">{{ tasks | json }}</pre> -->
    </ng-container>

    <ng-template #noTasks>
        <p class="text-tinted-400 text-center">No tasks yet...</p>
    </ng-template>
</ng-container>

<ng-template #loadingTasks>
    <p class="text-center">
        <app-loading-spinner class="text-3xl"></app-loading-spinner>
    </p>
</ng-template>
