<ng-container *rxIf="listEntity$; let entity; strategy: 'native'">
    <h1 class="heading | mt-4">
        <app-editable-entity-title [entity]="entity"></app-editable-entity-title>
    </h1>

    <div class="button-group | flex w-fit flex-wrap items-center gap-2" cdkMenuBar>
        <button
            *rxIf="!(isDescriptionOpen$ | push)"
            class="add-description-button | button-naked"
            appTooltip="Add a description to this list"
            (click)="openDescription()"
            cdkMenuItem
            data-test-name="add-description"
        >
            <app-icon icon="description"></app-icon>
            Add description
        </button>

        <ng-container *ngTemplateOutlet="createSublistButton"></ng-container>
        <ng-container *ngTemplateOutlet="createTaskButton"></ng-container>
    </div>
</ng-container>

<ng-template #createTaskButton>
    <button class="create-task-button | button-naked" (click)="createTask()" data-test-name="create-task">
        <app-icon icon="fas fa-plus"></app-icon>
        New task
    </button>
</ng-template>
<ng-template #createSublistButton>
    <button
        class="create-sublist-button | button-naked"
        (click)="createSublist()"
        data-test-name="create-children"
    >
        <app-icon icon="fas fa-plus"></app-icon>
        New sublist
    </button>
</ng-template>

<div [hidden]="!(isDescriptionOpen$ | push)">
    <div class="spacer | h-5"></div>
    <p class="text-tinted-400 mb-1 text-lg font-semibold">Description</p>
    <!-- @TODO: Editor updates are not received when inside an ngIf bound to an observable -->
    <app-entity-description
        #descriptionEditor
        [context]="descriptionContext$ | async"
        (update)="updateDescription($event)"
        (blur)="descriptionBlurInput$.next()"
    ></app-entity-description>
</div>

<ng-container *rxLet="children$; let children">
    <ng-container *rxIf="children && children.length">
        <div class="spacer | h-5"></div>

        <p class="text-tinted-400 mb-1 text-lg font-semibold">Sublists</p>
        <ng-container *ngTemplateOutlet="createSublistButton"></ng-container>

        <div
            class="children | mt-3 grid items-start gap-1"
            cdkMenuBar
            data-test-name="entity-children"
            style="grid-template-columns: repeat(auto-fill, minmax(min(13rem, 100%), 1fr))"
        >
            <!-- @TODO: Using the options$ here is wrong, since the children might be of a different entityType than the parent. -->
            <button
                class="child | menu-item text-tinted-200 max-w-full truncate bg-transparent text-left duration-[20ms]"
                *ngFor="let child of children"
                routerLink="/home/{{ child.id }}"
                cdkMenuItem
                [appContextMenu]="options$ | async"
                [appMenuData]="{ id: child.id, entityType: child.entityType }"
                data-test-name="entity-child"
            >
                <app-entity-page-label
                    [pageTitle]="child.title"
                    [pageIcon]="child.entityType"
                ></app-entity-page-label>
            </button>
        </div>
    </ng-container>
</ng-container>

<div class="spacer | h-5"></div>

<app-activity *rxLet="entityWithDetail$; let entity" [entity]="entity"></app-activity>

<ng-container *ngIf="tasks$ | async as tasks; else loadingTasks">
    <ng-container *ngIf="tasks.tasks.length">
        <div class="spacer | h-5"></div>
        <p class="text-tinted-400 mb-1 text-lg font-semibold">Tasks</p>

        <app-page-progress-bar [taskTree]="tasks.tasks"></app-page-progress-bar>

        <div class="options | mb-2 mt-1.5 flex flex-wrap items-center gap-2">
            <ng-container *ngTemplateOutlet="createTaskButton"></ng-container>

            <app-view-settings [viewSettings$]="viewSettings$"></app-view-settings>
        </div>

        <app-task-tree
            [tasks]="tasks.tasks"
            [viewSettings]="viewSettings$ | push"
            [parentId]="tasks.parentId"
        ></app-task-tree>
    </ng-container>
</ng-container>

<ng-template #loadingTasks>
    <p class="text-center">
        <app-loading-spinner class="text-3xl"></app-loading-spinner>
    </p>
</ng-template>
