<div class="" *ngIf="listEntity$ | async as entity">
    <!-- <div class="flex gap-1 text-tinted-300 opacity-0 transition-opacity group-hover:opacity-100"> -->
    <!--     <button class="button-naked">Add Sublist</button> -->
    <!--     <button class="button-naked">Add Description</button> -->
    <!-- </div> -->
    <!-- dont know 'bout these ones: -->
    <!-- <button class="button-naked">Add Task</button> -->
    <!-- <button class="button-naked">Share</button> -->

    <h1 class="heading | mt-4">
        <app-editable-entity-title [entity]="entity"></app-editable-entity-title>
    </h1>

    <!-- <div class="created-at | test-md text-tinted-400" *ngIf="detail$ | async as detail">
        <span class="text-tinted-500">Created at</span> {{ detail?.createdAt | date }},
        {{ detail?.createdAt | date : 'shortTime' }}
    </div> -->

    <app-entity-description
        #descriptionEditor
        [hidden]="!(isDescriptionShown$ | async)"
        [description]="description$ | async"
        (descriptionChange)="onDescriptionUpdate($event)"
        (blur)="descriptionBlurEvents$.next($event)"
    ></app-entity-description>

    <!-- <p>And this is the part for the description</p>
            <p>Where you can</p>
            <ul>
                <li>Describe the list/task in further detail</li>
                <li>Take notes for yourself</li>
            <li>Quickly write down / sketch out ideas</li>
        </ul> -->

    <div class="button-group | mt-5 flex w-fit items-center gap-2" cdkMenuBar>
        <button
            *ngIf="!(isDescriptionShown$ | async)"
            class="button-naked text-tinted-200 hover:text-tinted-100"
            appTooltip="Add a description to this list"
            (click)="isDescriptionShown$.next(true); descriptionEditor.focusable.focus()"
            cdkMenuItem
            data-test-name="add-description"
        >
            <app-icon icon="description" class="mr-1"></app-icon>
            Add description
        </button>

        <button
            class="button-naked text-tinted-200 hover:text-tinted-100"
            appTooltip="Create a new list inside this one"
            (click)="createNewSublist()"
            cdkMenuItem
            data-test-name="create-children"
        >
            <app-icon icon="fas fa-plus" class="mr-1"></app-icon>
            New sublist
        </button>
    </div>

    <div
        class="children | mt-3 flex flex-wrap gap-2"
        *ngIf="entity.children?.length"
        cdkMenuBar
        data-test-name="entity-children"
    >
        <button
            class="child | button-m text-tinted-200"
            *ngFor="let child of children$ | async"
            routerLink="/home/{{ child.id }}"
            cdkMenuItem
            [cdkContextMenuTriggerFor]="options"
            #trigger="cdkContextMenuTriggerFor"
            data-test-name="entity-child"
        >
            <app-entity-page-label [pageTitle]="child.title" [pageIcon]="child.entityType"></app-entity-page-label>

            <ng-template #options>
                <!-- @TODO: Using the options$ here is wrong, since the children might be of a different entityType than the parent. -->
                <app-drop-down
                    [items]="(options$ | async) || []"
                    [rootTrigger]="trigger"
                    [data]="{ id: child.id, entityType: child.entityType }"
                ></app-drop-down>
            </ng-template>
        </button>
    </div>
</div>

<ng-container *ngIf="tasks$ | async as tasks; else loadingTasks">
    <app-page-progress-bar [taskTree]="tasks"></app-page-progress-bar>

    <div class="options | mb-3 mt-2 flex gap-2">
        <button
            class="button-naked text-tinted-200 hover:text-tinted-100"
            (click)="createTask()"
            appTooltip="Create a new task"
            data-test-name="create-task"
        >
            <app-icon icon="fas fa-plus" class="mr-1"></app-icon>
            New task
        </button>
    </div>

    <ng-container *ngIf="tasks.length; else noTasks">
        <app-task-tree [tasks]="tasks"></app-task-tree>
        <!-- <pre class="select-text">{{ tasks | json }}</pre> -->
    </ng-container>

    <ng-template #noTasks>
        <p class="text-center text-tinted-400">No tasks yet...</p>
    </ng-template>
</ng-container>

<ng-template #loadingTasks>
    <p class="text-center">
        <loading-spinner class="text-3xl"></loading-spinner>
    </p>
</ng-template>
