<div class="inline-flex items-center" *ngIf="entity$ | async as entity">
    <span>
        <page-entity-icon
            class="mr-2.5 inline-block -translate-y-0.5 text-2xl"
            [icon]="(isLoading$ | async) ? PageEntityState.LOADING : entity.entityType"
        >
        </page-entity-icon>
    </span>

    <span
        class="title | inline-block min-w-[2rem] cursor-text outline-none"
        [innerText]="entityTitle$ | async"
        [class.show-placeholder]="!(entityTitleDomState$ | async)"
        [attr.data-placeholder]="ENTITY_TITLE_DEFAULTS[entity.entityType]"
        #editableEntityTitle
        contenteditable
        focusable
        #entityTitleFocusable="focusable"
        [spellcheck]="entityTitleFocusable.isFocused"
        (textChanges)="entityTitleChanges$.next($event)"
        [mutationOptions]="{ plainOnly: true, observe: entityTitleFocusable.isFocused }"
        (keydown)="keydownEvents$.next($event)"
        (blur)="blurEvents$.next($event)"
        data-test-name="editable-entity-name"
    ></span>
</div>
