<div class="inline-flex items-center" *ngIf="entity$ | async as entity">
    <span>
        <app-icon
            class="mr-2.5 inline-block -translate-y-0.5 text-2xl"
            [iconClass]="(isLoading$ | async) ? EntityState.LOADING : entity.entityType"
        >
        </app-icon>
    </span>

    <app-inline-editor
        class="title"
        [textInput]="(entity$ | async)?.title || ''"
        [placeholder]="ENTITY_TITLE_DEFAULTS[entity.entityType]"
        (update)="titleUpdates$.next($event)"
        data-test-name="editable-entity-name"
    ></app-inline-editor>
</div>
