
:host {
    display: contents;
    /* position: relative; */
}
.task-progress-container {
    width: 100%;
    isolation: isolate;
    
    border-radius: var(--border-rad-xl);
    pointer-events: none;
    
    &.border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 28px;
        overflow: hidden;
    }
}
.task-progress {
    width: calc(100% - 0px);
    height: 3px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    transition: opacity 280ms, height 180ms;
    opacity: 0.4;
    
    .border & {
        position: absolute;
        bottom: 0;
        left: 0px;
    }
}

.task-progress > * {
    background: var(--color);
    
    transition: width 320ms ease;
    
    .border & {
        height: 2px;
        box-shadow: 0 0 2px var(--color), 0 0 5px var(--color), 0 0 7px var(--color), 0 0 10px var(--color);
    }
    .bar & {
        height: 4px;
        box-shadow: 0 0 2px var(--color), 0 0 5px var(--color);
        border-radius: var(--br-1, 0) var(--br-2, 0) var(--br-3, 0) var(--br-4, 0);

        &:first-child {
            --br-1: 2px;
            --br-4: 2px;
        }
        &:last-child, &.last {
            --br-2: 2px;
            --br-3: 2px;
        }
    }
}
/* .task-progress-container:hover .task-progress > * {
    box-shadow: 0 0 5px var(--color), 0 0 10px var(--color);
} */
