.container {
    position: relative;
    display: flex;
    /* min-height: 80vh; */
    width: 90vw;
    /* outline: 2px solid red; */
}
main {
    height: 100%;
    /* outline: 2px solid red; */
}

.heading i {
    transition: 180ms;
}
.heading i:hover {
    filter: brightness(0.7);
}
.new-task-form {
    margin-bottom: 20px;
}
.nameInput {
    width: calc(100% - 65px);
    margin-right: 5px;

    box-sizing: border-box;
}
.btn-add {
    float: right;
}

.task-list {
    min-width: 40vw;
    max-width: 90vw;
}
.task-list ul {
    padding: 0;
    transition: 200ms;
}


task {
    position: relative;
    /* border: 1px solid red; */
}