<span
    class="inline-block cursor-text overflow-x-auto outline-none"
    [innerText]="text$ | async"
    [class.show-placeholder]="!(textDomState$ | async)"
    [class]="editorClass"
    [attr.data-placeholder]="placeholder"
    [style.--placeholder-color]="placeholderColor"
    #inlineEditor
    contenteditable
    focusable
    (focusChange)="isFocused = $event"
    #editorFocusable="focusable"
    [spellcheck]="editorFocusable.isFocused"
    (textChanges)="textChanges$.next($event)"
    [mutationOptions]="{ plainOnly: true, observe: editorFocusable.isFocused }"
    (keydown)="keydownEvents$.next($event)"
    (blur)="blurEvents$.next($event)"
    enterKeyHint="Done"
    data-test-name="inline-editor"
></span>
