.ProseMirror,
.rendered-content {
    @apply pb-6 outline-none;
}

:is(.ProseMirror, .rendered-content) :is(p, ul, ol, blockquote) {
    margin: 0;
}
:is(.ProseMirror, .rendered-content) :is(p, ul, ol, blockquote):not(:last-child) {
    @apply mb-2;
}
:is(.ProseMirror, .rendered-content) hr {
    @apply my-4;
}

:is(.ProseMirror, .rendered-content) blockquote {
    @apply relative rounded bg-tinted-850 py-1 pl-3.5;
}
:is(.ProseMirror, .rendered-content) blockquote::before {
    content: '';
    @apply absolute left-0 top-0 h-full w-[0.3125rem] rounded bg-tinted-400;
}

:is(.ProseMirror, .rendered-content) a {
    @apply underline cursor-pointer;
}

:is(.ProseMirror, .rendered-content) code {
    @apply rounded-md bg-tinted-800 px-[0.365em] py-[0.125em] text-[.9em] font-medium text-tinted-300;
}
:is(.ProseMirror, .rendered-content) a code {
    @apply !text-inherit;
}
:is(.ProseMirror, .rendered-content) pre code {
    @apply my-2 block px-3 py-2;
}

:is(.ProseMirror, .rendered-content) h1 {
    font-size: 1.8rem;
}

:is(.ProseMirror, .rendered-content) ul[data-type='taskList'] {
    @apply ml-0.5 list-none;
}
:is(.ProseMirror, .rendered-content) ul[data-type='taskList'] li {
    display: flex;
}
:is(.ProseMirror, .rendered-content) ul[data-type='taskList'] input {
    @apply accent-submit-400;
}
:is(.ProseMirror, .rendered-content) li p {
    @apply inline;
}
:is(.ProseMirror, .rendered-content) ul[data-type='taskList'] li > label {
    flex: 0 0 auto;
    @apply mr-2 select-none;
}

:is(.ProseMirror, .rendered-content) ul[data-type='taskList'] li > div {
    flex: 1 1 auto;
}

.ProseMirror :is(p.is-editor-empty:first-child, .is-empty)::before {
    @apply text-tinted-400;

    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

button.isActive {
    @apply !bg-primary-400 font-bold text-tinted-900;
}