<div class="task-wrapper">
    <div
        *ngIf="data.meta.notes && !isDetailsPopOutOpen"
        class="pop-out-collapsed"
        (click)="toggleDetailsPopOutOpen(); $event.stopPropagation()"
    ></div>
    <div #popOutContainer *ngIf="isDetailsPopOutOpen" class="pop-out-container">
        <textarea
            #notesArea
            class="input pop-out dimm-0"
            placeholder="notes"
            [(ngModel)]="notesAreaValue"
            [disabled]="isCompleted"
            [ngStyle]="
                isDetailsPopOutOpen && uiState.detailsPopOut.notesAreaHeight
                    ? { height: uiState.detailsPopOut.notesAreaHeight }
                    : {}
            "
            (input)="setTextAreaHeight()"
            (focus)="setTextAreaHeight()"
        ></textarea>
        <div class="position-pop-out-actions">
            <div class="pop-out-actions-container">
                <button
                    class="pop-out-action no-filter"
                    title="open details menu"
                    (click)="data.isCompleted ? showDetails('notes') : editTaskDetails('notes')"
                >
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <button
                    class="pop-out-action"
                    [class.primary-clr]="uiState.detailsPopOut.keepOpen"
                    [class.no-filter]="!uiState.detailsPopOut.keepOpen"
                    title="{{ uiState.detailsPopOut.keepOpen ? 'DON\'T keep details open' : 'keep details open' }}"
                    (click)="setKeepDetailsPopOutOpen(!uiState.detailsPopOut.keepOpen)"
                >
                    <i *ngIf="uiState.detailsPopOut.keepOpen" class="far fa-lock-alt"></i>
                    <i *ngIf="!uiState.detailsPopOut.keepOpen" class="far fa-lock-open-alt"></i>
                </button>
                <button
                    *ngIf="notesAreaValue != data.meta.notes"
                    class="pop-out-action danger-clr"
                    title="revert changes"
                    style="transform: scaleX(-1) rotate(40deg)"
                    (click)="resetNotesArea()"
                >
                    <i class="fas fa-share"></i>
                </button>
                <button
                    class="pop-out-action"
                    title="{{ notesAreaValue != data.meta.notes ? 'save changes & ' : '' }}close"
                    [class.submit-clr]="notesAreaValue != data.meta.notes"
                    [class.no-filter]="notesAreaValue == data.meta.notes"
                    (click)="toggleDetailsPopOutOpen()"
                >
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <li
        id="task-{{ this.data.id }}"
        class="task"
        [class.touchDevice]="isTouchDevice"
        [class.completed]="this.isCompleted && this.data.isCompleted"
        [class.completed-transition]="this.isCompleted"
        [class.alt-bg]="this.taskPosition % 2 == 1"
    >
        <div class="position-time-completed">
            <span *ngIf="this.data.isCompleted" class="time-completed">
                {{ formatDateRelative(this.data.completedAt) }}
            </span>
        </div>
        <div class="wrapper outer-wrapper">
            <div class="wrapper inner-wrapper">
                <button
                    class="btn btn-icon btn-complete"
                    title="mark task as {{ this.data.isCompleted ? 'un' : '' }}completed"
                    (click)="toggleCompleted()"
                    (mouseenter)="completeBtnIsHovered = true"
                    (mouseleave)="completeBtnIsHovered = false"
                >
                    <i
                        *ngIf="this.data.isCompleted; else uncompleted"
                        class="{{ completeBtnIsHovered ? 'far fa-circle' : 'fas fa-check-circle' }}"
                    ></i>
                    <ng-template #uncompleted
                        ><i class="{{ completeBtnIsHovered ? 'fas fa-check-circle' : 'far fa-circle' }}"></i>
                    </ng-template>
                </button>

                <div class="text-container">
                    <ng-template #detailIcons>
                        <span #detailIconsWrapper class="detail-icons-wrapper">
                            <span
                                *ngIf="!data.isCompleted || this.data.meta.notes"
                                class="detail-icon notes-icon"
                                [class.reveal]="!this.data.meta.notes"
                                title="toggle pop-out notes"
                                (click)="toggleDetailsPopOutOpen()"
                            >
                                <i *ngIf="isDetailsPopOutOpen" class="fas fa-comment-alt-lines"></i>
                                <i *ngIf="!isDetailsPopOutOpen" class="far fa-comment-alt-lines"></i>
                            </span>
                            <span
                                *ngIf="this.data.meta.links.length"
                                [title]="this.data.meta.links.join('\n')"
                                class="detail-icon"
                                (click)="data.isCompleted ? showDetails('links') : editTaskDetails('links')"
                            >
                                <i class="far fa-external-link-alt"></i>
                                <i class="fas fa-caret-down" style="margin-left: 0.175em"></i>
                            </span>
                        </span>
                    </ng-template>
                    <p>
                        <span
                            *ngIf="!isCompleted"
                            class="position-priority-icon"
                            [class.reveal-on-hover]="data.priority == 0"
                        >
                            <priority-icon
                                [priority]="data.priority"
                                [showDropDown]="!isTouchDevice"
                                (change)="setPriority($event)"
                            ></priority-icon>
                        </span>
                        <span class="taskName">
                            {{ this.data.name }}
                        </span>
                        <!-- && (data.meta.notes || data.meta.links.length) -->
                        <span *ngIf="!data.subTasks.length" class="first-row-detailIcons">
                            <template [ngTemplateOutlet]="detailIcons"></template>
                        </span>
                    </p>
                    <div class="second-row">
                        <p *ngIf="this.data.subTasks.length != 0" class="subtask-list-toggle">
                            <collapse-toggle
                                [isOpen]="!this.data.collapseSubtaskList"
                                noSpacing
                                hideToggleText
                                dimm="none"
                                (onToggle)="toggleSubtaskList()"
                            >
                                <span
                                    *ngIf="countOpenTasks(this.data.subTasks) != 0; else completed"
                                    class="text-shadow"
                                    style="color: var(--secondary-clr)"
                                >
                                    {{ countOpenTasks(this.data.subTasks) }} open
                                </span>
                                <ng-template #completed>
                                    <span style="color: var(--submit-clr)">
                                        {{ completedTasks.length }} completed
                                    </span>
                                </ng-template>
                                <span class="dimm-1">
                                    {{
                                        completedTasks.length && uncompletedTasks.length
                                            ? "/ " + this.data.subTasks.length
                                            : ""
                                    }}
                                    {{ this.data.subTasks.length == 1 ? "subtask" : "subtasks" }}
                                </span>
                            </collapse-toggle>
                        </p>
                        <!-- && (data.meta.notes || data.meta.links.length) -->
                        <template *ngIf="data.subTasks.length" [ngTemplateOutlet]="detailIcons"></template>
                    </div>
                </div>
            </div>
            <ng-template #taskActionBtns>
                <button
                    title="add sub task"
                    class="btn btn-icon btn-secondary"
                    [class.disabled]="this.data.isCompleted"
                    (click)="addSubTask(); toggleTaskActionBtns(false)"
                    style="--btn-index: 2; --btn-index-reverse: 0"
                >
                    <i class="fas fa-plus"></i></button
                ><button
                    title="show{{ this.data.isCompleted ? '' : '/edit' }} task details"
                    class="btn btn-icon btn-edit"
                    (click)="data.isCompleted ? showDetails() : editTaskDetails(); toggleTaskActionBtns(false)"
                    style="--btn-index: 1; --btn-index-reverse: 1"
                >
                    <!-- [class.disabled]="this.data.isCompleted" -->
                    <!-- <i class="fas fa-info"></i> -->
                    <i class="fas fa-ellipsis-v"></i></button
                ><button
                    title="delete task"
                    class="btn btn-icon btn-delete"
                    (click)="deleteTask(this.data.id); toggleTaskActionBtns(false)"
                    style="--btn-index: 0; --btn-index-reverse: 2"
                >
                    <i class="far fa-trash-alt"></i>
                </button>
            </ng-template>
            <div *ngIf="!isTouchDevice" class="position-task-action-btns">
                <div class="btn-group">
                    <template [ngTemplateOutlet]="taskActionBtns"></template>
                </div>
            </div>
            <menu-toggle-btn
                *ngIf="isTouchDevice"
                [isOpen]="touchDevice_showBtns"
                (onMenuToggle)="toggleTaskActionBtns($event)"
            >
                <template [ngTemplateOutlet]="taskActionBtns"></template>
            </menu-toggle-btn>
        </div>
        <div class="position-task-progress">
            <div class="task-progress-container">
                <div *ngIf="data.subTasks.length" class="task-progress">
                    <span
                        class="submit-clr"
                        [style]="'width:' + (completedTasks.length / data.subTasks.length) * 100 + '%;'"
                    ></span>
                    <span
                        class="secondary-clr"
                        [style]="'width:' + (uncompletedTasks.length / data.subTasks.length) * 100 + '%;'"
                    ></span>
                </div>
            </div>
        </div>
    </li>
</div>

<ul
    *ngIf="this.data.subTasks.length != 0"
    class="subtask-list subtask-list-{{ this.data.id }}"
    [class.hide]="this.data.collapseSubtaskList"
>
    <task
        *ngFor="let task of this.uncompletedTasks; let i = index"
        [data]="task"
        [showCompleted]="showCompleted"
        [taskPosition]="this.taskPosition + i - 1"
    ></task>

    <single-input-form
        *ngIf="this.data.subTasks.length != 0 && !this.data.collapseSubtaskList && !data.isCompleted"
        placeholder="add new subtask..."
        (onSubmit)="addSubTask($event)"
        [inputFieldId]="'_' + data.id"
    ></single-input-form>

    <collapse-toggle
        *ngIf="completedTasks.length && uncompletedTasks.length"
        [isOpen]="showCompleted"
        (onToggle)="showCompleted = $event"
        colorClass="btn-submit"
        dimm="dimm-1"
        >{{ completedTasks.length }} completed subtask{{ completedTasks.length > 1 ? "s" : "" }}</collapse-toggle
    >
    <div *ngIf="showCompleted || !uncompletedTasks.length">
        <task
            *ngFor="let task of this.completedTasks; let i = index"
            [data]="task"
            [showCompleted]="showCompleted"
            [taskPosition]="this.taskPosition + i + 1 + this.uncompletedTasks.length"
        ></task>
    </div>
</ul>
