<div #taskWrapper class="task-wrapper" [class.isNotesBlockFocused]="isNotesBlockFocused" [class.touchDevice]="isTouchDevice">
    <!-- <div
        *ngIf="data.meta.notes && !isDetailsPopOutOpen"
        class="pop-out-collapsed"
        (click)="toggleDetailsPopOutOpen(); $event.stopPropagation()"
    ></div> -->
    <div *ngIf="isDetailsPopOutOpen" class="pop-out-container">
        <content-editable
            (focusEvents)="isNotesBlockFocused = $event"
            [focusEventSubject]="notesBlockFocusSubject.asObservable()"
            (keydownEvents)="notesBlockKeydownHandler($event)"
            (contentChanges)="updatedNotes = $event"
            [resetEventsSubject]="resetEventsSubject.asObservable()"
            [contentEditableOptions]="{
                content: this.data.meta.notes,
                allowEdit: !isCompleted,
                forceFocusedOnBlur: true,
                placeholder: 'Notes'
            }"
            (document:click)="notesBlockOutsideClickHandler($event)"
        >
        </content-editable>
        <div class="position-pop-out-actions">
            <div class="pop-out-actions-container">
                <!-- class=pop-out-action -->
                <button
                    class="btn-icon-{{ optButtonSize }} btn-safe-bg clr-tinted-neutral"
                    title="open task details"
                    (click)="openDetails(!data.isCompleted, 'notes')"
                >
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <button
                    *ngIf="updatedNotes != data.meta.notes"
                    class="btn-icon-{{ optButtonSize }} btn-safe-bg clr-danger"
                    title="revert changes"
                    (click)="resetNotesBlock()"
                >
                    <i class="fas fa-share" style="transform: scaleX(-1) rotate(40deg)"></i>
                </button>
                <button
                    class="btn-icon-{{ optButtonSize }} btn-safe-bg {{ updatedNotes != data.meta.notes ? 'clr-submit' : 'clr-tinted-neutral' }}"
                    title="{{ updatedNotes != data.meta.notes ? 'save changes & ' : '' }}close"
                    (click)="toggleDetailsPopOutOpen()"
                    >
                    <!-- [class.no-filter]="updatedNotes == data.meta.notes" -->
                    <!-- [class.submit-clr]="updatedNotes != data.meta.notes" -->
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <li
        id="task-{{ this.data.id }}"
        class="task"
        [class.touchDevice]="isTouchDevice"
        [class.completed]="this.isCompleted && this.data.isCompleted"
        [class.completed-transition]="this.isCompleted"
        [class.is-focused]="isFocused"
        [class.highlight-border]="this.isViewingDetails || isFocused || this.isCompleted || this.isDeleting"
        style="--border-clr: var(--{{ this.isDeleting ? 'danger' : this.isCompleted ? 'submit' : 'primary' }}-clr);"
        [class.alt-bg]="this.taskPosition % 2 == 1"
        [class.mobile-menu-open]="this.isTaskActionBtnsMenuOpenOnTouchDevice"
    >
        <div class="position-completed-at">
            <span *ngIf="this.data.isCompleted" class="completed-at">
                {{ formattedCompletionDate }}
            </span>
        </div>

        <div class="position-snackbar">
            <div class="snackbar">
                <template [ngTemplateOutlet]="taskActionBtnsGroup1"></template>
            </div>
        </div>
        <div class="position-indicators">
            <div class="indicators">
                <span [class.hide]="!data.meta.links.length" class="links"></span>
                <span [class.hide]="!data.meta.notes" class="notes"></span>
            </div>
        </div>

        <div class="wrapper outer-wrapper">
            <div class="wrapper inner-wrapper">
                <button
                    class="btn-icon-m clr-submit complete-btn"
                    title="mark task as {{ this.data.isCompleted ? 'un' : '' }}completed"
                    (click)="toggleCompleted()"
                    (mouseenter)="isCompleteBtnHovered = true"
                    (mouseleave)="isCompleteBtnHovered = false"
                >
                    <i
                        *ngIf="this.data.isCompleted; else uncompleted"
                        class="{{ isCompleteBtnHovered ? 'far fa-circle' : 'fas fa-check-circle' }}"
                    ></i>
                    <ng-template #uncompleted
                        ><i class="{{ isCompleteBtnHovered ? 'fas fa-check-circle' : 'far fa-circle' }}"></i>
                    </ng-template>
                </button>

                <div class="text-container">
                    <p>
                        <span *ngIf="!isCompleted && data.priority != 0" class="position-priority-icon">
                            <priority-icon
                                [priority]="data.priority"
                                [showDropDown]="!isTouchDevice"
                                (change)="setPriority($event)"
                            ></priority-icon>
                        </span>

                        <span
                            #taskName
                            class="taskName wrap-text"
                            [contentEditable]="!isCompleted"
                            [spellcheck]="isFocused"
                            (textChanges)="updatedTaskName = $event"
                            [domChangesOptions]="{ plainOnly: true, observe: isFocused }"
                            (keydown.Enter)="taskName.blur()"
                            (keydown.Escape)="
                                updatedTaskName = data.name; taskName.innerText = data.name; taskName.blur()
                            "
                            (focus)="isFocused = true; updatedTaskName = data.name"
                            (blur)="isFocused = false; updateTaskName()"
                            >{{ this.data.name }}</span
                        >
                    </p>
                    <div class="second-row">
                        <p *ngIf="this.data.subTasks.length" class="subtask-list-toggle">
                            <collapse-toggle
                                [isOpen]="!uiState.collapseSubtaskList"
                                noSpacing
                                hideToggleText
                                dimm="none"
                                (onToggle)="toggleCollapseSubtaskList()"
                            >
                                <span
                                    *ngIf="openTasksCount; else completed"
                                    class="text-shadow"
                                    style="color: var(--primary-300)"
                                >
                                    {{ openTasksCount }} open
                                </span>
                                <ng-template #completed>
                                    <span style="color: var(--submit-400)"> {{ completedTasksCount }} completed </span>
                                </ng-template>
                                <span>
                                    <!-- class="dimm-1" -->
                                    {{ completedTasksCount && openTasksCount ? "/ " + this.data.subTasks.length : "" }}
                                    {{ this.data.subTasks.length == 1 ? "subtask" : "subtasks" }}
                                </span>
                            </collapse-toggle>
                        </p>
                    </div>
                </div>
            </div>
            <ng-template #taskActionBtnsGroup1>
                <menu-toggle-btn
                    *ngIf="!isCompleted"
                    colorClass="clr-tinted-neutral"
                    fa-icon="fa{{ data.priority == 0 ? 'r' : 's' }} fa-exclamation"
                    title="priority"
                    [size]="optButtonSize"
                    style="--btn-index: 3.5; --btn-index-reverse: 0; margin: 0"
                    [noDropdownPadding]="true"
                >
                    <div class="priority-list">
                        <priority-icon
                            *ngFor="let prio of [-1, 0, 1, 2, 3]"
                            [priority]="prio"
                            [class.active-priority]="prio == data.priority"
                            (click)="setPriority(prio)"
                            [showDropDown]="false"
                        ></priority-icon>
                    </div>
                </menu-toggle-btn>
                <button
                    class="btn-icon-{{ optButtonSize }} clr-tinted-neutral"
                    title="notes"
                    (click)="toggleDetailsPopOutOpen()"
                    style="--btn-index: 3; --btn-index-reverse: 0"
                >
                    <i class="far fa-comment-alt-lines"></i>
                    <!-- <i class="far fa-memo-circle-info"></i> -->
                </button>
                <button
                    title="links"
                    class="btn-icon-{{ optButtonSize }} clr-tinted-neutral"
                    (click)="openDetails(!data.isCompleted, 'links')"
                    style="--btn-index: 2.5; --btn-index-reverse: 0"
                >
                    <i class="far fa-external-link-alt"></i>
                </button>
            </ng-template>
            <ng-template #taskActionBtnsGroup2>
                <button
                    *ngIf="!isCompleted"
                    title="add sub task"
                    class="btn-icon-m btn-safe-bg clr-primary"
                    (click)="addSubTask(); setIsTaskActionBtnsMenuOpenOnTouchDevice(false)"
                    style="--btn-index: 2; --btn-index-reverse: 0"
                >
                    <!-- [class.disabled]="this.data.isCompleted" -->
                    <i class="fas fa-plus"></i>
                </button>
                <button
                    title="open task details"
                    class="btn-icon-m btn-safe-bg clr-secondary"
                    (click)="openDetails(!data.isCompleted); setIsTaskActionBtnsMenuOpenOnTouchDevice(false)"
                    style="--btn-index: 1; --btn-index-reverse: 1"
                >
                    <i class="fas fa-ellipsis-v"></i></button
                ><button
                    title="delete task"
                    class="btn-icon-m btn-safe-bg clr-danger"
                    (click)="deleteTask(); setIsTaskActionBtnsMenuOpenOnTouchDevice(false)"
                    style="--btn-index: 0; --btn-index-reverse: 2"
                >
                    <i class="far fa-trash-alt"></i>
                </button>
            </ng-template>
            <div *ngIf="!isTouchDevice" class="position-task-action-btns">
                <div class="btn-group">
                    <template [ngTemplateOutlet]="taskActionBtnsGroup2"></template>
                </div>
            </div>
            <menu-toggle-btn
                *ngIf="isTouchDevice"
                [isOpen]="isTaskActionBtnsMenuOpenOnTouchDevice"
                (onMenuToggle)="setIsTaskActionBtnsMenuOpenOnTouchDevice($event)"
            >
                <div class="action-btns-mobile-grid">
                    <div class="action-btn-col">
                        <template [ngTemplateOutlet]="taskActionBtnsGroup1"></template>
                    </div>
                    <div class="action-btn-col">
                        <template [ngTemplateOutlet]="taskActionBtnsGroup2"></template>
                    </div>
                </div>
            </menu-toggle-btn>
        </div>
        <div class="position-task-progress">
            <task-progress
                [tasksCount]="data.subTasks.length"
                [completedTasksCount]="completedTasksCount"
                [openTasksCount]="openTasksCount"
            ></task-progress>
        </div>
    </li>
</div>

<task-list
    *ngIf="this.data.subTasks.length && !uiState.collapseSubtaskList"
    variant="subtask"
    [tasklist]="data.subTasks"
    [id]="data.id"
    [taskPosition]="taskPosition"
    [collapseCompletedTasks]="uiState.collapseCompletedSubtasks"
    [isCompleted]="isCompleted"
    [focusChangeEvents]="quickAddInputFocusEventSubject"
    (onAddSubtask)="addSubTask($event)"
    (onToggleCollapseCompleted)="toggleCollapseCompletedSubtasks()"
    (completion)="onSubtaskCompletion($event)"
></task-list>
