:host {
    /* --bg: hsla(var(--bg-clr-hue), 15%, 19%, 0.24);
    --alt-bg: hsla(var(--bg-clr-hue), 15%, 50%, 0.212); */
    --bg: var(--global-item-bg);
    --alt-bg: var(--global-item-bg-alt);
}
.task-wrapper {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center;
    align-items: center; */
}
.task {
    /* position: relative; */
    /* height: max(1.9rem, max-content);
    height: 1.9rem; */
    z-index: 1;

    /* padding: 10px;
    padding-right: 20px; */
    border-radius: 10px;

    /* display: flex;
    justify-content: flex-start;
    align-items: center; */

    list-style: none;

    background: var(--bg);

    box-shadow: var(--box-shadow-s);
    transition: filter 150ms, background 80ms;
}
.task:not(.task-list > .task:first-child) {
    margin-top: 10px;
}
.alt-bg {
    background: var(--alt-bg);
}
.task:not(.touchDevice):hover {
    background: var(--global-item-bg-highlight) !important;
}
.task.completed {
    filter: opacity(0.25) brightness(0.8);
    /* opacity: .2; */
}
.task.completed:hover {
    filter: opacity(1);
    /* opacity: 1; */
}

.position-time-completed {
    position: relative;
    height: 100%;
    /* border: 1px solid red; */
}
.time-completed {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0%;
    --translateY: 5px;
    transform: translate(/* calc(-50% + 26.5px) */ 0, var(--translateY));
    width: max-content;

    color: var(--submit-clr);
    padding: 8px;
    border-radius: 10px;

    background: var(--global-background);
    box-shadow: var(--box-shadow-s);
    opacity: 0;

    pointer-events: none;

    transition: 200ms;
}
.time-completed::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 30px;
    transform: translateX(-50%);

    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--global-background) transparent transparent transparent;
}
.task.completed:hover .time-completed {
    --translateY: 0;
    opacity: 1;
}

.outer-wrapper {
    /* outline: 1px solid red; */
    /* position: relative; */
    display: flex;
    align-items: center;
}
.inner-wrapper {
    /* outline: 1px solid greenyellow; */
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    padding: 10px;
    /* padding-right: 20px; */
    border-radius: 10px;

    isolation: isolate;
    overflow: hidden;
}

.btn-complete {
    position: relative;
    margin-right: 10px;

    --shadow: var(--box-shadow-s), 0 0 0px 0px hsla(var(--color-hue), 97%, 58%, 0.3);
    --shadow-transition: box-shadow 300ms ease-in;
    transition: var(--shadow-transition), transform 200ms, color 200ms, background 200ms;
}
/* .task:not(.completed, .touchDevice) .btn-complete:hover:not([disabled], .disabled) {
    box-shadow: var(--box-shadow-s), 0 0 50px 700px hsla(var(--color-hue), 97%, 58%, 0.3);
    --shadow-transition: box-shadow 400ms ease;
} */

/* .task.completed-transition .btn-complete {
    --shadow-transition: box-shadow 500ms ease-in !important;
} */
.task.completed-transition .btn-complete,
.task.completed .btn-complete:hover {
    --shadow: var(--box-shadow-s), 0 0 50px 700px hsla(var(--color-hue), 97%, 58%, 0.3);
    --shadow-transition: box-shadow 400ms ease;
}
.task:not(.completed, .completed-transition) .btn-complete:not(:hover),
.task.touchDevice:not(.completed, .completed-transition) .btn-complete {
    color: gray;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
p {
    /* margin-block: 0; */
    margin-top: 0;
    margin-bottom: 0;
}

p .taskName {
    position: relative;
}
p .taskName::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;

    background: var(--submit-clr);
    box-shadow: var(--box-shadow-m);
    transition: width 320ms, box-shadow 220ms;
}
.task:is(.completed, .completed-transition) p .taskName::before {
    width: 100%;
    box-shadow: var(--box-shadow-s);
}

.position-priority-icon {
    position: relative;
}
.reveal-on-hover priority-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: inline-block;
    transition: opacity 180ms;
}
.task:hover .reveal-on-hover priority-icon {
    transition: opacity 600ms .8s;
}
.reveal-on-hover priority-icon {
    opacity: 0;
}
.task:not(.touchDevice):hover .reveal-on-hover priority-icon {
    opacity: 1;
}
.reveal-on-hover ~ * {
    transition: left 100ms ease-out;
    position: relative;
    left: 0px;
}
.task:not(.touchDevice):hover .reveal-on-hover ~ * {
    transition: left 200ms .7s ease-in;
    left: 20px;
}


.second-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

p.subtask-list-toggle {
    font-size: 0.9rem;
    margin-right: 1rem;
}

.task:not(.touchDevice) .first-row-detailIcons {
    margin-right: 130px;
}
.detail-icons-wrapper {
    font-size: 1.1rem;
    margin: 0 .5em 0 0;
    border-radius: 7px;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transform-origin: left;
    box-shadow: none;
}
.detail-icon {
    display: block;
    width: max-content;
    color: hsl(var(--primary-clr-hue), 100%, 55%);
    cursor: pointer;
    transition: color 180ms;
}
.detail-icon:not(:first-child) {
    margin: 0 0 0 5px;
}
.task:not(.touchDevice) .detail-icon:hover {
    color: var(--secondary-clr);
    text-shadow: 0 0 10px black;
}

menu-toggle-btn {
    /* position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%); */
    float: right;
    margin: 10px;
}
.position-task-action-btns {
    position: relative;
    height: 100%;
    /* outline: 1px solid greenyellow; */
}
.btn-group {
    /* outline: 1px solid red; */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: max-content;

    float: right;

    display: flex;
}
.btn-group .btn:not(:last-child) {
    margin: 0 10px 0 0;
}
.task:not(:hover) .btn-group .btn {
    transform: scale(0.5);
    filter: opacity(0);

    --delay: calc(50ms * var(--btn-index-reverse));
}
.btn-group .btn:not(:hover) {
    --delay: calc(80ms * var(--btn-index));
    transition: background 200ms, transform 200ms var(--delay), filter 150ms var(--delay);
}

.subtask-list {
    border-left: 1px solid rgba(128, 128, 128, 0.466);
    transition: padding 100ms 80ms ease;
}
.subtask-list.hide {
    padding: 0;
    height: 0;
    overflow: hidden;
}

.position-task-progress {
    position: relative;
}
.task-progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18px;
    isolation: isolate;

    border-radius: 9px;
    pointer-events: none;
    overflow: hidden;
}
.task-progress {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: calc(100% - 0px);
    height: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: opacity 280ms, height 180ms;
}
.task:not(:hover) .task-progress {
    opacity: .4;
    height: 1.5px;
}
.task-progress > * {
    height: 100%;
    box-shadow: 0 0 2px var(--color), 0 0 5px var(--color), 0 0 7px var(--color), 0 0 10px var(--color);
    background: var(--color);
}
.task:hover .task-progress > * {
    box-shadow: 0 0 5px var(--color), 0 0 10px var(--color);
}

.pop-out-collapsed {
    box-sizing: border-box;
    margin: 0 1rem;
    height: 13px;
    padding: 0;
    border-color: transparent;

    border-radius: 0 0 8px 8px;
    box-shadow: var(--box-shadow-s);
    cursor: pointer;
    transition: border-color 180ms;
}
.pop-out-collapsed:hover {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(--primary-clr);
}
.pop-out-container {
    margin: 0 1rem;
}
.pop-out {
    box-sizing: border-box;
    min-height: 50px;
    max-height: 200px;
    resize: vertical;
    width: 100%;
    font-size: 1em;

    color: var(--global-color);
    border-top: none !important;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    padding-bottom: 10px;

    background: none;
    box-shadow: var(--box-shadow-s);
}
.pop-out:not(:focus) {
    border: 1px solid var(--global-background);
}

.position-pop-out-actions {
    position: relative;
}
.pop-out-actions-container {
    position: absolute;
    bottom: 15px;
    right: 17.5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.pop-out-action {
    margin: 0 0 0 10px;
    font-size: 1.2rem;
    
    color: var(--color, var(--global-color));
    border: none;
    padding: 0;
    
    background: none;
    /* prettier-ignore */
    text-shadow: 0 0 2px var(--global-background), 
                 0 0 5px var(--global-background), 
                 0 0 8px var(--global-background),
                 0 0 10px var(--global-background), 
                 0 0 12px var(--global-background), 
                 0 0 15px var(--global-background);
    transition: color 130ms, filter 130ms;
}
.pop-out-action:hover {
    color: var(--color, var(--secondary-clr));
}

.pop-out-action:not(.no-filter):hover {
    filter: opacity(.6);
}