.tree-node {
    @apply text-tinted-300
        hover:bg-tinted-700
        hover:text-tinted-100
        [&.isSelected]:bg-tinted-700
        [&.isSelected]:text-tinted-100
        [&.active]:bg-tinted-700
        flex
        w-full
        items-center
        justify-start
        rounded-lg
        transition-colors
        duration-[var(--transition-duration)]
        hover:outline-none
        [&.nested]:pl-2.5;

    line-height: 1.7;
    --transition-duration: 5ms;
}

.indent-line {
    @apply border-tinted-700
        ml-3.5
        h-7
        border-l
        first:ml-1;
}

.content {
    @apply [.active_&]:text-primary-300
        [.active_&]:hover:text-primary-200
        flex
        grow
        gap-1
        h-7
        truncate
        py-0.5
        pr-1
        transition-colors
        duration-[var(--transition-duration)];
}

.node-toggle {
    @apply text-tinted-600
        hover:text-tinted-400
        shrink-0
        aspect-square
        rounded
        pl-2.5
        pr-1.5
        text-sm
        transition-colors;
}

.no-toggle-icon app-icon {
    @apply text-tinted-700
        transition-colors
        duration-[var(--transition-duration)];
}
.tree-node {
    @apply [&.isSelected_.no-toggle-icon_app-icon]:text-tinted-600
        [&_.no-toggle-icon_app-icon]:hover:text-tinted-600
        [&.active_.no-toggle-icon_app-icon]:text-tinted-600;
}

.btn-group {
    @apply flex
        gap-0.5;
}
.tree-node:not(:hover, .isSelected, :focus-visible, :focus-within) .btn-group {
    @apply hoverable:hidden hoverable:animate-none;
}
.btn-group button {
    @apply active:text-tinted-100
        hover:bg-tinted-600
        not-hoverable:text-tinted-600;
}
