<app-sidebar-layout data-test-name="workspace-page">
    <!-- SIDEBAR HEADER -->
    <ng-container sidebarHeader>
        <div
            *ngIf="!(isMobileScreen$ | async)"
            class="text-tinted-300 flex flex-col items-start gap-1 px-2 pb-2 pt-0.5"
            cdkMenu
        >
            <button
                cdkMenuItem
                class="menu-item | w-full text-left"
                appTooltip="Search for tasks and lists"
                [tooltipOptions]="{ preferredPosition: 'right' }"
                routerLink="/home/search"
            >
                <app-icon icon="fas fa-search"></app-icon> Search
            </button>
            <!-- <button
                cdkMenuItem
                class="menu-item | w-full text-left"
                appTooltip="Import one or more lists"
                [tooltipOptions]="{ preferredPosition: 'right' }"
            >
                <app-icon icon="fas fa-file-import"></app-icon> Import
            </button>
            <button
                cdkMenuItem
                class="menu-item | w-full text-left"
                appTooltip="Deleted content stays here for 30 days"
                [tooltipOptions]="{ preferredPosition: 'right' }"
            >
                <app-icon icon="fas fa-trash"></app-icon> Garbage
            </button> -->
            <!-- <button
                cdkMenuItem
                class="menu-item | w-full text-left"
                routerLink="/settings"
                appTooltip="The app settings"
                [tooltipOptions]="{ preferredPosition: 'right' }"
                data-test-name="settings-link"
            >
                <app-icon icon="fas fa-cog"></app-icon> Settings
            </button> -->
        </div>
    </ng-container>

    <!-- SIDEBAR CONTENT -->
    <ng-container sidebarContent>
        <p class="text-tinted-400 flex items-center justify-between px-3 text-sm">
            Tasklists
            <button
                class="icon-btn hover:bg-tinted-700 text-base"
                appTooltip="Create new list"
                (click)="createNewList()"
                data-test-name="sidebar-create-new-list"
            >
                <app-icon icon="plus"></app-icon>
            </button>
        </p>

        <div class="pt-10 text-center" *ngIf="isTreeLoading$ | async; else tree">
            <app-loading-spinner class="text-xl"></app-loading-spinner>
        </div>

        <ng-template #tree>
            <p *ngIf="(entityPreviewsTransformed$ | async)?.length == 0" class="text-tinted-400 text-center">
                No lists so far...
            </p>

            <cdk-tree
                [dataSource]="dataSource"
                [treeControl]="treeControl"
                class="tree-container | flex flex-col px-2"
                translate="no"
            >
                <cdk-tree-node *cdkTreeNodeDef="let node" [class.hidden]="!shouldRender(node)">
                    <button
                        class="tree-node"
                        *rxLet="(nodeLoadingMap$ | push)?.[node.id] || false; let isNodeLoading; strategy: 'native'"
                        [class.isSelected]="isSelected[node.id]"
                        [class.nested]="node.path.length > 0"
                        [appTooltip]="tooltip"
                        [tooltipOptions]="{ preferredPosition: 'right' }"
                        routerLink="/home/{{ node.id }}"
                        (click)="closeMobileMenu()"
                        routerLinkActive="active"
                        #nodeTooltip="appTooltip"
                        [cdkContextMenuTriggerFor]="nodeDropDown"
                        (cdkContextMenuOpened)="isSelected[node.id] = true"
                        (cdkContextMenuClosed)="isSelected[node.id] = false"
                        data-test-name="entity-tree-node"
                        [attr.data-test-is-loading]="isNodeLoading"
                        [attr.data-level]="node.path.length"
                    >
                        <ng-template #tooltip>
                            <app-icon [icon]="node.status || node.entityType"></app-icon>
                            <span translate="no">{{ node.title }}</span>
                        </ng-template>

                        <div class="indent-line" *ngFor="let line of range(node.path.length)">&nbsp;</div>

                        <div class="content">
                            <button
                                *ngIf="node.expandable; else noToggleIcon"
                                class="node-toggle"
                                cdkTreeNodeToggle
                                [attr.aria-label]="'Toggle ' + node.title"
                                (click)="toggleExpansion(node)"
                            >
                                <app-icon
                                    icon="chevronRight"
                                    class="block transition-transform"
                                    [class.rotate-90]="node.isExpanded"
                                ></app-icon>
                            </button>
                            <ng-template #noToggleIcon>
                                <div class="node-toggle no-toggle-icon">
                                    <app-icon
                                        icon="fas fa-genderless translate-y-0.5 translate-x-[0.5px]"
                                        class="pr-px"
                                    ></app-icon>
                                </div>
                            </ng-template>

                            <app-entity-page-label
                                [pageTitle]="node.title"
                                [pageIcon]="(isNodeLoading && 'Loading') || node.status || node.entityType"
                            ></app-entity-page-label>
                        </div>

                        <div class="btn-group">
                            <button
                                class="icon-btn"
                                (click)="createChild(node.id, node.entityType); $event.stopPropagation()"
                                data-test-name="create-child"
                            >
                                <app-icon icon="plus"></app-icon>
                            </button>
                            <button
                                class="icon-btn"
                                (click)="$event.stopPropagation(); nodeTooltip.hideTooltip()"
                                [cdkMenuTriggerFor]="nodeDropDown"
                                (cdkMenuOpened)="isSelected[node.id] = true"
                                (cdkMenuClosed)="isSelected[node.id] = false"
                                data-test-name="open-menu"
                            >
                                <app-double-ellipsis-icon></app-double-ellipsis-icon>
                            </button>
                        </div>
                        <ng-template #nodeDropDown>
                            <app-drop-down
                                [items]="node.menuItems"
                                [data]="{ id: node.id, entityType: node.entityType }"
                            ></app-drop-down>
                        </ng-template>
                    </button>
                </cdk-tree-node>
            </cdk-tree>
        </ng-template>

        <div class="spacer | mt-24"></div>
    </ng-container>

    <!-- MAIN CONTENT -->
    <router-outlet></router-outlet>
</app-sidebar-layout>
