:host {
    @apply box-border block max-w-xs rounded-lg border border-tinted-600/60 bg-tinted-700 glass py-1 px-2 text-sm text-tinted-100 shadow-xl;

    animation: reveal 130ms 280ms forwards;
    scale: 0.8;
    opacity: 0;
}

@keyframes reveal {
    100% {
        scale: 1;
        opacity: 1;
    }
}

:host-context(.top) {
    @apply mb-2;
}
:host-context(.bottom) {
    @apply mt-2;
}
:host-context(.right) {
    @apply ml-2;
}
:host-context(.left) {
    @apply mr-2;
}
