<div class="flex w-full flex-col gap-2">
    <div class="tree-container | flex flex-col">
        <ng-container *ngFor="let taskNode of treeWithUiChanges$ | async; let index = index">
            <div
                *ngIf="shouldRender(taskNode)"
                class="tree-node | flex h-fit"
                data-test-name="tree-node"
                [attr.data-test-node-level]="taskNode.path.length"
            >
                <div
                    class="indent-line | mr-6 border-l border-tinted-800"
                    *ngFor="let line of range(taskNode.path.length); let isMostInnerIndentLine = last"
                    [class.mt-2]="
                        isMostInnerIndentLine && (getPreviousNode(index)?.path?.length || 0) < taskNode.path.length
                    "
                ></div>
                <app-task
                    [data]="taskNode"
                    class="mt-2 grow"
                    [menuItems]="(menuItemsMap$ | async)?.[taskNode.taskPreview.id] || []"
                    (expansionChange)="toggleExpansion(taskNode, $event)"
                    (titleChange)="onTitleChange(taskNode.taskPreview.id, $event)"
                    (descriptionChange)="onDescriptionChange(taskNode.taskPreview.id, $event)"
                    (statusChange)="onStatusChange(taskNode.taskPreview.id, $event)"
                    (priorityChange)="onPriorityChange(taskNode.taskPreview.id, $event)"
                ></app-task>
            </div>
        </ng-container>
    </div>
</div>
