.sidebar {
    position: relative;
    min-height: 40vh;
    height: max-content;

    min-width: 9rem;
    min-width: max(max-content, 9rem); /* comment out for resizing to work properly */
    width: max-content;
    max-width: 17rem;
    resize: horizontal;
    overflow: auto;

    border-radius: 10px;
    --margin-top: 140px;
    margin: var(--margin-top) 20px 0 0;
    padding: 20px;
    padding-bottom: 60px;

    /* background: hsla(var(--bg-clr-hue), 14%, 20%, 0.158); */
    background: var(--global-background);
    box-shadow: var(--box-shadow-s);

    transition: background 200ms;
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    position: relative;
    padding: 10px;
    padding-right: 2rem;
    border-radius: 6px;
    cursor: pointer;
    
    /* background: hsla(var(--bg-clr-hue), 19%, 25%, 0.366); */
    background: var(--global-background);
    box-shadow: var(--box-shadow-s);
    transition: 180ms;
}
.sidebar li + li {
    margin-top: 5px;
}
.sidebar li:hover {
    filter: brightness(1.2);
}
.sidebar li:not(.active) i {
    display: none;
}
.sidebar li.completed {
    filter: opacity(0.8);
}
.sidebar li .text {
    position: relative;
    transition: 220ms;
}
.sidebar li.completed .text {
    color: hsla(0, 0%, 50%, 0.8);
}
.sidebar li .text::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;

    background: var(--complete-clr);
    box-shadow: var(--box-shadow-s);
    transition: 220ms;
}
.sidebar li.completed .text::before {
    width: 100%;
}

.sidebar .taskListsList li.active i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin-left: 20px;
    float: right;
    filter: opacity(0.6);
}
.sidebar li:nth-child(2n) {
    background: hsla(var(--bg-clr-hue), 20%, 50%, 0.2);
}
.file-interaction {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.file-interaction > * {
    margin-right: 10px;
}
