<li
    *rxIf="task$; let task; strategy: 'native'"
    class="task | border-tinted-700/75 bg-tinted-800 shadow-tinted-900 relative flex list-none flex-col rounded-xl border px-1 py-2 pb-1 shadow transition-colors duration-75"
    [ngClass]="{
        completed: task.status == TaskStatus.Completed,
        isActive: inlineEditor.isFocused || isDescriptionActive$ | push,
        titleHasFocus: inlineEditor.isFocused,
        isSelected,
        descriptionIsActive: isDescriptionActive$ | push
    }"
    [appContextMenu]="menuItems$ | push"
    [appMenuData]="Object.assign({ entityType: EntityType.Task }, task)"
    (isMenuOpen)="isSelected = $event"
>
    <div class="mb-1 box-border flex items-center justify-between gap-2 px-2">
        <div>
            <div class="first-row | flex">
                <button
                    class="status-btn | icon-btn | -ml-1 mr-2 text-lg"
                    [appTooltip]="statusTooltip"
                    [tooltipOptions]="{ avoidPositions: ['right'] }"
                    [cdkMenuTriggerFor]="statusMenu"
                    (cdkMenuOpened)="isSelected = true"
                    (cdkMenuClosed)="isSelected = false"
                    data-test-name="task-status-button"
                >
                    <ng-template #statusTooltip>
                        <span class="text-tinted-300">Status: </span>
                        <span [class]="taskStatusColorMap[task.status].text">{{
                            taskStatusLabelMap[task.status]
                        }}</span>
                    </ng-template>

                    <app-icon [icon]="loading || task.status"></app-icon>
                </button>
                <ng-template #statusMenu>
                    <app-drop-down
                        *ngIf="statusMenuItems$ | push as items"
                        [items]="items"
                        [data]="task"
                    ></app-drop-down>
                </ng-template>

                <app-inline-editor
                    class="translate-y-0.5"
                    #inlineEditor
                    [textInput]="task.title"
                    [placeholder]="PLACEHOLDER"
                    [placeholderColor]="placeholderColorMap[task.status]"
                    [highlight]="searchTerm$ | push"
                    [editorClass]="{
                        'line-through focus:no-underline': task.status == TaskStatus.Discarded,
                        'decoration-primary-400': task.status == TaskStatus.Discarded,
                        'decoration-[2px]': task.status == TaskStatus.Discarded,
                        'pr-12': true,
                    }"
                    [enableDebouncedUpdates]="false"
                    (update)="titleChange.emit($event || '')"
                    [readonly]="readonly$ | push"
                    data-test-name="task-title"
                ></app-inline-editor>
            </div>

            <div
                class="second-row | ml-0.5 flex flex-wrap gap-1"
                [class.mt-1]="
                    (nodeData$ | async)?.hasChildren || task.description || (isDescriptionExpanded$ | async)
                "
            >
                <ng-container *ngIf="nodeData$ | async as nodeData">
                    <ng-container *ngIf="nodeData.hasChildren">
                        <button
                            class="subtask-toggle | [&_.count]:hover:text-tinted-300 [&_:has(.checklist-counter.counter-complete)_.count]:!text-submit-400 mr-3 inline-flex gap-1 [&_.count]:transition-all"
                            (click)="expansionChange.emit(!nodeData.isExpanded)"
                            data-test-name="subtask-toggle"
                        >
                            <app-icon
                                icon="chevronRight"
                                class="mr-1 inline-block transition-transform"
                                [class.rotate-90]="nodeData.isExpanded"
                            ></app-icon>
                            Subtasks

                            <app-elem-container
                                [elem]="getTaskCounterWidget()"
                                class="text-md text-tinted-400 ml-1"
                            ></app-elem-container>
                        </button>
                    </ng-container>

                    <ng-container *ngIf="task.description || (isDescriptionExpanded$ | async)">
                        <button
                            class="description-toggle | [&_.count]:hover:text-tinted-300 [&_:has(.checklist-counter.counter-complete)_.count]:!text-submit-400 inline-flex gap-1 [&_.count]:transition-all"
                            (click)="toggleDescription()"
                            data-test-name="description-toggle"
                        >
                            <app-icon
                                icon="chevronRight"
                                class="mr-1 inline-block transition-transform"
                                [class.rotate-90]="isDescriptionExpanded$ | async"
                            ></app-icon>
                            Description

                            <app-elem-container
                                [elem]="getChecklistCounterWidget()"
                                class="text-md text-tinted-400 ml-1"
                            ></app-elem-container>
                        </button>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="relative -mr-1 max-w-max">
            <div
                class="icon-group | flex max-w-max flex-wrap items-center justify-end gap-3 transition-transform"
            >
                <app-icon
                    *ngIf="isOverdue"
                    class="overdue-icon | animate-ping"
                    icon="fas fa-exclamation-triangle text-danger-400"
                    data-test-name="overdue-icon"
                ></app-icon>

                <ng-container
                    *ngIf="
                        task.status != TaskStatus.Completed &&
                        task.status != TaskStatus.Discarded &&
                        task.priority != TaskPriority.None
                    "
                >
                    <ng-container *ngTemplateOutlet="priorityButton"></ng-container>
                </ng-container>
            </div>
            <button
                class="icon-btn | text-tinted-200 absolute right-0 top-[50%] translate-y-[-50%] transition-opacity"
                [appMenu]="menuItems$ | push"
                [appMenuData]="Object.assign({ entityType: EntityType.Task }, task)"
                (isMenuOpen)="isSelected = $event"
                data-test-name="task-menu-button"
            >
                <app-double-ellipsis-icon></app-double-ellipsis-icon>
            </button>
        </div>
    </div>

    <ng-template #priorityButton>
        <button
            class="priority-button | icon-btn keep-editor-focus"
            [appTooltip]="priorityTooltip"
            [tooltipOptions]="{ avoidPositions: ['left'] }"
            [cdkMenuTriggerFor]="priorityMenu"
            (cdkMenuOpened)="isSelected = true"
            (cdkMenuClosed)="isSelected = false"
            data-test-name="task-priority-button"
        >
            <app-icon [icon]="task.priority"></app-icon>
        </button>
        <ng-template #priorityTooltip>
            <span class="text-tinted-300">Priority: </span>
            <span [class]="priorityColorMap[task.priority]">{{ taskPriorityLabelMap[task.priority] }}</span>
        </ng-template>
        <ng-template #priorityMenu>
            <app-drop-down
                *ngIf="priorityMenuItems$ | push as items"
                [items]="items"
                [data]="task"
            ></app-drop-down>
        </ng-template>
    </ng-template>

    <ng-container
        *rxLet="
            { isExpanded: isDescriptionExpanded$ | push, isActive: isDescriptionActive$ | push };
            let props
        "
    >
        <div *ngIf="props.isExpanded || props.isActive" [class.relative]="false">
            <div class="absolute inset-x-0 bottom-[calc(100%-.5rem)] z-20 flex justify-center px-4">
                <app-toolbar
                    [hide]="!props.isActive"
                    cdkMenuBar
                    class="max-w-full overflow-x-auto sm:max-w-[70vw]"
                >
                    <app-tt-editor-toolbar
                        [ttEditor]="descriptionEditor"
                        [layout]="toolbarLayout$ | push"
                        openAsPageRoute="/home/{{ task.id }}"
                        class="pointer-events-auto w-max"
                    ></app-tt-editor-toolbar>
                </app-toolbar>
            </div>
            <app-tt-editor
                #descriptionEditor
                class="description | bg-tinted-900 child-focus-ring mt-1 max-h-72 overflow-y-auto rounded-lg px-2.5 py-1.5 ring-2 ring-transparent transition-colors duration-75"
                [ngClass]="{
                    'isActive !ring-primary-400': props.isActive,
                    'hover:ring-tinted-600': true,
                    '[.task.completed:not(.isActive)_&]:hover:ring-submit-700': true
                }"
                [editable]="!(readonly$ | push)"
                [searchTerm]="searchTerm$ | push"
                [bind]="(bindConfig$ | push)!"
                (isActive)="isDescriptionActive$.next($event)"
                (blur)="descriptionBlur$.next()"
                (update)="descriptionUpdates$.next($event.html)"
                (updateOnBlur)="this.descriptionUpdateOnBlur$.next($event.html)"
                data-test-name="task-description"
            ></app-tt-editor>
        </div>
    </ng-container>
</li>
