<app-modal id="custom-dialog">
    <div class="dialog {{ this.props.type }}">
        <div class="dialogText">
            <h3>{{ this.props.title }}</h3>
            <p *ngIf="this.props.text">{{ this.props.text }}</p>
        </div>

        <div class="dialogInput" *ngIf="this.props.type == 'confirm'">
            <button *ngFor="let btnText of this.props.buttons; let i = index" (click)="closeDialog(i)">
                {{ btnText }}
            </button>
        </div>
        <div class="dialogInput" *ngIf="this.props.type == 'prompt'">
            <input
                class="input promptInput"
                type="text"
                #localInputRef
                [(ngModel)]="this.promptInput"
            />
            <div class="btn-group">
                <button *ngFor="let btnText of this.props.buttons; let i = index" (click)="closeDialog(i)">
                    {{ btnText }}
                </button>
            </div>
            <!-- <button (click)="closeDialog(0)">OK</button> -->
        </div>
    </div>
</app-modal>
