<div class="top-bar" [class.sidebar-is-open]="isMobileMenuOpen">
    <span class="list-name-preview">
        <span class="name cut-text">
            {{ this.activeTaskList ? this.activeTaskList.name : "no list selected" }}
        </span>
        <i *ngIf="this.activeTaskList" class="fas fa-ellipsis-v" (click)="editList()"></i>
        <!-- <apple-share-icon remove-host (click)="db.exportActiveList()"></apple-share-icon> -->
    </span>
    <menu-toggle-btn
        noDropDown
        type="hamburger"
        size="s"
        color="submit"
        [isOpen]="isMobileMenuOpen"
        (onMenuToggle)="setMobileMenuOpen($event)"
    ></menu-toggle-btn>
</div>
<div class="container">
    <div class="side-container" [class.open]="isMobileMenuOpen">
        <sidebar
            [data]="this.data"
            (onSetActiveList)="setActiveList($event)"
            (onCreateList)="createList()"
            (onExportData)="(null)"
            (onImportData)="db.importJson($event)"
            (onListSort)="sortLists($event)"
        ></sidebar>
    </div>
    <main>
        <h1 class="list-name">
            {{ this.activeTaskList ? this.activeTaskList.name : "no list selected" }}
            <div class="btn-group">
                <button *ngIf="this.activeTaskList" class="btn btn-primary btn-icon" (click)="editList()">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <button *ngIf="this.activeTaskList" class="btn btn-secondary btn-icon" (click)="db.exportActiveList()">
                    <!-- <i class="far fa-share"></i> -->
                    <i class="fas fa-file-download"></i>
                    <!-- <apple-share-icon remove-host></apple-share-icon> -->
                </button>
            </div>
        </h1>

        <single-input-form
            noFocusNoBorder
            placeholder="What shall it be?"
            class="new-task-form"
            (onSubmit)="addTask[0]($event)"
            [focusChangeEvents]="this.quickAddInputField.focusEventsSubject[0].asObservable()"
        ></single-input-form>

        <section class="task-list">
            <h5 *ngIf="!this.activeTaskList || this.activeTaskList.list.length == 0" style="text-align: center">
                No tasks yet...
            </h5>
            <task-list
                variant="task"
                [tasklist]="this.activeTaskList?.list"
                [id]="this.activeTaskList?.id"
                [collapseCompletedTasks]="!this.showCompleted"
                [focusChangeEvents]="this.quickAddInputField.focusEventsSubject[1]"
                (onToggleCollapseCompleted)="showCompleted = !showCompleted"
                (onAddSubtask)="addTask[1]($event)"
            ></task-list>
        </section>
    </main>
</div>

<edit-menu></edit-menu>
<custom-dialog></custom-dialog>
