.container {
    box-sizing: border-box;
    display: flex;
    max-width: min(1500px, 100vw);

    padding: 20px 0 0;
}
.side-container {
    box-sizing: border-box;
    height: 100%;
    /* width: 17rem; */
    max-width: min(40%, 20rem);
    --padding-inline: 0px;

    position: sticky;
    top: 20px;

    display: flex;
    flex-direction: column;

    padding: 0px 0 var(--padding-inline) var(--padding-inline);
}
::-webkit-scrollbar {
    width: 3px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background: var(--global-background);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-clr);
}


.top-bar {
    z-index: 20;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0;
    width: 100vw;

    padding: 10px;
    padding-left: 20px;
    color: var(--global-color);
    border-radius: 0 0 15px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background: var(--secondary-clr); */
    background: var(--global-background);
    /* border-width: 0 0px 1px;
    border-style: solid;
    border-color: var(--submit-clr); */
    box-shadow: var(--box-shadow-s);
    transition: transform 180ms ease-in-out;
}
.top-bar.sidebar-is-open {
    transform: translateY(-80px);
}
menu-toggle-btn {
    transition: transform 180ms ease-in-out;
}
.top-bar.sidebar-is-open menu-toggle-btn {
    transform: translateY(80px);
}
.list-name-preview {
    white-space: nowrap;
    font-size: 1.2rem;
    max-width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 420px) {
    .list-name-preview {
        max-width: 60%;
    }
}
.list-name-preview .name  {
    transform: translateY(-2px);
    margin-right: 10px;
}

@media screen and (min-width: 650px) {
    .top-bar {
        display: none;
    }
    .list-name {
        box-sizing: border-box;
        z-index: 10;
        position: sticky;
        top: 0;
        width: calc(100% + 20px);
        transform: translateX(-10px);
        padding: 10px 10px 15px;

        background: var(--global-background);
        box-shadow: 0 5px 5px -5px var(--global-background), 0 8px 8px -8px var(--global-background),
            0 10px 10px -10px var(--global-background), 0 13px 13px -13px var(--global-background);
        border-radius: 0 0 14px 14px;
    }
}
@media screen and (max-width: 1000px) {
    .container {
        width: 100vw;
    }
}
@media screen and (min-width: 1000px) {
    .container {
        width: 80vw;
    }
}
@media screen and (min-width: 1700px) {
    .container {
        width: 70vw;
    }
}
@media screen and (max-width: 650px) {
    .side-container.open {
        background: var(--global-background);
        --bg-trans-delay: 70ms;
        transform: translateY(-20px);
    }
    .side-container:not(.open) {
        transform: translateY(-20px) translateX(-100vw);
    }
    .side-container {
        box-sizing: border-box;
        position: fixed;
        z-index: 10;
        width: 100vw;
        max-width: unset;
        height: 100vh;
        padding: 20px;

        overflow: scroll;

        --bg-trans: 180ms;
        --bg-trans-delay: 0ms;
        transition: transform 180ms ease-in-out, background var(--bg-trans) var(--bg-trans-delay);
    }

    main {
        width: 100%;
        overflow-x: hidden;
    }
}
main {
    box-sizing: border-box;
    width: 100%;
    isolation: isolate;

    padding: 20px;
    padding-top: 0;
}

.list-name {
    margin: 0;
}
.list-name .btn-group {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    top: -5px;
}
.list-name button + button {
    margin-left: 10px;
}
.new-task-form {
    margin: 25px 0;
    width: 100%;
}
