.container {
    position: relative;
    display: flex;
    width: 100vw;
}
.side-container {
    height: max-content;

    margin: 30px 20px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 650px) {
    .side-container {
        z-index: 10;
        position: absolute;
        top: 0;
        left: -20px;
        
        margin: 0;
        --padding: 10px;
        padding: var(--padding);
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        --content-width: calc(100vw - (var(--padding) * 8));
        --content-width: calc(100vw - 100px);
        
        outline: 1px solid red;
        background: var(--global-background);
        transition: 180ms;
    }
    sidebar {
        box-sizing: border-box;
        width: var(--content-width);
    }
    app-menu {
        box-sizing: border-box;
        width: var(--content-width);
    }
    app-menu-toggle {
        display: unset !important;
        z-index: 20;
        position: absolute;
        top: 20px;
        right: 0px;
    }
    #mobile-menu-toogle:checked ~ .side-container {
        transform: translateX(-100vw);
    }

    main {
        width: 100%;
    }
}
app-menu-toggle {
    display: none;
}
app-menu {
    width: 100%;
}
main {
    height: 100%;

}

.heading i {
    transition: 180ms;
}
.heading i:hover {
    filter: brightness(0.7);
}
/* .new-task-form {
    margin-bottom: 20px;
} */
/* .nameInput {
    width: calc(100% - 65px);
    margin-right: 5px;

    box-sizing: border-box;
} */
/* .btn-add {
    float: right;
} */

.task-list {
    min-width: 40vw;
    max-width: 90vw;
}
/* .task-list ul {
    padding: 0;
    transition: 200ms;
} */
