<div class="top-bar" [class.sidebar-is-open]="isMobileMenuOpen">
    <span class="list-name-preview">
        <span class="name cut-text">
            {{ this.activeTaskList ? this.activeTaskList.name : "no list selected" }}
        </span>
        <button *ngIf="this.activeTaskList" class="btn-icon-m clr-secondary" (click)="editList()">
            <i class="fas fa-ellipsis-v"></i>
        </button>
        <!-- <apple-share-icon remove-host (click)="db.exportActiveList()"></apple-share-icon> -->
    </span>
    <menu-toggle-btn
        noDropDown
        type="hamburger"
        size="m"
        colorClass="clr-submit"
        [isOpen]="isMobileMenuOpen"
        (onMenuToggle)="setMobileMenuOpen($event)"
    ></menu-toggle-btn>
    <task-progress
        *ngIf="activeTaskList"
        [tasksCount]="activeTaskList.list.length"
        [completedTasksCount]="completedTasksCount"
        [openTasksCount]="openTasksCount"
        [showAlways]="true"
    ></task-progress>
</div>
<div class="container">
    <div class="side-container" [class.open]="isMobileMenuOpen">
        <sidebar
            [data]="this.data"
            (onSetActiveList)="setActiveList($event)"
            (closeMobileMenu)="this.isMobileMenuOpen = false;"
            (onCreateList)="createList()"
            (importLists)="importJson($event)"
            (exportLists)="exportLists($event)"
            (onListSort)="sortLists($event)"
        ></sidebar>
    </div>
    <main>
        <h1 class="list-name">
            <span class="wrap-text">{{ this.activeTaskList ? this.activeTaskList.name : "no list selected" }}</span>
            <div class="btn-group">
                <button *ngIf="this.activeTaskList" class="btn-icon-m clr-secondary" (click)="editList()">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <button *ngIf="this.activeTaskList" class="btn-icon-m clr-tinted-neutral" (click)="exportActiveList()">
                    <!-- <i class="far fa-share"></i> -->
                    <i class="fas fa-file-download"></i>
                    <!-- <apple-share-icon remove-host></apple-share-icon> -->
                </button>
            </div>
            <div class="task-progress">
                <task-progress
                    *ngIf="!isTouchDevice && activeTaskList"
                    variant="bar"
                    [tasksCount]="activeTaskList.list.length"
                    [completedTasksCount]="completedTasksCount"
                    [openTasksCount]="openTasksCount"
                    [showAlways]="true"
                ></task-progress>
            </div>
        </h1>

        <single-input-form
            noFocusNoBorder
            placeholder="What shall it be?"
            class="new-task-form"
            (onSubmit)="addTask[0]($event)"
            [focusChangeEvents]="this.quickAddInputField.focusEventsSubject[0].asObservable()"
        ></single-input-form>

        <section class="task-list">
            <h5 *ngIf="!this.activeTaskList || this.activeTaskList.list.length == 0" style="text-align: center">
                No tasks yet...
            </h5>
            <task-list
                variant="task"
                [tasklist]="this.activeTaskList?.list"
                [id]="this.activeTaskList?.id"
                [collapseCompletedTasks]="!this.showCompleted"
                [focusChangeEvents]="this.quickAddInputField.focusEventsSubject[1]"
                (onToggleCollapseCompleted)="showCompleted = !showCompleted"
                (onAddSubtask)="addTask[1]($event)"
                (completion)="onTaskCompletion($event)"
            ></task-list>
        </section>
    </main>
</div>

<edit-menu></edit-menu>
<custom-dialog></custom-dialog>
