<div class="top-bar" [class.sidebar-is-open]="isMobileMenuOpen">
    <span class="list-name-preview">
        <span class="name cut-text">
            {{ this.activeTaskList ? this.activeTaskList.name : "no list selected"
            }}<!-- <span *ngIf="this.activeTaskList.name.length > 30" class="dimm-1">...</span> -->
        </span>
        <!-- <button class="btn btn-primary btn-icon"></button> -->
        <i *ngIf="this.activeTaskList" class="fas fa-ellipsis-v" (click)="editList()"></i>
    </span>
    <menu-toggle-btn
        noDropDown
        type="hamburger"
        size="s"
        color="submit"
        [isOpen]="isMobileMenuOpen"
        (onMenuToggle)="setMobileMenuOpen($event)"
    ></menu-toggle-btn>
</div>
<div class="container">
    <div class="side-container" [class.open]="isMobileMenuOpen">
        <!-- <app-side-menu></app-side-menu> -->
        <sidebar
            [data]="this.data"
            (onSetActiveList)="setActiveList($event)"
            (onCreateList)="createList()"
            (onExportData)="db.exportJson()"
            (onImportData)="db.importJson($event)"
        ></sidebar>
    </div>
    <main>
        <h1 class="list-name">
            {{ this.activeTaskList ? this.activeTaskList.name : "no list selected" }}
            <button *ngIf="this.activeTaskList" class="btn btn-primary btn-icon" (click)="editList()">
                <i class="fas fa-ellipsis-v"></i>
            </button>
        </h1>

        <single-input-form
            noFocusNoBorder
            placeholder="What shall it be?"
            class="new-task-form"
            (onSubmit)="addTask[0]($event)"
            [focusChangeEvents]="this.quickAddInputField.focusEventsSubject[0].asObservable()"
        ></single-input-form>

        <section class="task-list">
            <h5 *ngIf="!this.activeTaskList || this.activeTaskList.list.length == 0" style="text-align: center">
                No tasks yet...
            </h5>
            <ul *ngIf="this.activeTaskList">
                <task
                    *ngFor="let task of this.uncompletedTasks; let i = index"
                    [data]="task"
                    [taskPosition]="i"
                    [showCompleted]="showCompletedMaster"
                ></task>

                <single-input-form
                    *ngIf="countOpenTasks(activeTaskList.list)"
                    (onSubmit)="addTask[1]($event)"
                    [focusChangeEvents]="quickAddInputField.focusEventsSubject[1].asObservable()"
                ></single-input-form>

                <collapse-toggle
                    *ngIf="completedTasks.length"
                    [isOpen]="showCompleted"
                    (onToggle)="showCompleted = $event"
                    colorClass="btn-submit"
                >
                    {{ completedTasks.length }} completed task{{ completedTasks.length > 1 ? "s" : "" }}
                </collapse-toggle>
                <div *ngIf="showCompleted">
                    <task
                        *ngFor="let task of this.completedTasks; let i = index"
                        [data]="task"
                        [taskPosition]="i + this.uncompletedTasks.length"
                        [showCompleted]="showCompletedMaster"
                    ></task>
                </div>
            </ul>
        </section>
    </main>
</div>

<edit-menu></edit-menu>
<custom-dialog></custom-dialog>
