<div class="menu | dropdown-menu" cdkMenu data-test-name="drop-down-menu" (closed)="closed.next()">
    <ng-container *ngFor="let menuItem of items$ | async">
        <ng-template #chevron>
            <app-icon
                class="chevron | text-tinted-500 [.menu-item:is(:hover,.item-active,.route-active)_&]:text-tinted-300 translate-x-px transition-colors duration-75"
                icon="chevronRight"
            ></app-icon>
        </ng-template>
        <ng-template #subMenu>
            <app-drop-down
                [items]="menuItem.children"
                [rootTrigger]="rootTrigger"
                [data]="data"
            ></app-drop-down>
        </ng-template>

        <ng-template #icon>
            <app-icon
                *ngIf="getIcon(menuItem.icon) as icon"
                [icon]="icon"
                class="inline-block scale-110"
                [ngClass]="{
                    'text-tinted-400 [.menu-item:is(:hover,.item-active,.route-active)_&]:text-tinted-300':
                        !menuItem.variant || menuItem.variant == MenuItemVariant.DEFAULT
                }"
            ></app-icon>
        </ng-template>
        <ng-template #keybinding>
            <app-key-combo
                *ngIf="menuItem.keybinding"
                [combo]="menuItem.keybinding"
                class="-mr-1 ml-2 translate-y-[-1.5px]"
            ></app-key-combo>
        </ng-template>

        <a
            *ngIf="!menuItem.isSeparator && menuItem.route && !menuItem.children"
            #link
            [routerLink]="menuItem.route"
            routerLinkActive="route-active"
            class="skip-default-a-styles menu-item {{ menuItem.variant || MenuItemVariant.DEFAULT }}"
            [class.item-active]="getIsActive(menuItem.isActive)"
            [class.hide-active]="menuItem.hideWhenActive"
            cdkMenuItem
            (cdkMenuItemTriggered)="link.click(); close()"
            data-test-name="menu-item"
        >
            <span>
                <ng-container *ngTemplateOutlet="icon"></ng-container>
                <span class="title">{{ menuItem.title }}</span>
            </span>
            <ng-container *ngTemplateOutlet="keybinding"></ng-container>
        </a>
        <a
            *ngIf="!menuItem.isSeparator && menuItem.route && menuItem.children"
            [routerLink]="menuItem.route"
            #link
            routerLinkActive="route-active"
            class="skip-default-a-styles menu-item {{ menuItem.variant || MenuItemVariant.DEFAULT }}"
            [class.item-active]="getIsActive(menuItem.isActive)"
            [class.hide-active]="menuItem.hideWhenActive"
            cdkMenuItem
            [cdkMenuTriggerFor]="subMenu"
            (cdkMenuItemTriggered)="link.click(); close()"
            data-test-name="menu-item"
        >
            <span>
                <ng-container *ngTemplateOutlet="icon"></ng-container>
                <span class="title">{{ menuItem.title }}</span>
            </span>
            <ng-container *ngTemplateOutlet="chevron"></ng-container>
        </a>

        <button
            *ngIf="!menuItem.isSeparator && !menuItem.route && !menuItem.children"
            class="menu-item {{ menuItem.variant || MenuItemVariant.DEFAULT }}"
            [class.item-active]="getIsActive(menuItem.isActive)"
            [class.hide-active]="menuItem.hideWhenActive"
            cdkMenuItem
            (cdkMenuItemTriggered)="triggerAction(menuItem.action); close()"
            data-test-name="menu-item"
        >
            <span>
                <ng-container *ngTemplateOutlet="icon"></ng-container>
                <span class="title">{{ menuItem.title }}</span>
            </span>
            <ng-container *ngTemplateOutlet="keybinding"></ng-container>
        </button>

        <button
            *ngIf="!menuItem.isSeparator && !menuItem.route && childrenAsItems(menuItem.children)"
            class="menu-item {{ menuItem.variant || MenuItemVariant.DEFAULT }}"
            [class.item-active]="getIsActive(menuItem.isActive)"
            [class.hide-active]="menuItem.hideWhenActive"
            cdkMenuItem
            (cdkMenuItemTriggered)="triggerAction(menuItem.action); close()"
            [cdkMenuTriggerFor]="subMenu"
            data-test-name="menu-item"
        >
            <span>
                <ng-container *ngTemplateOutlet="icon"></ng-container>
                <span class="title">{{ menuItem.title }}</span>
            </span>
            <ng-container *ngTemplateOutlet="chevron"></ng-container>
        </button>

        <button
            *ngIf="!menuItem.isSeparator && !menuItem.route && isChildrenComponent(menuItem.children)"
            class="menu-item {{ menuItem.variant || MenuItemVariant.DEFAULT }}"
            [class.item-active]="getIsActive(menuItem.isActive)"
            [class.hide-active]="menuItem.hideWhenActive"
            cdkMenuItem
            #triggerElem
            (cdkMenuItemTriggered)="openOverlay(menuItem.children, triggerElem); close(false)"
            data-test-name="menu-item"
        >
            <span>
                <ng-container *ngTemplateOutlet="icon"></ng-container>
                <span class="title">{{ menuItem.title }}</span>
            </span>

            <span
                class="chevron | text-tinted-500 [.menu-item:is(:hover,.item-active,.route-active)_&]:text-tinted-300 scale-110 font-bold transition-colors duration-75"
                >...</span
            >
        </button>

        <hr *ngIf="menuItem.isSeparator" class="border-tinted-700 -mx-1 my-0.5" />
    </ng-container>
</div>
