:host { 
    display: block;
    width: 100%;
    /* height: calc(100% - 100px); */
    /* box-sizing: border-box; */

    display: flex;
    flex-direction: column;

    /* outline: 3px solid rgb(255, 81, 0); */
}

.sidebar {
    position: relative;
    /* min-height: min(100%, 40vh); */
    /* height: max-content; */
    box-sizing: border-box;
    max-height: calc(100vh - 40px);
    /* outline: 1px solid rgb(9, 255, 0); */

    min-width: 120px;
    /* min-width: max(max-content, 9rem); */
    /* width: max-content; */
    /* width: clamp(120px, max-content, 17rem); */
    width: 17rem;
    /* max-width: min(100%, 17rem); */
    max-width: calc(100% - (var(--padding-inline) * 2));

    /* resize: horizontal; */
    /* overflow: hidden; */

    display: flex;
    flex-direction: column;

    /* border-radius: 10px; */
    margin: 0;
    padding: 0;

    /* background: hsla(var(--bg-clr-hue), 14%, 20%, 0.158); */
    /* background: var(--global-background); */
    /* box-shadow: var(--box-shadow-s); */

    transition: background 200ms;
}
.sidebar > * {
    margin-inline: 20px;
}
.tool-bar {
    margin-bottom: 20px;
}
@media screen and (max-width: 650px) {
    .sidebar {
        width: unset;
    }
}


.sidebar h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.sidebar ul {
    box-sizing: border-box;
    /* position: relative;
    left: -17px;
    width: calc(100% + 37px); */
    /* max-height: 52vh; */
    /* height: 100%; */
    /* outline: 1px solid rgb(0, 89, 255); */

    /* isolation: isolate; */

    list-style: none;
    padding: 0;
    /* padding-right: 10px; */
    margin: 0;

    /* box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.445) inset; */
}

.taskListsList {
    padding: 10px 16px 10px 20px !important;
    overflow: visible scroll;
}

.list {
    position: relative;
    padding: 10px;
    padding-right: 2rem;
    border-radius: 6px;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    background: var(--global-item-bg);  
    box-shadow: var(--box-shadow-s);
    transition: 180ms;
}
.list:nth-child(2n) {
    background: var(--global-item-bg-alt);
}
.list + .list {
    margin-top: 5px;
}
.list.active {
    color: var(--primary-clr);
}
.list.completed {
    filter: opacity(0.8);
}
.list:hover {
    background: var(--global-item-bg-highlight)
}

.list .text {
    position: relative;
    transition: 220ms;
}
.list.completed .text {
    color: hsla(0, 0%, 50%, 0.8);
}
.list .text::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;

    background: var(--submit-clr);
    box-shadow: var(--box-shadow-s);
    transition: 220ms;
}
.list.completed .text::before {
    width: 100%;
}

.sidebar .taskListsList li :is(i, loading-spinner) {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin-left: 20px;
    float: right;
    filter: opacity(0.6);
}

.upload-btn {
    font-weight: 600;
    margin-top: 10px;
    background: var(--global-item-bg);
    padding-block: 7px !important;
}
.upload-btn:hover {
    background: var(--global-item-bg-highlight);
}