<button
    class="button-naked"
    *rxLet="activeSorting$ | push as activeSorting"
    [appMenu]="sortOptionsMenuItems"
    [appMenuData]="{ activeSorting }"
    data-test-name="sort-tasks-button"
>
    <app-icon
        [icon]="activeSorting != defaultSortingStrategyKey ? getSortingStrategy(activeSorting).icon : 'sort'"
    ></app-icon>
    Sort{{
        activeSorting != defaultSortingStrategyKey
            ? 'ing by ' + getSortingStrategy(activeSorting).shortLabel
            : ''
    }}
    <app-icon icon="caretDown"></app-icon>
</button>
