.tasklist {
    margin-top: 10px;
    border-radius: 0 0 14px 14px;
    padding-bottom: 2px;
}
.tasklist:not(.subtasks) {
    padding: 0;
}
.tasklist.subtasks {
    border-left: 1px solid var(--tinted-gray-600);
}

.tasklist *:not(:first-child) {
    margin-top: 10px;
}