<div
    *ngIf="digest$ | async as digest"
    class="progress-container | group -top-2 z-30 mt-2 flex items-center gap-2 rounded-b-[12.5px] py-2 px-3.5 shadow-header"
    [class.sticky]="digest.progress != 0"
    [class.glow]="isProgressBarIncreasing$ | async"
    [appTooltip]="progressTooltip"
    [tooltipOptions]="{ closeOnHostClick: false, preferredPosition: 'bottom', enableOnTouchDevice: true }"
>
    <div
        class="progress-bar | h-1.5 grow rounded bg-tinted-700 transition-colors group-hover:bg-tinted-600"
        (intersectionChange)="isProgressBarVisible$.next($event)"
        [intersectionThreshold]="0.5"
    >
        <div class="progress | h-full rounded bg-submit-400" [style.width]="digest.progress + '%'"></div>
    </div>
    <button
        class="progress-number | font-bold text-tinted-600 transition-colors"
        [class.!text-submit-400]="digest.all && digest.closed == digest.all"
        (click)="isShownAsPercentage = !isShownAsPercentage"
        [appTooltip]="isShownAsPercentage ? 'Display as fraction' : 'Display as percentage'"
        [tooltipOptions]="{ avoidPositions: ['left'] }"
    >
        {{ isShownAsPercentage ? digest.progressRounded + ' %' : digest.closed + ' / ' + digest.all }}
    </button>

    <ng-template #progressTooltip>
        <ng-template #noTasks>0 %<span class="text-tinted-300"> - No tasks</span></ng-template>

        <ng-container *ngIf="digest.all; else noTasks">
            <div class="flex items-end justify-between gap-4">
                <span class="text-xl font-bold">
                    {{
                        isShownAsPercentage
                            ? digest.progress.toFixed(2).replace('.00', '') + ' %'
                            : digest.closed + ' / ' + digest.all
                    }}
                </span>
                <span class="text-tinted-400">
                    {{
                        !isShownAsPercentage
                            ? digest.progress.toFixed(2).replace('.00', '') + ' %'
                            : digest.closed + ' / ' + digest.all
                    }}
                    Closed
                </span>
            </div>
            <hr class="my-2" />
            <table>
                <tr *ngFor="let status of taskStatuses">
                    <td class="pr-1"><app-icon [icon]="status"></app-icon></td>
                    <td [class]="statusColorMap[status]">{{ status.replace('_', ' ') }}</td>
                    <td class="pl-4 text-center">{{ digest.byStatus[status] }}</td>
                    <td class="text-right text-tinted-300">
                        <span class="pl-4" [class.hidden]="!digest.byStatus[status]">
                            {{ ((digest.byStatus[status] / digest.all) * 100).toFixed(2).replace('.00', '') }} %
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-tinted-400">All</td>
                    <td class="pl-4">{{ digest.all }}</td>
                    <td></td>
                </tr>
            </table>
        </ng-container>
    </ng-template>
</div>
