@import '~@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Needed for toast */
:root {
    --submit-400: theme(colors.submit.400);

    --tinted-100: theme(colors.tinted.100);
    --tinted-400: theme(colors.tinted.400);
    --tinted-800: theme(colors.tinted.800);
    --tinted-900: theme(colors.tinted.900);

    --danger-400: theme(colors.danger.400);

    --primary-400: theme(colors.primary.400);
    --secondary-400: theme(colors.secondary.400);
}

body {
    @apply bg-tinted-900 text-tinted-100;
}

::selection {
    @apply bg-primary-200 text-primary-800;
}
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}
::-webkit-scrollbar-track {
    @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-tinted-700 hover:bg-tinted-600;
}
[disabled] {
    @apply cursor-not-allowed;
}

@layer components {
    a:not([class|='button']),
    .link {
        @apply text-submit-500 hover:text-submit-400 hover:underline;
    }

    .button {
        @apply rounded-md bg-tinted-500 py-2 px-5 font-semibold text-tinted-100 transition-colors hover:bg-tinted-600;
    }

    .button-naked {
        @apply rounded py-0.5 px-2 transition-colors hover:bg-tinted-700;
        /* hover:text-tinted-100 */
    }
    .button-naked i {
        @apply mr-1 w-4 text-center text-sm;
    }

    .button-icon-naked {
        /* @TODO: This would need to be adjusted when touch device specific styles/behaviour are added */
        @apply py-0;
    }
    .button-icon-naked i {
        @apply m-0 inline-block aspect-square rounded py-0.5 px-2.5 text-base transition-colors hover:bg-tinted-700;
    }

    .button--submit {
        @apply bg-submit-400 text-tinted-900 hover:bg-submit-600;
    }
    .button--danger {
        @apply bg-danger-400 text-tinted-900 hover:bg-danger-600;
    }

    .input {
        @apply rounded bg-tinted-700 py-2 px-3 outline-none ring-primary-400 focus:ring-2;
    }
    .input::placeholder {
        @apply text-tinted-300;
    }

    :is(.input, .button)[disabled] {
        @apply brightness-75;
    }
}

ul,
ol {
    @apply pl-4;
}
ul > li {
    @apply list-inside list-disc pl-1 before:-ml-1.5;
}

ol > li {
    @apply list-inside list-decimal;
}

hr {
    @apply border-tinted-600;
}

p {
    margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 1.4rem 0 1.38rem;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}
