<ng-container *ngFor="let event of events; let i = index; let isLast = last; trackBy: trackEntry">
    <div class="@container flex w-full gap-2">
        <div class="flex flex-col" role="presentation">
            <div
                class="timeline-entry-icon | bg-tinted-900 flex aspect-square h-8 w-8 shrink-0 items-center justify-center rounded-full"
            >
                <app-icon
                    [icon]="event.icon"
                    class="text-tinted-400 mr-1 aspect-square translate-x-[0.139rem]"
                ></app-icon>
            </div>
            <ng-container *ngIf="!isLast">
                <div
                    class="timeline-line | to-tinted-700 mx-auto h-[clamp(4rem,25%,4rem)] w-0.5 bg-gradient-to-b from-transparent"
                ></div>
                <div class="timeline-line | bg-tinted-700 mx-auto h-full w-0.5"></div>
                <div
                    class="timeline-line | from-tinted-700 mx-auto h-[clamp(4rem,25%,4rem)] w-0.5 bg-gradient-to-b to-transparent"
                ></div>
            </ng-container>
        </div>
        <div class="mt-1 flex w-full flex-col" [class.mb-4]="!isLast">
            <div
                class="@sm:flex flex-wrap items-center"
                [ngClass]="{ 'mb-2': event.description || event.component }"
            >
                <div class="title | mr-2">{{ event.title }}</div>
                <div class="timestamp | text-tinted-500 text-sm">
                    {{ event.timestamp | date : 'medium' }}
                </div>
            </div>

            <div *ngIf="event.description" class="text-tinted-300 wrap-nicely">{{ event.description }}</div>

            <ng-container *ngIf="event.component">
                <ng-container
                    *ngComponentOutlet="event.component; injector: createInjector(event.viewData)"
                ></ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>
