<div
    *ngIf="progressSummary$ | async as summary"
    class="progress-container | bg-tinted-900 shadow-header glass group sticky top-0 z-30 flex items-center gap-2 rounded-b-[12.5px] px-3.5 py-2"
    [class.glow]="isMakingProgress$ | async"
    [appTooltip]="progressTooltip"
    [tooltipOptions]="{ closeOnHostClick: false, preferredPosition: 'bottom', enableOnTouchDevice: true }"
>
    <div
        class="progress-bar | bg-tinted-700 group-hover:bg-tinted-600 flex h-1.5 grow rounded transition-colors"
        (intersectionChange)="isProgressBarVisible$.next($event)"
        [intersectionThreshold]="0.5"
    >
        <div
            *rxFor="let status of summary.progressBarSegments; trackBy: trackByStatus"
            class="progress-segment | h-full"
            [ngClass]="status.colorClass"
            [class.rounded-l]="status.isFirst"
            [class.rounded-r]="status.isLast"
            [style.width]="status.percent + '%'"
            [style.--color]="status.colorValue"
        ></div>
    </div>
    <button
        class="progress-number | text-tinted-600 font-bold transition-colors"
        [class.!text-submit-400]="summary.totalTaskCount && summary.closedTasksCount == summary.totalTaskCount"
        (click)="toggleShownAsPercentage()"
        [appTooltip]="isShownAsPercentage ? 'Display as fraction' : 'Display as percentage'"
        [tooltipOptions]="{ avoidPositions: ['left'] }"
    >
        {{ isShownAsPercentage ? summary.progressRounded + ' %' : summary.closedTasksCount + ' / ' + summary.totalTaskCount }}
    </button>

    <ng-template #progressTooltip>
        <ng-template #noTasks>0 %<span class="text-tinted-300"> - No tasks</span></ng-template>

        <ng-container *ngIf="summary.totalTaskCount; else noTasks">
            <div class="flex items-end justify-between gap-4">
                <span class="text-xl font-bold">
                    {{
                        isShownAsPercentage
                            ? summary.progress.toFixed(2).replace('.00', '') + ' %'
                            : summary.closedTasksCount + ' / ' + summary.totalTaskCount
                    }}
                </span>
                <span class="text-tinted-400">
                    {{
                        !isShownAsPercentage
                            ? summary.progress.toFixed(2).replace('.00', '') + ' %'
                            : summary.closedTasksCount + ' / ' + summary.totalTaskCount
                    }}
                    Closed
                </span>
            </div>
            <hr class="my-2" />
            <table>
                <tr *ngFor="let status of taskStatusValues">
                    <td class="pr-1"><app-icon [icon]="status"></app-icon></td>
                    <td [class]="statusColorMap[status].text">{{ statusLabelMap[status] }}</td>
                    <td class="pl-4 text-center">{{ summary.taskCountByStatus[status] }}</td>
                    <td class="text-tinted-300 text-right">
                        <span class="pl-4" [class.hidden]="!summary.taskCountByStatus[status]">
                            {{ ((summary.taskCountByStatus[status] / summary.totalTaskCount) * 100).toFixed(2).replace('.00', '') }}
                            %
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-tinted-400">All</td>
                    <td class="pl-4">{{ summary.totalTaskCount }}</td>
                    <td></td>
                </tr>
            </table>
        </ng-container>
    </ng-template>
</div>
