.progress-container:is(:hover, .glow) .progress-segment {
    box-shadow: 0 0 10px var(--color);
    transition: box-shadow 100ms, width 800ms ease-in-out, border-radius 800ms;
}
.progress-segment {
    transition: box-shadow 450ms, width 800ms ease-out;
}
.progress-container:is(:hover, .glow) .progress-number {
    @apply text-tinted-400;
}

table tr:not(:last-child) td {
    @apply pb-0.5;
}
